OBS/upload/OBS_Upload.json
[
    {
        "id": "576b7f2201b05df2",
        "type": "tab",
        "label": "3.4.7 OBS_Upload_Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d20f4c91a5c99b0",
        "type": "mqtt in",
        "z": "576b7f2201b05df2",
        "name": "Subscribe(\"{trainID}/data-upload/request\",DATA_UPLOAD_REQUEST_COMMAND)",
        "topic": "aemr_810001/data-upload/request",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e2ca8ae.a41228",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "9fc9942703976079"
            ]
        ]
    },
    {
        "id": "9fc9942703976079",
        "type": "function",
        "z": "576b7f2201b05df2",
        "name": "Convert Json to Object",
        "func": "let payload = JSON.parse(msg.payload);\nmsg.topicDataUploadRequest = msg.topic;\nmsg.dataUploadRequest = payload;\nmsg.payload = payload;\nglobal.set(\"payloadDataUploadRequest\",{\n    topic:msg.topic,\n    payload:payload\n})\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 160,
        "wires": [
            [
                "c17eab30ef6c8512",
                "479ee38fa75e7cd1"
            ]
        ]
    },
    {
        "id": "1f2eccdc7205bf74",
        "type": "mqtt out",
        "z": "576b7f2201b05df2",
        "name": "Publish(\"{trainID}/data-upload/available\",DATA_UPLOAD_AVAILABLE)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e2ca8ae.a41228",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "c17eab30ef6c8512",
        "type": "function",
        "z": "576b7f2201b05df2",
        "name": "publish Data Avaiable",
        "func": "function getCurrentDate() {\n    var myDate = new Date(Date.now());\n    return (myDate.getFullYear() + '-' + ('0' + (myDate.getMonth() + 1)).slice(-2) + '-' + ('0' + myDate.getDate()).slice(-2) + ' ' + myDate.getHours() + ':' + ('0' + (myDate.getMinutes())).slice(-2) + ':' + myDate.getSeconds() + \".\" + myDate.getMilliseconds());\n}\n\nvar payloadDataUploadRequest = msg.payload;\nglobal.set(\"dataUploadRequest\", payloadDataUploadRequest);\n\nvar dataUploadAvaiable = global.get(\"dataUploadAvaiable\");\n\nconst TIME_DELAY = parseInt(dataUploadAvaiable.timePublish) * 1000 || 500;\n   \nvar percentIncrement = parseInt(dataUploadAvaiable.percentIncrement);\n  \nvar maxProgress = parseInt(dataUploadAvaiable.fetchProgress);\n    \nvar currentPercent = 0;     \nif (dataUploadAvaiable) {\n    \n    //get train id from data upload request\n    let trainId = msg.topic.substring(0, msg.topic.indexOf(\"/\"));\n\n    msg.topic = trainId + \"/data-upload/available\";\n    \n    msg.qos = 2;\n    \n    msg.topicDataUploadAvaiable = msg.topic;\n    \n     const fileTransferUid = dataUploadAvaiable.fileTransferUid;\n    \n     var payload = {\n            ts: getCurrentDate(),\n            fileTransferUid,\n            filename: \"\",\n            fileType: \"\",\n            fileSize: \"\",\n            fetchProgress: currentPercent,\n            status: dataUploadAvaiable.status\n        }\n    \n    // pubish first message directly\n    msg.payload = payload;\n    msg.dataUploadAvaiable = payload;\n    node.send(msg);\n\n    \n    // send message loop\n    var loop = setInterval(async () => {\n        currentPercent += percentIncrement;\n        payload = {\n            ts: getCurrentDate(),\n            fileTransferUid,\n            filename: \"\",\n            fileType: \"\",\n            fileSize: \"\",\n            fetchProgress: currentPercent,\n            status: dataUploadAvaiable.status\n\n        }\n        \n\n        if (currentPercent >= maxProgress) {\n           \n            var fileName = maxProgress == 100? dataUploadAvaiable.filename :\"\";\n            var fileType = maxProgress == 100? dataUploadAvaiable.fileType :\"\";\n            var fileSize = maxProgress == 100? dataUploadAvaiable.fileSize :\"\";\n            payload = {\n                ts: getCurrentDate(),\n                fileTransferUid,\n                filename: fileName ,\n                fileType: fileType,\n                fileSize: fileSize,\n                fetchProgress: maxProgress,\n                status: dataUploadAvaiable.status\n\n            }\n            \n            global.set(\"payloadDataUploadAvaiable\",\n            {topic:msg.topic,\n            payload:payload\n            })\n            clearInterval(loop);\n            \n          \n        }\n            msg.dataUploadAvaiable = payload;\n            msg.payload = payload;\n   \n            node.send(msg);\n\n    }, TIME_DELAY);\n\n\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 300,
        "wires": [
            [
                "1f2eccdc7205bf74",
                "479ee38fa75e7cd1"
            ]
        ]
    },
    {
        "id": "15b55e5b4914edea",
        "type": "mqtt in",
        "z": "576b7f2201b05df2",
        "name": "Subscribe(\"{trainID}/data-upload/send\",DATA_UPLOAD_SEND_COMMAND)",
        "topic": "aemr_810001/data-upload/send",
        "qos": "1",
        "datatype": "auto",
        "broker": "6e2ca8ae.a41228",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 460,
        "wires": [
            [
                "40f2eb99b48c1477"
            ]
        ]
    },
    {
        "id": "70e5a431db7038f3",
        "type": "function",
        "z": "576b7f2201b05df2",
        "name": "Util method",
        "func": "function sha512(str) {\n  return crypto.subtle.digest(\"SHA-512\", new TextEncoder(\"utf-8\").encode(str)).then(buf => {\n    return Array.prototype.map.call(new Uint8Array(buf), x=>(('00'+x.toString(16)).slice(-2))).join('');\n  });\n}\nsha512(\"my string for hashing\").then(x => node.warn(x));",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "263aa68aeaf4430c",
        "type": "inject",
        "z": "576b7f2201b05df2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "70e5a431db7038f3"
            ]
        ]
    },
    {
        "id": "b91d15a66dd9f8ea",
        "type": "ftp in",
        "z": "576b7f2201b05df2",
        "ftp": "0ffc60f677ed73fc",
        "operation": "put",
        "filename": "",
        "localFilename": "",
        "workdir": "",
        "savedir": "",
        "name": "FTP Server",
        "x": 2190,
        "y": 580,
        "wires": [
            [
                "4c7975d61ce7b41c"
            ]
        ]
    },
    {
        "id": "20cdc93e3417b338",
        "type": "function",
        "z": "576b7f2201b05df2",
        "name": "FTP put",
        "func": "\n\nvar dataUploadAvaiable = global.get(\"dataUploadAvaiable\");\n\nlet filename = \"./\"+msg.payload.storageURL +\"/\" + dataUploadAvaiable.filename;\n\nlet filedata= dataUploadAvaiable.fileData;\nnode.warn(filedata)\nmsg.payload ={}\n\nmsg.payload.filename =filename\nmsg.payload.filedata = filedata;\n\n// msg.user = env.get(\"FTP_USER\");\n// msg.password = env.get(\"FTP_PASS\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2020,
        "y": 580,
        "wires": [
            [
                "b91d15a66dd9f8ea"
            ]
        ]
    },
    {
        "id": "038a4d2e349c581a",
        "type": "ui_template",
        "z": "576b7f2201b05df2",
        "d": true,
        "group": "a260c91456b84e7a",
        "name": "Config_tempalate",
        "order": 3,
        "width": "22",
        "height": "10",
        "format": "<!doctype html>\n<html lang=\"en\">\n\n<head>\n    <title>Title</title>\n    <!-- Required meta tags -->\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n\n    <!-- Bootstrap CSS -->\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\"\n        integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n\n    <!-- my javascript -->\n\n    <style>\n        .or-seperator {\n            margin-top: 20px;\n            text-align: center;\n            border-top: 1px solid #ccc;\n        }\n\n        .or-seperator i {\n            cursor: pointer;\n            padding: 0 10px;\n            background: #f7f7f7;\n            position: relative;\n            top: -11px;\n            z-index: 1;\n            transition: 0.4s;\n\n        }\n\n        .or-seperator i:hover {\n            background: #dbdada;\n\n\n        }\n\n        .or-seperator i.arrow {\n            padding: 0 10px;\n            background: #f7f7f7;\n            position: relative;\n            top: -11px;\n            z-index: 1;\n\n        }\n\n        .border-line::before {\n            width: 100%;\n            content: \"\";\n            border-top: 1px solid rgb(87, 86, 86);\n            margin-bottom: 20px;\n        }\n\n        .error-border {\n            border-color: red;\n        }\n    </style>\n</head>\n\n<body>\n\n    <div class=\"container\">\n        <div class=\"row\">\n            <div class=\"col-sm-12\">\n                <div class=\"or-seperator\">\n                    <i id=\"config-label\">Require Config\n                        <span class=\"arrow\">&#8659;</span>\n                    </i>\n\n\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <!-- config area -->\n    <div class=\"container\" id=\"config-form\">\n        <!-- Publish data upload avaiable  -->\n        <div class=\"row\">\n            <div class=\"col-sm-12\">\n                <h3>Publish data upload avaiable</h3>\n\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">ts</th>\n                            <th scope=\"col\">fileTransferUid</th>\n                            <th scope=\"col\">filename</th>\n                            <th scope=\"col\">fileType</th>\n                            <th scope=\"col\">fileSize</th>\n                            <th scope=\"col\">fetchProgress</th>\n                            <th scope=\"col\">status</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <th scope=\"row\">1</th>\n                            <td>Mark</td>\n                            <td><input type=\"file\" id=\"fileName\"></td>\n                            <td><input type=\"number\" class=\"form-control \" min=\"0\" max=\"255\" value=\"0\"\n                                    placeholder=\"0-255\" id=\"fileType\"></td>\n                            <td><span id=\"fileSize\"></span></td>\n                            <td>fetchProgress</td>\n                            <td>\n                                <div class=\"form-group\">\n                                    <select id=\"selectStatus\" class=\"form-control \">\n                                        <option value=\"0\"> 0</option>\n                                        <option value=\"1\"> 1</option>\n                                        <option value=\"2\"> 2</option>\n                                        <option value=\"3\"> 3</option>\n                                        <option value=\"4\"> 4</option>\n                                        <option value=\"5\"> 5</option>\n                                        <option value=\"6\"> 6</option>\n                                        <option value=\"7\"> 7</option>\n                                        <option value=\"7\"> 8</option>\n                                    </select>\n                                </div>\n                            </td>\n                        </tr>\n                    </tbody>\n                </table>\n            </div>\n        </div>\n        <!--End Publish data upload avaiable  -->\n        <!--Publish data upload sent  -->\n        <div class=\"row border-line\">\n            <div class=\"col-sm-12\">\n                <h3>Publish data upload sent</h3>\n\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">ts</th>\n                            <th scope=\"col\">fileTransferUid</th>\n                            <th scope=\"col\">storageURL</th>\n                            <th scope=\"col\">fileUploadResult</th>\n                            <th scope=\"col\">fileChecksum</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <th scope=\"row\">1</th>\n                            <td>fileTransferUid</td>\n                            <td>storageURL</td>\n                            <td>\n                                <div class=\"form-group\">\n                                    <select id=\"selectFileUploadResult\" class=\"form-control w-25\">\n                                        <option value=\"0\"> 0</option>\n                                        <option value=\"1\"> 1</option>\n                                        <option value=\"2\"> 2</option>\n                                        <option value=\"3\"> 3</option>\n                                        <option value=\"4\"> 4</option>\n\n                                    </select>\n                                </div>\n                            </td>\n                            <td>fileChecksum</td>\n\n                    </tbody>\n                </table>\n            </div>\n        </div>\n        <!--End Publish data upload sent  -->\n\n        <div class=\"row\">\n            <div class=\"col-sm-12\">\n                <button type=\"button\" id=\"save\" class=\"btn btn-success w-100\">Save</button>\n            </div>\n        </div>\n\n    </div>\n\n\n\n    <!-- Optional JavaScript -->\n    <!-- jQuery first, then Popper.js, then Bootstrap JS -->\n    <script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\"\n        integrity=\"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo\"\n        crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"\n        integrity=\"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1\"\n        crossorigin=\"anonymous\"></script>\n    <script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"\n        integrity=\"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM\"\n        crossorigin=\"anonymous\"></script>\n\n\n    <!-- Latest compiled and minified CSS -->\n    <link rel=\"stylesheet\"\n        href=\"https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css\">\n\n    <!-- Latest compiled and minified JavaScript -->\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js\"></script>\n\n\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n\n    <script type=\"text/javascript\">\n\n        function bytesToSize(bytes) {\n            var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];\n            if (bytes == 0) return '0 Byte';\n            var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));\n            return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];\n        }\n\n        var showInvalidInput = (field, errorContent) => {\n            $(field).text(errorContent);\n        }\n        var hideInvalidInput = (field) => {\n            $(field).text(\"\");\n        }\n\n        var TIME_OUT_ERR_AS_MS = 3000;\n        var CLASS_ERROR_BORDER = \"error-border\";\n        // id need to handle\n        var fileNameInput = $(\"#fileName\");\n        var saveButton = $(\"#save\");\n        var fileSizeSpanId = $(\"#fileSize\");\n        var fileTypeInputId = $(\"#fileType\");\n        var configFormId = $(\"#config-form\");\n        var configLabelId = $(\"#config-label\");\n        var configFlowDetailLabelId = $(\"#flow-detail-config-label\");\n        var flowDetailId = $(\"#flow-detail\");\n        var selectStatusId = $(\"#selectStatus\");\n\n\n        var fileUploadResultSelectId = $(\"#selectFileUploadResult\");\n        // payload data\n\n        //data upload avaiable\n        var fileName = \"\";\n        var fileData = \"\";\n        var fileSize = \"\";\n        var fileType = 0;\n        var status =0;\n        //<=========================== HANDLE AREA ======================================>\n\n        var handleReadFile = function (event) {\n\n            var file = fileNameInput[0].files[0];\n            if (file) { // if file exist\n\n                fileName = file.name;\n                fileSize = file.size;\n\n                let fileSizeConvert = bytesToSize(file.size)\n                fileSizeSpanId.text(fileSizeConvert)\n\n                var reader = new FileReader();\n                reader.readAsBinaryString(file);\n\n                reader.onload = function () {\n                    fileData = reader.result;\n\n                };\n                reader.onerror = function () {\n                    console.log('Error while reading files');\n                };\n\n            } else {\n                // todo with file is not exist\n\n                // scope.send({ payload: null })\n            }\n\n        }\n\n        //<=========================== END HANDLE AREA ======================================>    \n        fileNameInput.on('change', handleReadFile);\n\n        (function (scope) {\n\n\n\n        saveButton.on(\"click\", function (e) {\n\n            fileType = parseInt(fileTypeInputId.val());\n            // check user input\n            if (fileName.length === 0 || fileType < 0 || fileType > 255) {\n                if (fileName.length === 0) {\n\n                }\n                if (fileType < 0) {\n\n                }\n                if (fileType > 255) {\n\n                }\n\n\n            } else {\n                let dataUploadAvaible = {\n                    filename:fileName,\n                    fileData,\n                    fileType: fileType,\n                    fileSize:fileSize,\n                    status: selectStatusId.val()\n                }\n                let dataUploadSent = {\n                    fileUploadResult: fileUploadResultSelectId.val()\n                }\n\n                let payload = {\n                    dataUploadAvaible,\n                    dataUploadSent\n                }\n                $.ajax({\n                    url: \"/update-payload\",\n                    type: \"POST\",\n                    data: payload,\n                    cache: false,\n                    success: function (res) {\n                        console.log(res);\n                    }\n                });\n\n                // scope.send({\n                //     dataUploadAvaible,\n                //     dataUploadSent\n                // })\n            }\n\n\n        })\n\n        })(scope);\n\n        var handelConfigLabel = (e) => {\n            // check if is open\n            if (configFormId.css(\"display\") == \"none\") {\n                configFormId.css(\"display\", \"\");\n            } else {\n\n                configFormId.css(\"display\", \"none\");\n            }\n            // configFormId.slideToggle(\"slow\");\n        }\n\n        var handleConfigLabelDetail = (e) => {\n            console.log(\"ok\");\n            // check if is open\n            if (flowDetailId.css(\"display\") == \"none\") {\n                flowDetailId.css(\"display\", \"\");\n            } else {\n\n                flowDetailId.css(\"display\", \"none\");\n            }\n        }\n\n        $(document).ready(function () {\n            configLabelId.on(\"click\", handelConfigLabel)\n            // configFlowDetailLabelId.on(\"click\", handleConfigLabelDetail);\n\n          \n        });\n    </script>\n\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 350,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "4c7975d61ce7b41c",
        "type": "debug",
        "z": "576b7f2201b05df2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2360,
        "y": 580,
        "wires": []
    },
    {
        "id": "2817189286652713",
        "type": "http in",
        "z": "576b7f2201b05df2",
        "name": "",
        "url": "/update-payload",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 800,
        "wires": [
            [
                "8a8fa80f73e3d326",
                "f4a3463084acefa8"
            ]
        ]
    },
    {
        "id": "ca1344997bd7cc37",
        "type": "http response",
        "z": "576b7f2201b05df2",
        "name": "",
        "x": 990,
        "y": 800,
        "wires": []
    },
    {
        "id": "8a8fa80f73e3d326",
        "type": "function",
        "z": "576b7f2201b05df2",
        "name": "return msg.payload to client",
        "func": "try {\n\n    var payload = msg.payload;\n    global.set(\"dataUploadAvaiable\", payload.dataUploadAvaible);\n    global.set(\"dataUploadSent\", payload.dataUploadSent);\n    msg.payload ={};\n    msg.payload.status =true;\n    msg.payload.data = payload;\n    return msg;\n} catch (e) {\n    msg.payload ={};\n    msg.payload.status = false;\n    \n    msg.payload.error = e + \"\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 800,
        "wires": [
            [
                "ca1344997bd7cc37"
            ]
        ]
    },
    {
        "id": "dc492b296cf6c26f",
        "type": "comment",
        "z": "576b7f2201b05df2",
        "name": "Form Submission",
        "info": "",
        "x": 320,
        "y": 720,
        "wires": []
    },
    {
        "id": "f4a3463084acefa8",
        "type": "debug",
        "z": "576b7f2201b05df2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 720,
        "wires": []
    },
    {
        "id": "479ee38fa75e7cd1",
        "type": "ui_template",
        "z": "576b7f2201b05df2",
        "group": "a260c91456b84e7a",
        "name": "Detail_template",
        "order": 0,
        "width": "22",
        "height": "22",
        "format": "<!doctype html>\n<html lang=\"en\">\n\n<head>\n    <title>Title</title>\n    <!-- Required meta tags -->\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n\n    <!-- Bootstrap CSS -->\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\"\n        integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n\n    <!-- my javascript -->\n\n    <!-- front awesome -->\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css\"\n        integrity=\"sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==\"\n        crossorigin=\"anonymous\" referrerpolicy=\"no-referrer\" />\n    <style>\n        .or-seperator {\n            margin-top: 20px;\n            text-align: center;\n            border-top: 1px solid #ccc;\n        }\n\n        .or-seperator i {\n            cursor: pointer;\n            padding: 0 10px;\n            background: #f7f7f7;\n            position: relative;\n            top: -11px;\n            z-index: 1;\n            transition: 0.4s;\n\n        }\n\n        .or-seperator i:hover {\n            background: #dbdada;\n\n\n        }\n\n        .or-seperator i.arrow {\n            padding: 0 10px;\n            background: #f7f7f7;\n            position: relative;\n            top: -11px;\n            z-index: 1;\n\n        }\n\n        .border-line::before {\n            width: 100%;\n            content: \"\";\n            border-top: 1px solid rgb(87, 86, 86);\n            margin-bottom: 20px;\n        }\n\n        .error-border {\n            border-color: red;\n        }\n\n        .error-notification {\n            font-size: 13px;\n            color: #d93025;\n            visibility: hidden;\n\n        }\n\n        .error-notification.is-visible {\n            visibility: visible;\n        }\n\n        /*      table css  */\n        table {\n            border-collapse: collapse;\n            table-layout: fixed;\n            /* width: 310px; */\n        }\n\n        table td {\n\n            /* width: 100px; */\n            word-wrap: break-word;\n            overflow: hidden;\n        }\n\n        table th {\n            overflow: hidden;\n            /* border: solid 1px #fab; */\n            /* width: 100px; */\n            /* word-wrap: break-word; */\n        }\n\n        /* .my-custom-scrollbar {\n            position: relative;\n            width: 100%;\n            overflow-x: auto;\n        }\n\n        .table-wrapper-scroll-x {\n            display: block;\n        } */\n\n        .setting-icon {\n            cursor: pointer;\n        }\n\n        /* pop up */\n        /* 1. Ensure this sits above everything when visible */\n        .modals {\n            background-color: #0807077d;\n            position: absolute;\n            z-index: 10000;\n            /* 1 */\n            top: 0;\n            left: 0;\n            visibility: hidden;\n            width: 100%;\n            height: 100%;\n        }\n\n        .modals.is-visible {\n            visibility: visible;\n\n        }\n\n        .modals-overlay {\n            position: fixed;\n            z-index: 10;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            background: hsla(0, 0%, 0%, 0.5);\n            visibility: hidden;\n            opacity: 0;\n            transition: visibility 0s linear 0.3s, opacity 0.3s;\n        }\n\n        .modals.is-visible .modals-overlay {\n            opacity: 1;\n            visibility: visible;\n            transition-delay: 0s;\n        }\n\n        .modals-wrapper {\n            position: absolute;\n            z-index: 9999;\n            top: 6em;\n            left: 40%;\n            width: 50%;\n            height: 400px;\n            margin-left: -16em;\n            background-color: #fff;\n            box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);\n        }\n\n        .modals-transition {\n            transition: all 0.3s 0.12s;\n            transform: translateY(-10%);\n            opacity: 0;\n        }\n\n        .modals.is-visible .modals-transition {\n            transform: translateY(0);\n            opacity: 1;\n        }\n\n        .modals-header,\n        .modals-content {\n            padding: 1em;\n        }\n\n        .modals-header {\n            position: relative;\n            background-color: #fff;\n            box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);\n            border-bottom: 1px solid #e8e8e8;\n        }\n\n        .modals-close {\n            position: absolute;\n            top: 0;\n            right: 0;\n            padding: 1em;\n            color: #aaa;\n            background: none;\n            border: 0;\n        }\n\n        .modals-close:hover {\n            color: #777;\n        }\n\n        .modals-heading {\n            font-size: 1.125em;\n            margin: 0;\n            -webkit-font-smoothing: antialiased;\n            -moz-osx-font-smoothing: grayscale;\n        }\n\n        .modals-content>*:first-child {\n            margin-top: 0;\n        }\n\n        .modals-content>*:last-child {\n            margin-bottom: 0;\n        }\n\n        div.wrap {\n            padding: 0 10px 0 10px;\n        }\n\n        div.wrap div {\n\n            position: relative;\n        }\n\n\n        div.wrap div label {\n\n            position: absolute;\n            top: 0;\n            font-size: 15px;\n            margin: 10px;\n            padding: 0 10px;\n            -webkit-transition: top .2s ease-in-out,\n                font-size .2s ease-in-out;\n            transition: top .2s ease-in-out,\n                font-size .2s ease-in-out;\n        }\n\n        div.wrap div input[type=number] {\n            width: 100%;\n            padding: 5px;\n\n            /* font-size: 20px; */\n\n\n        }\n\n        div.wrap div input[type=number]:focus {\n            outline: none;\n        }\n\n        .active {\n            top: -25px !important;\n            font-size: 12px !important;\n            background-color: white;\n        }\n\n       \n\n        .custom-file-upload {\n            border: 1px solid #ccc;\n            display: inline-block;\n            padding: 6px 10px;\n            cursor: pointer;\n        }\n        .custom-file-upload input[type=\"file\"] {\n            display: none;\n        }\n    </style>\n</head>\n\n<body>\n\n    <div class=\"container table-responsive\">\n        <div class=\"row\">\n            <div class=\"col-sm-12\">\n                <div class=\"or-seperator\">\n                    <i id=\"config-label\">Require Config\n                        <span class=\"arrow\">&#8659;</span>\n                    </i>\n\n\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <!-- config area -->\n    <div class=\"container\" id=\"config-form\">\n        <!-- Publish data upload avaiable  -->\n        <div class=\"row\">\n            <div class=\"col-sm-12\">\n                <h3>Publish data upload avaiable</h3>\n\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table table-bordered table-hover\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">ts</th>\n                            <th scope=\"col\">fileTransferUid</th>\n                            <th scope=\"col\">filename</th>\n                            <th scope=\"col\">fileType</th>\n                            <th scope=\"col\">fileSize</th>\n                            <th scope=\"col\">fetchProgress</th>\n                            <th scope=\"col\">status</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <td scope=\"row\">1</td>\n                            <td><input class=\"form-control \" min=\"0\" value=\"123\" type=\"number\" id=\"fileTransferUid\">\n                            </td>\n                            <td>\n                                <input type=\"file\" id=\"fileName\">\n                                <!-- <label class=\"custom-file-upload\">\n                                    <input type=\"file\" id=\"fileName\" />\n                                    <i class=\"fas fa-cloud-upload-alt\"></i>\n                                    <span>Choose File</span>\n                                </label> -->\n                            </td>\n                            <td><input type=\"number\" class=\"form-control \" min=\"0\" max=\"255\" value=\"0\"\n                                    placeholder=\"0-255\" id=\"fileType\"></td>\n                            <td><span id=\"fileSize\"></span></td>\n                            <td class=\"d-flex\" style=\"border: none;\">\n                                <input max=\"100\" min=\"0\" id=\"fetchProgress\" class=\"form-control \" type=\"number\">\n                                <i id=\"settingFetchProgress\" href=\"#popup1\"\n                                    class=\"fas fa-cog setting-icon settingFetchProgress\"\n                                    style=\"/* padding-left: 5px; */margin-left: 5px;align-self: center;\"></i>\n                            </td>\n                            <td>\n                                <div class=\"form-group\">\n                                    <select id=\"selectStatus\" class=\"form-control \">\n                                        <option value=\"0\"> 0 : N/A</option>\n                                        <option value=\"1\"> 1 : Error, data not available</option>\n                                        <option value=\"2\"> 2 : Error, sub-system unavailable</option>\n                                        <option value=\"3\"> 3 : Error, data type unknown</option>\n                                        <option value=\"4\"> 4 : Error, timeframe unavailable</option>\n                                        <option value=\"5\"> 5 : Energy Meter Result 0</option>\n                                        <option value=\"6\"> 6 : Energy Meter Result 1</option>\n                                        <option value=\"7\"> 7 : Energy Meter Result 2</option>\n                                        <option value=\"7\"> 8 : Energy Meter Result 3</option>\n                                    </select>\n                                </div>\n                            </td>\n                        </tr>\n                    </tbody>\n                </table>\n            </div>\n        </div>\n        <!--End Publish data upload avaiable  -->\n        <!--Publish data upload sent  -->\n        <div class=\"row border-line\">\n            <div class=\"col-sm-12\">\n                <h3>Publish data upload sent</h3>\n\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table table-bordered table-hover\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">ts</th>\n                            <th scope=\"col\">fileTransferUid</th>\n                            <th scope=\"col\">storageURL</th>\n                            <th scope=\"col\">fileUploadResult</th>\n                            <th scope=\"col\">fileChecksum</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <th scope=\"row\">1</th>\n                            <td>fileTransferUid</td>\n                            <td>storageURL</td>\n                            <td>\n                                <div class=\"form-group\">\n                                    <select id=\"selectFileUploadResult\" class=\"form-control \">\n                                        <option value=\"0\"> 0 : N/A</option>\n                                        <option selected value=\"1\"> 1 : Upload OK</option>\n                                        <option value=\"2\"> 2 : Upload aborted</option>\n                                        <option value=\"3\"> 3 : Upload could not start</option>\n                                        <option value=\"4\"> 4 : Upload timed out</option>\n\n                                    </select>\n                                </div>\n                            </td>\n                            <td>fileChecksum</td>\n\n                    </tbody>\n                </table>\n            </div>\n        </div>\n        <!--End Publish data upload sent  -->\n\n        <div class=\"row\">\n            <div class=\"col-sm-12\">\n                <button type=\"button\" id=\"save\" class=\"btn btn-success w-100\">Save</button>\n            </div>\n        </div>\n\n    </div>\n    <!-- setting pop-up -->\n    <div class=\"modals\">\n\n        <div class=\"modals-wrapper modals-transition\">\n            <div class=\"modals-header\">\n                <i class=\"fas fa-times\" id=\"closeSettingFetchProgress\" style=\"float: right;cursor: pointer;\"></i>\n                <h2 class=\"modals-heading text-center\">Setting Fetch Progess</h2>\n            </div>\n\n            <div class=\"row wrap mt-3\" id=\"settingDataUploadAvailableForm\">\n                <div class=\"col-sm-6\">\n                    <label class=\"active\" for=\"maxProgress\">Max progess</label>\n                    <input id=\"maxProgress\" type=\"number\" />\n                    <div class=\"error-notification\">\n                        <i class=\"fas fa-info-circle\"></i>\n                        <span></span>\n                    </div>\n                </div>\n                <div class=\"col-sm-6\">\n                    <label class=\"active\" for=\"timePublish\">Time publish per payload (Second)</label>\n                    <input id=\"timePublish\" type=\"number\" />\n                    <div class=\"error-notification\">\n                        <i class=\"fas fa-info-circle\"></i>\n                        <span></span>\n                    </div>\n                </div>\n\n                <div class=\"col-sm-12 mt-5\">\n                    <label class=\"active\" for=\"percentIncerment\">Percent increment per time</label>\n                    <input id=\"percentIncerment\" type=\"number\" />\n                    <div class=\"error-notification\">\n                        <i class=\"fas fa-info-circle\"></i>\n                        <span></span>\n                    </div>\n                </div>\n            </div>\n            <div class=\"btn btn-info w-25\" id=\"btnSaveSettingUplodaAvaiable\" style=\"position: absolute;\n            bottom: 5px; left: calc(50% - 12%);\">Save</div>\n        </div>\n    </div>\n    <!-- flow detail -->\n    <div class=\"container table-responsive\">\n        <div class=\"row\">\n            <div class=\"col-sm-12\">\n                <div class=\"or-seperator\">\n                    <i id=\"flow-detail-config-label\">Flow Detail\n                        <span class=\"arrow\">&#8659;</span>\n                    </i>\n                </div>\n            </div>\n        </div>\n    </div>\n\n\n    <div class=\"container\" style=\"display: none;\" id=\"flow-detail\">\n        <div class=\"row\">\n            <div class=\"col-sm-12\">\n                <h3>Subscribe data upload request</h3>\n                <p>topic : <span style=\"font-weight: bold;\">{{msg.topicDataUploadRequest}}</span></p>\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table table-bordered table-hover  table-wrapper-scroll-x my-custom-scrollbar\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">ts</th>\n                            <th scope=\"col\">fileTransferUid</th>\n                            <th scope=\"col\">fileType</th>\n                            <th scope=\"col\">fileSubType</th>\n                            <th scope=\"col\">downloadOption</th>\n                            <th scope=\"col\">vehicleId</th>\n                            <th scope=\"col\">fromDate</th>\n                            <th scope=\"col\">toDate</th>\n                            <th scope=\"col\">requestSize</th>\n                            <th scope=\"col\">transferMethod</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <td scope=\"row\">{{msg.dataUploadRequest.ts}}</td>\n                            <td>{{msg.dataUploadRequest.fileTransferUid}}</td>\n                            <td>{{msg.dataUploadRequest.fileType}}</td>\n                            <td>{{msg.dataUploadRequest.fileSubType}}</td>\n                            <td>{{msg.dataUploadRequest.downloadOption}}</td>\n                            <td>{{msg.dataUploadRequest.vehicleId}}</td>\n                            <td>{{msg.dataUploadRequest.fromDate}}</td>\n                            <td>{{msg.dataUploadRequest.toDate}}</td>\n                            <td>{{msg.dataUploadRequest.requestSize}}</td>\n                            <td>{{msg.dataUploadRequest.transferMethod}}</td>\n                        </tr>\n                    </tbody>\n                </table>\n            </div>\n        </div>\n\n        <!-- Publish data upload avaiable  -->\n        <div class=\"row border-line\">\n            <div class=\"col-sm-12\">\n                <h3>Publish data upload avaiable</h3>\n                <p>topic : <span style=\"font-weight: bold;\">{{msg.topicDataUploadAvaiable}}</span></p>\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table table-bordered table-hover\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">ts</th>\n                            <th scope=\"col\">fileTransferUid</th>\n                            <th scope=\"col\">filename</th>\n                            <th scope=\"col\">fileType</th>\n                            <th scope=\"col\">fileSize</th>\n                            <th scope=\"col\">fetchProgress</th>\n                            <th scope=\"col\">status</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <td scope=\"row\">{{msg.dataUploadAvaiable.ts}}</td>\n                            <td>{{msg.dataUploadAvaiable.fileTransferUid}}</td>\n                            <td>{{msg.dataUploadAvaiable.filename}}</td>\n                            <td>{{msg.dataUploadAvaiable.fileType}}</td>\n                            <td>{{msg.dataUploadAvaiable.fileSize}}</td>\n                            <td>{{msg.dataUploadAvaiable.fetchProgress}}</td>\n                            <td>\n                                {{msg.dataUploadAvaiable.status}}\n                            </td>\n                        </tr>\n                    </tbody>\n                </table>\n            </div>\n        </div>\n        <!--End Publish data upload avaiable  -->\n\n        <!--Subscribe data upload send  -->\n        <div class=\"row border-line\">\n            <div class=\"col-sm-12\">\n                <h3>Subscribe data upload send</h3>\n                <p>topic : <span style=\"font-weight: bold;\">{{msg.topicDataUploadSend}}</span></p>\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table table-bordered table-hover\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">ts</th>\n                            <th scope=\"col\">fileTransferUid</th>\n                            <th scope=\"col\">storageURL</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <th scope=\"row\">{{msg.dataUploadSend.ts}}</th>\n                            <td>{{msg.dataUploadSend.fileTransferUid}}</td>\n                            <td>{{msg.dataUploadSend.storageURL}}</td>\n\n                    </tbody>\n                </table>\n            </div>\n        </div>\n        <!--End Subscribe data upload send  -->\n\n        <!--Publish data upload sent  -->\n        <div class=\"row border-line\">\n            <div class=\"col-sm-12\">\n                <h3>Publish data upload sent</h3>\n                <p>topic : <span style=\"font-weight: bold;\">{{msg.topicDataUploadSent}}</span></p>\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table table-bordered table-hover\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">ts</th>\n                            <th scope=\"col\">fileTransferUid</th>\n                            <th scope=\"col\">storageURL</th>\n                            <th scope=\"col\">fileUploadResult</th>\n                            <th scope=\"col\">fileChecksum</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <th scope=\"row\">{{msg.dataUploadSent.ts}}</th>\n                            <td>{{msg.dataUploadSent.fileTransferUid}}</td>\n                            <td>{{msg.dataUploadSent.storageURL}}</td>\n                            <td>{{msg.dataUploadSent.fileUploadResult}}</td>\n                            <td>{{msg.dataUploadSent.fileChecksum}}</td>\n\n                    </tbody>\n                </table>\n            </div>\n        </div>\n        <!--End Publish data upload sent  -->\n        <!--Subscribe data upload Received  -->\n        <div class=\"row border-line\">\n            <div class=\"col-sm-12\">\n                <h3>Publish data upload received</h3>\n                <p>topic : <span style=\"font-weight: bold;\">{{msg.topicDataUploadReceived}}</span></p>\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table table-bordered table-hover\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">ts</th>\n                            <th scope=\"col\">fileTransferUid</th>\n                            <th scope=\"col\">fileUploadResult</th>\n                            <th scope=\"col\">details</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <th scope=\"row\">{{msg.dataUploadReceived.ts}}</th>\n                            <td>{{msg.dataUploadReceived.fileTransferUid}}</td>\n                            <td>{{msg.dataUploadReceived.fileUploadResult}}</td>\n                            <td>{{msg.dataUploadReceived.details}}</td>\n\n                    </tbody>\n                </table>\n            </div>\n        </div>\n        <!--End Subscribe data upload sent  -->\n\n\n    </div>\n\n\n\n\n    <!-- Optional JavaScript -->\n    <!-- jQuery first, then Popper.js, then Bootstrap JS -->\n    <script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\"\n        integrity=\"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo\"\n        crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"\n        integrity=\"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1\"\n        crossorigin=\"anonymous\"></script>\n    <script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"\n        integrity=\"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM\"\n        crossorigin=\"anonymous\"></script>\n\n\n    <!-- Latest compiled and minified CSS -->\n    <link rel=\"stylesheet\"\n        href=\"https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css\">\n\n    <!-- Latest compiled and minified JavaScript -->\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js\"></script>\n\n\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n\n    <script type=\"text/javascript\">\n\n\n        function bytesToSize(bytes) {\n            var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];\n            if (bytes == 0) return '0 Byte';\n            var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));\n            return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];\n        }\n\n        var showInvalidInput = (field, errorContent) => {\n            $(field).text(errorContent);\n        }\n        var hideInvalidInput = (field) => {\n            $(field).text(\"\");\n        }\n\n        var TIME_OUT_ERR_AS_MS = 3000;\n        var CLASS_ERROR_BORDER = \"error-border\";\n        var CLASS_ERROR_NOTIFICATION = \"error-notification\";\n        // id need to handle\n        var fileNameInput = $(\"#fileName\");\n        var saveButton = $(\"#save\");\n        var fileSizeSpanId = $(\"#fileSize\");\n        var fileTypeInputId = $(\"#fileType\");\n        var configFormId = $(\"#config-form\");\n        var configLabelId = $(\"#config-label\");\n        var configFlowDetailLabelId = $(\"#flow-detail-config-label\");\n        var flowDetailId = $(\"#flow-detail\");\n        var selectStatusId = $(\"#selectStatus\");\n        var fileTransferUidInputId = $(\"#fileTransferUid\");\n\n        var settingDataUploadAvailableFormId = $(\"#settingDataUploadAvailableForm\");\n        var settingFetchProgressIconClass = $(\".settingFetchProgress\");\n        var closeSettingFetchProgressIconId = $(\"#closeSettingFetchProgress\");\n        var maxProgressInputId = $(\"#maxProgress\");\n        var timePublishInputId = $(\"#timePublish\");\n        var percentIncermentInputId = $(\"#percentIncerment\");\n        var saveButtonSettingDataUploadAvaiavleId = $(\"#btnSaveSettingUplodaAvaiable\");\n        var fetchProgressInputId = $(\"#fetchProgress\");\n        var fileUploadResultSelectId = $(\"#selectFileUploadResult\");\n        // payload data\n\n        //data upload avaiable\n        var fileName = \"\";\n        var fileData = \"\";\n        var fileSize = \"\";\n        var fileType = 0;\n        var status = 0;\n        var fetchProgress = parseInt(localStorage.getItem(\"fetchProgress\")) || 100;\n        var timePublish = parseInt(localStorage.getItem(\"timePublish\")) || 30;\n        var percentIncerment = parseInt(localStorage.getItem(\"percentIncerment\")) || 20;\n\n        //<=========================== HANDLE AREA ======================================>\n\n        var handleReadFile = function (event) {\n            var file = fileNameInput[0].files[0];\n            if (file) { // if file exist\n\n                fileName = file.name;\n                fileSize = file.size;\n\n                let fileSizeConvert = bytesToSize(file.size)\n                fileSizeSpanId.text(fileSizeConvert)\n\n                var reader = new FileReader();\n                reader.readAsBinaryString(file);\n\n                reader.onload = function () {\n                    fileData = reader.result;\n\n                };\n                reader.onerror = function () {\n                    console.log('Error while reading files');\n                };\n\n            } else {\n                // todo with file is not exist\n\n                // scope.send({ payload: null })\n            }\n\n        }\n\n        //<=========================== END HANDLE AREA ======================================>    \n        fileNameInput.on('change', handleReadFile);\n\n        // (function (scope) {\n\n\n\n        // scope.send({\n        //     dataUploadAvaible,\n        //     dataUploadSent\n        // })\n\n\n        // })(scope);\n\n        var handelConfigLabel = (e) => {\n            // check if is open\n            if (configFormId.css(\"display\") == \"none\") {\n                configFormId.css(\"display\", \"\");\n            } else {\n\n                configFormId.css(\"display\", \"none\");\n            }\n            // configFormId.slideToggle(\"slow\");\n        }\n\n        var handleConfigLabelDetail = (e) => {\n            console.log(\"ok\");\n            // check if is open\n            if (flowDetailId.css(\"display\") == \"none\") {\n                flowDetailId.css(\"display\", \"\");\n            } else {\n\n                flowDetailId.css(\"display\", \"none\");\n            }\n        }\n\n        var handleSettingFetchProgress = function () {\n            $('.modals').addClass('is-visible');\n        }\n        \n        function handleCloseSettingFetchProgress() {\n\n            // set last value if incorrect\n            maxProgressInputId.val(fetchProgress);\n            timePublishInputId.val(timePublish);\n            percentIncermentInputId.val(percentIncerment);\n\n            //clear border error in input\n            $(\"#settingDataUploadAvailableForm :input\").each(function (i, e) {\n                var key = $(this).removeClass(CLASS_ERROR_BORDER);\n            })\n            // close modal\n            $('.modals').removeClass('is-visible');\n        }\n        var handleSaveSettingDataUploadAvaiable = function () {\n\n            // $(\"#settingDataUploadAvailableForm :input\").each(function (i, e) {\n            //     var key = $(this).attr(\"id\");\n            //     var value = this.value;\n            //     // validate form\n            //     if (value.length == 0) {\n\n            //     }else{\n\n            //     }\n            // })\n\n            var maxProgressValue = parseInt(maxProgressInputId.val());\n            var timePublishValue = parseInt(timePublishInputId.val());\n            var percentIncermentValue = parseInt(percentIncermentInputId.val());\n\n            // console.log(maxProgress, timePublish, percentIncerment);\n\n            if (!maxProgressValue || !timePublishValue || !percentIncermentValue) {\n                if (!maxProgressValue) {\n                    maxProgressInputId.addClass(CLASS_ERROR_BORDER);\n                    var classError = maxProgressInputId.siblings(\".\" + CLASS_ERROR_NOTIFICATION);\n                    classError.addClass(\"is-visible\");\n                    classError.children(\"span\").text(\"Input max progress\");\n                }\n                if (!timePublishValue) {\n                    timePublishInputId.addClass(CLASS_ERROR_BORDER);\n                    var classError = maxProgressInputId.siblings(\".\" + CLASS_ERROR_NOTIFICATION);\n                    classError.addClass(\"is-visible\");\n                    classError.children(\"span\").text(\"Input time publish\");\n                }\n                if (!percentIncermentValue) {\n                    percentIncermentInputId.addClass(CLASS_ERROR_BORDER);\n                    var classError = maxProgressInputId.siblings(\".\" + CLASS_ERROR_NOTIFICATION);\n                    classError.addClass(\"is-visible\");\n                    classError.children(\"span\").text(\"Input percent increment\");\n\n                }\n            } else {\n                if (percentIncermentValue >= maxProgressValue || maxProgressValue > 100) {\n                    if (percentIncermentValue >= maxProgressValue) {\n                        percentIncermentInputId.addClass(CLASS_ERROR_BORDER);\n                        console.log(\"invalid percentIncerment\");\n                    }\n                    if (maxProgressValue > 100) {\n                        maxProgressInputId.addClass(CLASS_ERROR_BORDER);\n                        console.log(\"invalid max progress \");\n                    }\n\n                } else {\n                    console.log(\"evething is ok\");\n\n                    //clear error border\n                    $(\"#settingDataUploadAvailableForm :input\").each(function (i, e) {\n                        $(this).removeClass(CLASS_ERROR_BORDER);\n                    })\n\n                    // set value to local store\n                    localStorage.setItem(\"fetchProgress\", maxProgressValue);\n                    localStorage.setItem(\"timePublish\", timePublishValue);\n                    localStorage.setItem(\"percentIncerment\", percentIncermentValue);\n\n                    // upldate value \n                    fetchProgress = maxProgressValue;\n                    timePublish = timePublishValue;\n                    percentIncerment = percentIncermentValue;\n                    fetchProgressInputId.val(fetchProgress);\n\n                    //close modal\n                    $('.modals').toggleClass('is-visible');\n\n                }\n            }\n\n\n\n        }\n        function handleChangeFetchProgressInput() {\n\n            let key = $(this).attr(\"id\");\n            let value = this.value\n\n            if (value > 100) {\n                $(this).val(100)\n            } else {\n                localStorage.setItem(key, value);\n                fetchProgress = value;\n                maxProgressInputId.val(value);\n            }\n\n        }\n        function handleSaveConfig(e) {\n            console.log(parseInt(fileTransferUidInputId.val()));\n            fileType = parseInt(fileTypeInputId.val());\n            // check user input\n            if (fileName.length === 0 || fileType < 0 || fileType > 255 || parseInt(fileTransferUidInputId.val()) < 0) {\n                if (fileName.length === 0) {\n\n                } else {\n                    //TO DO with file name exsist\n                }\n                if (fileType < 0) {\n\n                } else {\n                    //TO DO with file type  > 0\n                }\n                if (fileType > 255) {\n\n                } else {\n                    //TO DO with file type  < 0\n                }\n\n                if (parseInt(fileTransferUidInputId.val()) < 0) {\n\n                    fileTransferUidInputId.addClass(CLASS_ERROR_BORDER);\n                } else {\n\n                    fileTransferUidInputId.removeClass(CLASS_ERROR_BORDER);\n                }\n\n            } else {\n                let dataUploadAvaible = {\n                    filename: fileName,\n                    fileData,\n                    fileType: fileType,\n                    fileSize: fileSize,\n                    fileTransferUid: parseInt(fileTransferUidInputId.val()) ||123,\n                    status: selectStatusId.val(),\n                    fetchProgress,\n                    percentIncrement: percentIncerment,\n                    timePublish\n                }\n                let dataUploadSent = {\n                    fileUploadResult: fileUploadResultSelectId.val()\n                }\n\n                let payload = {\n                    dataUploadAvaible,\n                    dataUploadSent\n                }\n                $.ajax({\n                    url: \"/update-payload\",\n                    type: \"POST\",\n                    data: payload,\n                    cache: false,\n                    success: function (res) {\n                        console.log(res)\n                        if (res.status) {\n                            configFormId.css(\"display\", \"none\");\n                            flowDetailId.css(\"display\", \"\");\n                        } else {\n                            console.log(res.error);\n                        }\n\n                    }\n                });\n            }\n\n\n        }\n        $(document).ready(function () {\n\n            // set value for config data upload avaiable\n            fetchProgressInputId.val(fetchProgress);\n            maxProgressInputId.val(fetchProgress);\n            timePublishInputId.val(timePublish);\n            percentIncermentInputId.val(percentIncerment);\n\n\n            fetchProgressInputId.on(\"change keyup paste\", handleChangeFetchProgressInput)\n\n            configLabelId.on(\"click\", handelConfigLabel)\n\n            configFlowDetailLabelId.on(\"click\", handleConfigLabelDetail);\n\n            settingFetchProgressIconClass.on(\"click\", handleSettingFetchProgress);\n\n            closeSettingFetchProgressIconId.on(\"click\", handleCloseSettingFetchProgress);\n\n            saveButtonSettingDataUploadAvaiavleId.on(\"click\", handleSaveSettingDataUploadAvaiable)\n\n            saveButton.on(\"click\", handleSaveConfig)\n\n        });\n    </script>\n\n</body>\n\n</html>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 2000,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "8b20e97d041e7f72",
        "type": "mqtt out",
        "z": "576b7f2201b05df2",
        "name": "Publish(\"{trainID}/data-upload/sent\",DATA_UPLOAD_SENT)",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e2ca8ae.a41228",
        "x": 2260,
        "y": 460,
        "wires": []
    },
    {
        "id": "40f2eb99b48c1477",
        "type": "function",
        "z": "576b7f2201b05df2",
        "name": "Convert Json to Object",
        "func": "let payload = JSON.parse(msg.payload);\nmsg.topicDataUploadSend = msg.topic;\nmsg.dataUploadSend = payload;\n\nglobal.set(\"payloadDataUploadSend\",{\n    payload:payload,\n    topic:msg.topic\n});\n\n// get payload Previous \nvar dataUploadAvaiable = global.get(\"payloadDataUploadAvaiable\");\nvar dataUploadRequest = global.get(\"payloadDataUploadRequest\");\n\nmsg.topicDataUploadRequest = dataUploadRequest.topic;\nmsg.dataUploadRequest = dataUploadRequest.payload;\n\nmsg.dataUploadAvaiable = dataUploadAvaiable.payload;\nmsg.topicDataUploadAvaiable = dataUploadAvaiable.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 460,
        "wires": [
            [
                "479ee38fa75e7cd1",
                "a873f45379bc28d5"
            ]
        ]
    },
    {
        "id": "a873f45379bc28d5",
        "type": "function",
        "z": "576b7f2201b05df2",
        "name": "publish data upload sent",
        "func": "function getCurrentDate() {\n    var myDate = new Date(Date.now());\n    return (myDate.getFullYear() + '-' + ('0' + (myDate.getMonth() + 1)).slice(-2) + '-' + ('0' + myDate.getDate()).slice(-2) + ' ' + myDate.getHours() + ':' + ('0' + (myDate.getMinutes())).slice(-2) + ':' + myDate.getSeconds() + \".\" + myDate.getMilliseconds());\n}\n\n\n\n// get data user input\nvar dataUploadSent = global.get(\"dataUploadSent\");\nvar dataUploadAvaiable = global.get(\"dataUploadAvaiable\");\n\n\n//get train id from data upload request\nlet trainId = msg.topic.substring(0, msg.topic.indexOf(\"/\"));\n\nmsg.topic = trainId + \"/data-upload/sent\";\nmsg.qos = 2;\n\nvar payloadDataUploadSend = JSON.parse(msg.payload);\nvar payload = {\n    ts: getCurrentDate(),\n    fileTransferUid:payloadDataUploadSend.fileTransferUid,\n    storageURL :payloadDataUploadSend.storageURL,\n    fileUploadResult: dataUploadSent.fileUploadResult,\n    fileChecksum :SHA512(dataUploadAvaiable.fileData)\n}\n\n\nglobal.set(\"payloadDataUploadSent\",{\n    topic: msg.topic,\n    payload: payload\n});\n\nmsg.dataUploadSent = payload;\nmsg.topicDataUploadSent = msg.topic;\nmsg.payload = payload;\nreturn msg;\n\n\n/*\n* Secure Hash Algorithm (SHA512)\n* http://www.happycode.info/\n*/\n\nfunction SHA512(str) {\n    function int64(msint_32, lsint_32) {\n        this.highOrder = msint_32;\n        this.lowOrder = lsint_32;\n    }\n\n    var H = [new int64(0x6a09e667, 0xf3bcc908), new int64(0xbb67ae85, 0x84caa73b),\n    new int64(0x3c6ef372, 0xfe94f82b), new int64(0xa54ff53a, 0x5f1d36f1),\n    new int64(0x510e527f, 0xade682d1), new int64(0x9b05688c, 0x2b3e6c1f),\n    new int64(0x1f83d9ab, 0xfb41bd6b), new int64(0x5be0cd19, 0x137e2179)];\n\n    var K = [new int64(0x428a2f98, 0xd728ae22), new int64(0x71374491, 0x23ef65cd),\n    new int64(0xb5c0fbcf, 0xec4d3b2f), new int64(0xe9b5dba5, 0x8189dbbc),\n    new int64(0x3956c25b, 0xf348b538), new int64(0x59f111f1, 0xb605d019),\n    new int64(0x923f82a4, 0xaf194f9b), new int64(0xab1c5ed5, 0xda6d8118),\n    new int64(0xd807aa98, 0xa3030242), new int64(0x12835b01, 0x45706fbe),\n    new int64(0x243185be, 0x4ee4b28c), new int64(0x550c7dc3, 0xd5ffb4e2),\n    new int64(0x72be5d74, 0xf27b896f), new int64(0x80deb1fe, 0x3b1696b1),\n    new int64(0x9bdc06a7, 0x25c71235), new int64(0xc19bf174, 0xcf692694),\n    new int64(0xe49b69c1, 0x9ef14ad2), new int64(0xefbe4786, 0x384f25e3),\n    new int64(0x0fc19dc6, 0x8b8cd5b5), new int64(0x240ca1cc, 0x77ac9c65),\n    new int64(0x2de92c6f, 0x592b0275), new int64(0x4a7484aa, 0x6ea6e483),\n    new int64(0x5cb0a9dc, 0xbd41fbd4), new int64(0x76f988da, 0x831153b5),\n    new int64(0x983e5152, 0xee66dfab), new int64(0xa831c66d, 0x2db43210),\n    new int64(0xb00327c8, 0x98fb213f), new int64(0xbf597fc7, 0xbeef0ee4),\n    new int64(0xc6e00bf3, 0x3da88fc2), new int64(0xd5a79147, 0x930aa725),\n    new int64(0x06ca6351, 0xe003826f), new int64(0x14292967, 0x0a0e6e70),\n    new int64(0x27b70a85, 0x46d22ffc), new int64(0x2e1b2138, 0x5c26c926),\n    new int64(0x4d2c6dfc, 0x5ac42aed), new int64(0x53380d13, 0x9d95b3df),\n    new int64(0x650a7354, 0x8baf63de), new int64(0x766a0abb, 0x3c77b2a8),\n    new int64(0x81c2c92e, 0x47edaee6), new int64(0x92722c85, 0x1482353b),\n    new int64(0xa2bfe8a1, 0x4cf10364), new int64(0xa81a664b, 0xbc423001),\n    new int64(0xc24b8b70, 0xd0f89791), new int64(0xc76c51a3, 0x0654be30),\n    new int64(0xd192e819, 0xd6ef5218), new int64(0xd6990624, 0x5565a910),\n    new int64(0xf40e3585, 0x5771202a), new int64(0x106aa070, 0x32bbd1b8),\n    new int64(0x19a4c116, 0xb8d2d0c8), new int64(0x1e376c08, 0x5141ab53),\n    new int64(0x2748774c, 0xdf8eeb99), new int64(0x34b0bcb5, 0xe19b48a8),\n    new int64(0x391c0cb3, 0xc5c95a63), new int64(0x4ed8aa4a, 0xe3418acb),\n    new int64(0x5b9cca4f, 0x7763e373), new int64(0x682e6ff3, 0xd6b2b8a3),\n    new int64(0x748f82ee, 0x5defb2fc), new int64(0x78a5636f, 0x43172f60),\n    new int64(0x84c87814, 0xa1f0ab72), new int64(0x8cc70208, 0x1a6439ec),\n    new int64(0x90befffa, 0x23631e28), new int64(0xa4506ceb, 0xde82bde9),\n    new int64(0xbef9a3f7, 0xb2c67915), new int64(0xc67178f2, 0xe372532b),\n    new int64(0xca273ece, 0xea26619c), new int64(0xd186b8c7, 0x21c0c207),\n    new int64(0xeada7dd6, 0xcde0eb1e), new int64(0xf57d4f7f, 0xee6ed178),\n    new int64(0x06f067aa, 0x72176fba), new int64(0x0a637dc5, 0xa2c898a6),\n    new int64(0x113f9804, 0xbef90dae), new int64(0x1b710b35, 0x131c471b),\n    new int64(0x28db77f5, 0x23047d84), new int64(0x32caab7b, 0x40c72493),\n    new int64(0x3c9ebe0a, 0x15c9bebc), new int64(0x431d67c4, 0x9c100d4c),\n    new int64(0x4cc5d4be, 0xcb3e42b6), new int64(0x597f299c, 0xfc657e2a),\n    new int64(0x5fcb6fab, 0x3ad6faec), new int64(0x6c44198c, 0x4a475817)];\n\n    var W = new Array(64);\n    var a, b, c, d, e, f, g, h, i, j;\n    var T1, T2;\n    var charsize = 8;\n\n    function utf8_encode(str) {\n        return unescape(encodeURIComponent(str));\n    }\n\n    function str2binb(str) {\n        var bin = [];\n        var mask = (1 << charsize) - 1;\n        var len = str.length * charsize;\n\n        for (var i = 0; i < len; i += charsize) {\n            bin[i >> 5] |= (str.charCodeAt(i / charsize) & mask) << (32 - charsize - (i % 32));\n        }\n\n        return bin;\n    }\n\n    function binb2hex(binarray) {\n        var hex_tab = '0123456789abcdef';\n        var str = '';\n        var length = binarray.length * 4;\n        var srcByte;\n\n        for (var i = 0; i < length; i += 1) {\n            srcByte = binarray[i >> 2] >> ((3 - (i % 4)) * 8);\n            str += hex_tab.charAt((srcByte >> 4) & 0xF) + hex_tab.charAt(srcByte & 0xF);\n        }\n\n        return str;\n    }\n\n    function safe_add_2(x, y) {\n        var lsw, msw, lowOrder, highOrder;\n\n        lsw = (x.lowOrder & 0xFFFF) + (y.lowOrder & 0xFFFF);\n        msw = (x.lowOrder >>> 16) + (y.lowOrder >>> 16) + (lsw >>> 16);\n        lowOrder = ((msw & 0xFFFF) << 16) | (lsw & 0xFFFF);\n\n        lsw = (x.highOrder & 0xFFFF) + (y.highOrder & 0xFFFF) + (msw >>> 16);\n        msw = (x.highOrder >>> 16) + (y.highOrder >>> 16) + (lsw >>> 16);\n        highOrder = ((msw & 0xFFFF) << 16) | (lsw & 0xFFFF);\n\n        return new int64(highOrder, lowOrder);\n    }\n\n    function safe_add_4(a, b, c, d) {\n        var lsw, msw, lowOrder, highOrder;\n\n        lsw = (a.lowOrder & 0xFFFF) + (b.lowOrder & 0xFFFF) + (c.lowOrder & 0xFFFF) + (d.lowOrder & 0xFFFF);\n        msw = (a.lowOrder >>> 16) + (b.lowOrder >>> 16) + (c.lowOrder >>> 16) + (d.lowOrder >>> 16) + (lsw >>> 16);\n        lowOrder = ((msw & 0xFFFF) << 16) | (lsw & 0xFFFF);\n\n        lsw = (a.highOrder & 0xFFFF) + (b.highOrder & 0xFFFF) + (c.highOrder & 0xFFFF) + (d.highOrder & 0xFFFF) + (msw >>> 16);\n        msw = (a.highOrder >>> 16) + (b.highOrder >>> 16) + (c.highOrder >>> 16) + (d.highOrder >>> 16) + (lsw >>> 16);\n        highOrder = ((msw & 0xFFFF) << 16) | (lsw & 0xFFFF);\n\n        return new int64(highOrder, lowOrder);\n    }\n\n    function safe_add_5(a, b, c, d, e) {\n        var lsw, msw, lowOrder, highOrder;\n\n        lsw = (a.lowOrder & 0xFFFF) + (b.lowOrder & 0xFFFF) + (c.lowOrder & 0xFFFF) + (d.lowOrder & 0xFFFF) + (e.lowOrder & 0xFFFF);\n        msw = (a.lowOrder >>> 16) + (b.lowOrder >>> 16) + (c.lowOrder >>> 16) + (d.lowOrder >>> 16) + (e.lowOrder >>> 16) + (lsw >>> 16);\n        lowOrder = ((msw & 0xFFFF) << 16) | (lsw & 0xFFFF);\n\n        lsw = (a.highOrder & 0xFFFF) + (b.highOrder & 0xFFFF) + (c.highOrder & 0xFFFF) + (d.highOrder & 0xFFFF) + (e.highOrder & 0xFFFF) + (msw >>> 16);\n        msw = (a.highOrder >>> 16) + (b.highOrder >>> 16) + (c.highOrder >>> 16) + (d.highOrder >>> 16) + (e.highOrder >>> 16) + (lsw >>> 16);\n        highOrder = ((msw & 0xFFFF) << 16) | (lsw & 0xFFFF);\n\n        return new int64(highOrder, lowOrder);\n    }\n\n    function maj(x, y, z) {\n        return new int64(\n            (x.highOrder & y.highOrder) ^ (x.highOrder & z.highOrder) ^ (y.highOrder & z.highOrder),\n            (x.lowOrder & y.lowOrder) ^ (x.lowOrder & z.lowOrder) ^ (y.lowOrder & z.lowOrder)\n        );\n    }\n\n    function ch(x, y, z) {\n        return new int64(\n            (x.highOrder & y.highOrder) ^ (~x.highOrder & z.highOrder),\n            (x.lowOrder & y.lowOrder) ^ (~x.lowOrder & z.lowOrder)\n        );\n    }\n\n    function rotr(x, n) {\n        if (n <= 32) {\n            return new int64(\n                (x.highOrder >>> n) | (x.lowOrder << (32 - n)),\n                (x.lowOrder >>> n) | (x.highOrder << (32 - n))\n            );\n        } else {\n            return new int64(\n                (x.lowOrder >>> n) | (x.highOrder << (32 - n)),\n                (x.highOrder >>> n) | (x.lowOrder << (32 - n))\n            );\n        }\n    }\n\n    function sigma0(x) {\n        var rotr28 = rotr(x, 28);\n        var rotr34 = rotr(x, 34);\n        var rotr39 = rotr(x, 39);\n\n        return new int64(\n            rotr28.highOrder ^ rotr34.highOrder ^ rotr39.highOrder,\n            rotr28.lowOrder ^ rotr34.lowOrder ^ rotr39.lowOrder\n        );\n    }\n\n    function sigma1(x) {\n        var rotr14 = rotr(x, 14);\n        var rotr18 = rotr(x, 18);\n        var rotr41 = rotr(x, 41);\n\n        return new int64(\n            rotr14.highOrder ^ rotr18.highOrder ^ rotr41.highOrder,\n            rotr14.lowOrder ^ rotr18.lowOrder ^ rotr41.lowOrder\n        );\n    }\n\n    function gamma0(x) {\n        var rotr1 = rotr(x, 1), rotr8 = rotr(x, 8), shr7 = shr(x, 7);\n\n        return new int64(\n            rotr1.highOrder ^ rotr8.highOrder ^ shr7.highOrder,\n            rotr1.lowOrder ^ rotr8.lowOrder ^ shr7.lowOrder\n        );\n    }\n\n    function gamma1(x) {\n        var rotr19 = rotr(x, 19);\n        var rotr61 = rotr(x, 61);\n        var shr6 = shr(x, 6);\n\n        return new int64(\n            rotr19.highOrder ^ rotr61.highOrder ^ shr6.highOrder,\n            rotr19.lowOrder ^ rotr61.lowOrder ^ shr6.lowOrder\n        );\n    }\n\n    function shr(x, n) {\n        if (n <= 32) {\n            return new int64(\n                x.highOrder >>> n,\n                x.lowOrder >>> n | (x.highOrder << (32 - n))\n            );\n        } else {\n            return new int64(\n                0,\n                x.highOrder << (32 - n)\n            );\n        }\n    }\n\n    str = utf8_encode(str);\n    strlen = str.length * charsize;\n    str = str2binb(str);\n\n    str[strlen >> 5] |= 0x80 << (24 - strlen % 32);\n    str[(((strlen + 128) >> 10) << 5) + 31] = strlen;\n\n    for (var i = 0; i < str.length; i += 32) {\n        a = H[0];\n        b = H[1];\n        c = H[2];\n        d = H[3];\n        e = H[4];\n        f = H[5];\n        g = H[6];\n        h = H[7];\n\n        for (var j = 0; j < 80; j++) {\n            if (j < 16) {\n                W[j] = new int64(str[j * 2 + i], str[j * 2 + i + 1]);\n            } else {\n                W[j] = safe_add_4(gamma1(W[j - 2]), W[j - 7], gamma0(W[j - 15]), W[j - 16]);\n            }\n\n            T1 = safe_add_5(h, sigma1(e), ch(e, f, g), K[j], W[j]);\n            T2 = safe_add_2(sigma0(a), maj(a, b, c));\n            h = g;\n            g = f;\n            f = e;\n            e = safe_add_2(d, T1);\n            d = c;\n            c = b;\n            b = a;\n            a = safe_add_2(T1, T2);\n        }\n\n        H[0] = safe_add_2(a, H[0]);\n        H[1] = safe_add_2(b, H[1]);\n        H[2] = safe_add_2(c, H[2]);\n        H[3] = safe_add_2(d, H[3]);\n        H[4] = safe_add_2(e, H[4]);\n        H[5] = safe_add_2(f, H[5]);\n        H[6] = safe_add_2(g, H[6]);\n        H[7] = safe_add_2(h, H[7]);\n    }\n\n    var binarray = [];\n    for (var i = 0; i < H.length; i++) {\n        binarray.push(H[i].highOrder);\n        binarray.push(H[i].lowOrder);\n    }\n    return binb2hex(binarray);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 460,
        "wires": [
            [
                "8b20e97d041e7f72",
                "20cdc93e3417b338",
                "479ee38fa75e7cd1",
                "0a491d4e630b1196"
            ]
        ]
    },
    {
        "id": "bd1e311b9a7f9afa",
        "type": "debug",
        "z": "576b7f2201b05df2",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 600,
        "wires": []
    },
    {
        "id": "e72422877cefd644",
        "type": "catch",
        "z": "576b7f2201b05df2",
        "name": "",
        "scope": [
            "b91d15a66dd9f8ea"
        ],
        "uncaught": false,
        "x": 1240,
        "y": 600,
        "wires": [
            [
                "bd1e311b9a7f9afa"
            ]
        ]
    },
    {
        "id": "c309319bf63f5adb",
        "type": "mqtt in",
        "z": "576b7f2201b05df2",
        "name": "Subscribe(\"{trainID}/data-upload/send\",DATA_UPLOAD_RECEIVED)",
        "topic": "aemr_810001/data-upload/received",
        "qos": "1",
        "datatype": "auto",
        "broker": "6e2ca8ae.a41228",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1360,
        "y": 140,
        "wires": [
            [
                "34a39c746d832dbf"
            ]
        ]
    },
    {
        "id": "34a39c746d832dbf",
        "type": "function",
        "z": "576b7f2201b05df2",
        "name": "Convert Json to Object",
        "func": "let payload = JSON.parse(msg.payload);\nmsg.topicDataUploadReceived = msg.topic;\nmsg.dataUploadReceived = payload;\n\n\n// get payload Previous \nvar dataUploadAvaiable = global.get(\"payloadDataUploadAvaiable\");\nvar dataUploadRequest = global.get(\"payloadDataUploadRequest\");\nvar dataUploadSend = global.get(\"payloadDataUploadSend\");\nvar dataUploadSent = global.get(\"payloadDataUploadSent\");\n\nmsg.topicDataUploadRequest = dataUploadRequest.topic;\nmsg.dataUploadRequest = dataUploadRequest.payload;\n\nmsg.dataUploadAvaiable = dataUploadAvaiable.payload;\nmsg.topicDataUploadAvaiable = dataUploadAvaiable.topic;\n\nmsg.dataUploadSend = dataUploadSend.payload;\nmsg.topicDataUploadSend = dataUploadSend.topic;\n\nmsg.dataUploadSent = dataUploadSent.payload;\nmsg.topicDataUploadSent = dataUploadSent.topic;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 140,
        "wires": [
            [
                "479ee38fa75e7cd1"
            ]
        ]
    },
    {
        "id": "0a491d4e630b1196",
        "type": "debug",
        "z": "576b7f2201b05df2",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 560,
        "wires": []
    },
    {
        "id": "6e2ca8ae.a41228",
        "type": "mqtt-broker",
        "name": "",
        "broker": "${MQTT_SERVER}",
        "port": "${MQTT_PORT}",
        "clientid": "${MQTT_CLIENTID}",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "aemr_810001/disconnect",
        "birthQos": "2",
        "birthRetain": "false",
        "birthPayload": "connect",
        "birthMsg": {},
        "closeTopic": "aemr_810001/disconnect",
        "closeQos": "2",
        "closeRetain": "false",
        "closePayload": "disconnect",
        "closeMsg": {},
        "willTopic": "aemr_810001/disconnect",
        "willQos": "2",
        "willRetain": "false",
        "willPayload": "unexpected disconnection",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0ffc60f677ed73fc",
        "type": "ftp",
        "host": "${FTP_SERVER}",
        "port": "${FTP_PORT}",
        "secureOptions": "",
        "user": "${FTP_USER}",
        "connTimeout": "",
        "pasvTimeout": "",
        "keepalive": "",
        "password": "${FTP_PASS}"
    },
    {
        "id": "a260c91456b84e7a",
        "type": "ui_group",
        "name": "OBS-Publish",
        "tab": "25b611df8d3acf69",
        "order": 2,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "25b611df8d3acf69",
        "type": "ui_tab",
        "name": "3.4.7 OBS - Upload Data",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]