OBS/Update HVAC Temperature Set Point/OBS-Update-HVAC-Temperature-Set-Point-Flow.json
[{"id":"2c971d0e.cd4412","type":"tab","label":"OBS - Update HVAC Temperature Set Point","disabled":false,"info":""},{"id":"e9a0c0ff.837ef","type":"ui_template","z":"2c971d0e.cd4412","group":"433103a0.f4717c","name":"PUBLISH HVAC Set Point Status","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n\n<head>\n  <title>Employment Verification Form</title>\n  <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\">\n  <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n    integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n  <style>\n    html,\n    body {\n      min-height: 100%;\n    }\n\n    body,\n    div,\n    form,\n    input,\n    label {\n      padding: 0;\n      margin: 0;\n      outline: none;\n      font-family: Roboto, Arial, sans-serif;\n      font-size: 13px;\n      color: #666;\n      line-height: 22px;\n    }\n\n    legend {\n      color: #fff;\n      background-color: #212529;\n      border-color: #32383e;\n      padding: 3px 5px;\n      font-size: 20px;\n    }\n\n    h1 {\n      margin: 0;\n      font-size: 36px;\n      color: #fff;\n      z-index: 2;\n    }\n\n    .testbox {\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: inherit;\n      padding: 20px;\n    }\n\n    form {\n      width: 100%;\n      padding: 20px;\n      border-radius: 6px;\n      background: #fff;\n      box-shadow: 0 0 10px 0 #095484;\n    }\n\n    .banner {\n      position: relative;\n      height: 320px;\n      background-image: url(\"/uploads/media/default/0001/02/19ea6ba00def11fb8f5113a4d7555a97bd58ce3d.jpeg\");\n      background-size: cover;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      text-align: center;\n    }\n\n    .banner::after {\n      content: \"\";\n      background-color: rgba(0, 0, 0, 0.6);\n      position: absolute;\n      width: 100%;\n      height: 100%;\n    }\n\n    input {\n      margin-bottom: 10px;\n      border: 1px solid #ccc;\n      border-radius: 3px;\n    }\n\n    input {\n      width: calc(100% - 10px);\n      padding: 5px;\n    }\n\n    select {\n      width: 100%;\n      padding: 7px 0;\n      background: transparent;\n    }\n\n    input[type=\"date\"] {\n      padding: 4px 5px;\n    }\n\n    .item:hover p,\n    .item:hover i,\n    .question:hover p,\n    .question label:hover,\n    input:hover::placeholder {\n      color: #095484;\n    }\n\n    .item input:hover {\n      border: 1px solid transparent;\n      box-shadow: 0 0 6px 0 #095484;\n      color: #095484;\n    }\n\n    .item {\n      position: relative;\n      margin: 10px 0;\n    }\n\n    .item span {\n      color: red;\n    }\n\n    input[type=\"date\"]::-webkit-inner-spin-button {\n      display: none;\n    }\n\n    .item i,\n    input[type=\"date\"]::-webkit-calendar-picker-indicator {\n      position: absolute;\n      font-size: 20px;\n      color: #095484;\n    }\n\n    .item i {\n      right: 2%;\n      top: 30px;\n      z-index: 1;\n    }\n\n    [type=\"date\"]::-webkit-calendar-picker-indicator {\n      right: 1%;\n      z-index: 2;\n      opacity: 0;\n      cursor: pointer;\n    }\n\n    .question span {\n      margin-left: 30px;\n    }\n\n    .btn-block {\n      margin-top: 10px;\n      text-align: center;\n\n    }\n\n    button {\n      width: 150px;\n      padding: 10px;\n      border: none;\n      border-radius: 5px;\n      background: #095484;\n      font-size: 16px;\n      color: #fff;\n      cursor: pointer;\n      background-color: #28a745;\n      border-color: #28a745;\n    }\n\n    button:hover {\n      background: #28a745;\n    }\n\n    @media (min-width: 568px) {\n\n      .name-item,\n      .city-item {\n        display: flex;\n        flex-wrap: wrap;\n        justify-content: space-between;\n      }\n\n      .name-item input,\n      .city-item input,\n      .name-item div {\n        width: calc(50% - 20px);\n      }\n\n      .name-item div input {\n        width: 97%;\n      }\n\n      .name-item div label {\n        display: block;\n        padding-bottom: 5px;\n      }\n    }\n\n    .input,\n    .textarea {\n      border: 1px solid #ccc;\n      font-family: inherit;\n      font-size: inherit;\n      padding: 1px 6px;\n    }\n\n    .table {\n      width: 100%;\n      max-width: 100%;\n      margin-bottom: 1rem;\n      background-color: transparent;\n    }\n\n    table {\n      border-collapse: collapse;\n    }\n\n    *,\n    ::after,\n    ::before {\n      box-sizing: border-box;\n    }\n\n    table {\n      display: table;\n      border-collapse: separate;\n      box-sizing: border-box;\n      text-indent: initial;\n      border-spacing: 2px;\n      border-color: grey;\n    }\n\n    thead {\n      display: table-header-group;\n      vertical-align: middle;\n      border-color: inherit;\n    }\n\n    table {\n      border-collapse: collapse;\n    }\n\n    table {\n      border-collapse: separate;\n      text-indent: initial;\n      border-spacing: 2px;\n    }\n\n    .table .thead-dark th {\n      color: #fff;\n      background-color: #212529;\n      border-color: #32383e;\n    }\n\n    .table thead th {\n      vertical-align: bottom;\n      border-bottom: 2px solid #dee2e6;\n    }\n\n    .table td,\n    .table th {\n      padding: .75rem;\n      vertical-align: top;\n      border-top: 1px solid #dee2e6;\n    }\n\n    th {\n      text-align: inherit;\n    }\n\n\n\n    .table .thead-dark th {\n      color: #fff;\n      background-color: #212529;\n      border-color: #32383e;\n    }\n\n    .table thead th {\n      vertical-align: bottom;\n      border-bottom: 2px solid #dee2e6;\n    }\n\n    .table td,\n    .table th {\n      padding: .75rem;\n      vertical-align: top;\n      border-top: 1px solid #dee2e6;\n    }\n\n    th {\n      text-align: inherit;\n    }\n\n    *,\n    ::after,\n    ::before {\n      box-sizing: border-box;\n    }\n\n    user agent stylesheet th {\n      display: table-cell;\n      vertical-align: inherit;\n      font-weight: bold;\n      text-align: -internal-center;\n    }\n\n    table {\n      border-collapse: collapse;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"testbox\" style=\"display: flex;\">\n    <form style=\" display: block; height: 650px; overflow: auto;\" id=\"myForm\">\n      <fieldset style=\"padding-left: 90px;\">\n        <legend>MQTT</legend>\n\n\n        <div class=\"name-item\">\n          <div>\n            <label for=\"tranid\">Tranid</label>\n            <input style=\"width: 72%;\" id=\"tranid\" type=\"text\" name=\"topic\" required />\n          </div>\n\n          <div>\n            <label for=\"Qos\">Topic</label>\n            <select style=\"width: 72%;\" id=\"topic\" name=\"qos\" required>\n\n              <!-- <option value=\"/hvac/command\">/hvac/command</option> -->\n              <option selected value=\"/hvac/status\">/hvac/status</option>\n            </select>\n          </div>\n        </div>\n        <div class=\"item\">\n          <div class=\"item\">\n            <div class=\"name-item\">\n              <div>\n                <label for=\"Qos\">Qos</label>\n                <select style=\"width: 72%;\" id=\"qos\" name=\"qos\" required>\n\n                  <option value=\"0\">0</option>\n                  <option value=\"1\">1</option>\n                  <option selected value=\"2\">2</option>\n                </select>\n              </div>\n              <div>\n                <label for=\"retainFlag\">RetainFlag</label>\n                <select style=\"width: 72%;\" id=\"retainFlag\" , name=\"retainFlag\" required>\n\n                  <option value=\"true\">True</option>\n                  <option selected value=\"false\">False</option>\n                </select>\n              </div>\n            </div>\n          </div>\n        </div>\n        <div class=\"item\">\n          <br />\n          <label for=\"tranid\"> <b>Publish message when OBS connect MQTT (4 in ICD Publish(\"{trainId}/hvac/status\",HVAC\n              STATUS)) </b> </label>\n          <br />\n          <br />\n          <input type=\"file\" style=\" width: 35%; \" id=\"selectFiles\" value=\"Import\" /><br />\n          <input type=\"button\" style=\" width: 10%; background-color:#28a745; color: #fff\" id=\"import\" value=\"import\">\n          <br />\n          <textarea id=\"result\" style=\" width: 86.5%; height: 300px; resize: none; display: none;\">\n          </textarea>\n          <br />\n          <br />\n      </fieldset>\n      <br />\n      <fieldset style=\"padding-left: 90px;\">\n        <legend>Payload</legend>\n        <br />\n        <label for=\"tranid\"> <b>Publish message to Applications (3.3.2 in ICD Publish(\"{trainId}/hvac/status\",HVAC\n            STATUS)) </b> </label>\n        <label for=\"tranid\" id=\"logClasserros\" style=\"color: red;\"></label>\n        <div>\n          <label for=\"tranid\">temperatureList</label>\n          <br />\n          <fieldset style=\"width: 88%;\">\n            <div>\n              <i id=\"add\" class=\"fas fa-plus-square\"></i>\n\n            </div>\n            <div id=\"buildyourform\" class=\"name-item\">\n\n            </div>\n          </fieldset>\n          <br />\n          <div id=\"fa\">\n            <label for=\"tranid\">failedItems</label>\n            <fieldset style=\"width: 88%;\">\n              <div>\n                <i id=\"add2\" class=\"fas fa-plus-square\"></i>\n\n              </div>\n              <div id=\"buildyourform2\" class=\"name-item\">\n              </div>\n              <br />\n            </fieldset>\n            <div class=\"item\">\n              <div class=\"item\">\n                <div class=\"name-item\">\n                  <div>\n                    <label for=\"results\">result</label>\n                    <select style=\"width: 72%;\" id=\"results\" name=\"results\" required>\n                      <option value=\"0\">0 = success</option>\n                      <option value=\"1\">1 = failure</option>\n                    </select>\n                  </div>\n\n                </div>\n              </div>\n            </div>\n          </div>\n          <div class=\"item\">\n            <div class=\"item\">\n              <div class=\"name-item\">\n                <div>\n                  <label for=\"Option\">Option</label>\n                  <select style=\"width: 72%;\" id=\"Option\" name=\"Option\" required>\n                    <option value=\"1\">Manual</option>\n                    <option value=\"0\">Auto</option>\n                    <option value=\"2\">Publish when OBS connect MQTT</option>\n                  </select>\n                </div>\n\n              </div>\n            </div>\n          </div>\n      </fieldset>\n      <br />\n      <div class=\"btn-block\" style=\"float: left; padding-left: 93px;\">\n        <button style=\"width: 135px; \" id=\"submit\">Publish</button>\n        <button style=\"width: 135px; color: #fff;background-color: #dc3545;\n                   border-color: #dc3545;\" id=\"delete\">Reset</button>\n      </div>\n      <br />\n      <br />\n    </form>\n  </div>\n  <script src=\"https://code.jquery.com/jquery-3.6.0.js\" integrity=\"sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=\"\n    crossorigin=\"anonymous\">\n    </script>\n  <script>\n    (function (scope) {\n\n\n    //----------------------------------------------------MQTT Config---------------------------------------------------------------//\n    var topic = $(\"#topic\");\n    var connects = null;\n    var option = $(\"#Option\")\n    var addtemperatureList = $(\"#add\");\n    var addfailedItems = $(\"#add2\");\n    var tranid = $(\"#tranid\");\n    var payload = $(\"#result\");\n    var qos = $(\"#qos\");\n    var retainFlag = $('#retainFlag');\n    var submitId = $(\"#submit\");\n    var result = $(\"#results\");\n    //-----------------------------------------------------Payload--------------------------------------------------------------//\n    let date_ob = new Date();\n    let date = (\"0\" + date_ob.getDate()).slice(-2);\n    let month = (\"0\" + (date_ob.getMonth() + 1)).slice(-2);\n    let year = date_ob.getFullYear();\n    let hours = date_ob.getHours();\n    let minutes = date_ob.getMinutes();\n    let seconds = date_ob.getSeconds();\n    let millisecond = date_ob.getMilliseconds();\n    let datetime = (year + \"-\" + month + \"-\" + date + \" \" + hours + \":\" + minutes + \":\" + seconds + \".\" + millisecond)\n\n    //----------------------------------------------Clear form-------------------------------------------------------------------//\n    $(\"#delete\").click(() => {\n      document.getElementById(\"myForm\").reset();\n      document.getElementById('result').style.display = \"none\";\n      document.getElementById('Connect').style.display = \"none\";\n      document.getElementById('dissConnect').style.display = \"none\";\n      scope.send({ action: \"disconnect\" })\n\n    })\n    $(\"#topic\").change(() => {\n      if (topic.val() != \"/hvac/status\") {\n        document.getElementById(\"fa\").style = \"display:none\";\n\n      }\n      else {\n        document.getElementById(\"fa\").style = \"display:\";\n      }\n\n    })\n\n\n    //------------------------------------------------------add failedItems--------------------------------------------------------------//\n    addfailedItems.click(() => {\n\n      var lastField1 = $(\"#buildyourform2 div:last\");\n      var intId = (lastField1 && lastField1.length && lastField1.data(\"idx\") + 1) || 1;\n      var fieldWrapperfailedItems = $(\"<div  style=\\\"margin-right: -5%\\\"  class=\\\"fieldwrapper\\\" id=\\\"fields\" + intId + \"\\\"/>\");\n      var fName = $(\" <br/> carId \" + intId + \" <input style=\\\"width: 67%; margin-left: 40px\\\" type=\\\"number\\\" class=\\\"failedItems\\\" /> <br/> reason \" + intId + \" <select  style=\\\"width: 67%; margin-left: 39px\\\" class=\\\"fieldtype\\\"><option value=\\\"0\\\">0 = N/A</option><option value=\\\"1\\\">1 =  OK</option><option value=\\\"2\\\">2 = Failure – invalid value</option><option value=\\\"3\\\">3 =  Failure – TCMS not available</option><option value=\\\"4\\\">4= Failure TMS does not update the value</option></select>\");\n\n      fieldWrapperfailedItems.data(\"idx\", intId);\n      var removeButton = $(\"<i id=\\\"remove\\\" class=\\\"fas fa-trash-alt\\\"></i>\");\n\n      removeButton.click(function () { //delete item\n        $(this).parent().remove();\n      });\n      fieldWrapperfailedItems.append(fName);\n      fieldWrapperfailedItems.append(removeButton);\n      $(\"#buildyourform2\").append(fieldWrapperfailedItems);\n\n\n    })\n\n    //------------------------------------------------------add temperatureList--------------------------------------------------------------//\n    addtemperatureList.click(() => {\n      var lastField = $(\"#buildyourform div:last\");\n      var intId = (lastField && lastField.length && lastField.data(\"idx\") + 1) || 1;\n      var fieldWrapper = $(\"<div  style=\\\"margin-right: -5%\\\"  class=\\\"fieldwrapper\\\" id=\\\"field\" + intId + \"\\\"/>\");\n      var fName = $(\" <br/> carId \" + intId + \" <input style=\\\"width: 67%; margin-left: 40px\\\" type=\\\"number\\\" class=\\\"fieldname\\\" /> <br/> temperature \" + intId + \" <input style=\\\"width: 67%;margin-left: 39px;\\\" min=\\\"20\\\" max=\\\"24\\\" type=\\\"number\\\" class=\\\"fieldname2\\\" />\");\n      fieldWrapper.data(\"idx\", intId);\n      var removeButton = $(\" <i class=\\\"fas fa-trash-alt\\\"></i>\");\n      removeButton.click(function () {\n        $(this).parent().remove();\n      });\n      fieldWrapper.append(fName);\n      fieldWrapper.append(removeButton);\n      $(\"#buildyourform\").append(fieldWrapper);\n    })\n\n    //------------------------------------------------------insert topic--------------------------------------------------------------//\n    //--------------------------------------------------------------------------------------------------------------------//\n\n    document.getElementById('import').onclick = function () {\n      var files = document.getElementById('selectFiles').files;\n\n      if (files.length <= 0) {\n        return false;\n      }\n      document.getElementById('result').style.display = \"block\";\n      var fr = new FileReader();\n\n      fr.onload = function (e) {\n        try {\n          var result = JSON.parse(e.target.result);\n          var formatted = JSON.stringify(result, null, 2);        \n          document.getElementById('result').style.display = \"\"\n          document.getElementById('result').value = formatted;\n          alert(\"Import success \");\n        } catch (error) {\n          document.getElementById('result').style.display = \"none\"\n          console.log(e);\n          alert(error);\n        }\n\n      }\n\n      fr.readAsText(files.item(0));\n\n    };\n    //-------------------------------------------publish----------------------------------------------------------------------//\n    submitId.click(() => {\n      var temperatureList = []\n      var failedItems = []\n      // get  temperatureList\n      $(\"#buildyourform div\").each(function () {\n        var fieldid = $(this).find(\"div\").prevObject[0].id;\n        $(\"#\" + fieldid).find(\"input.fieldname\").each(function () {\n          var carIds = this.value;\n          $(\"#\" + fieldid).find(\"input.fieldname2\").each(function () {\n            if (carIds == '') {\n\n            }\n            else {\n              temperatureList.push({ carId: parseInt(carIds), temperature: parseInt(this.value) })\n            }\n          });\n        });\n      });\n      // get  failedItems\n      $(\"#buildyourform2 div\").each(function () {\n        var idfield = $(this).find(\"div\").prevObject[0].id;\n        $(\"#\" + idfield).find(\"input.failedItems\").each(function () {\n          var car = this.value;\n          $(\"#\" + idfield).find(\"select.fieldtype\").each(function () {\n            if (car != '') {\n              failedItems.push({ carId: parseInt(car), reason: parseInt(this.value) })\n            }\n          });\n\n        });\n      });\n      if (tranid.val() == '') {\n        alert(\"invalid tranid\")\n      }\n      else {\n\n        if (option.val() == 0) {\n\n          if (document.getElementById('result').style.display == \"none\" || document.getElementById('result').value == '') {\n\n            alert(\"Publish message when OBS connects MQTT\")\n\n          }\n          else {\n            scope.send({ topic: (tranid.val() + topic.val()), qos: qos.val(), retainFlag: retainFlag.val(), payload: JSON.parse(document.getElementById('result').value), auto: \"auto\" })\n          }\n\n        }\n        else if (option.val() == 2) {\n          if(document.getElementById('result').style.display == \"none\" || document.getElementById('result').value == '' )\n          {\n            alert(\"Import JSON File\")\n          }\n          else\n          {\n            scope.send({ action: \"disconnect\" })\n            \n            setTimeout(function(){ \n              scope.send({ action: \"connect\" })\n            }, 1000);\n            setTimeout(function(){ \n              scope.send({ topic: (tranid.val() + topic.val()), qos: qos.val(), retainFlag: retainFlag.val(), payload: JSON.parse(document.getElementById('result').value) })\n            }, 2000);\n    \n            alert(\"success publish message when OBS connects MQTT\")\n          }\n           \n        }\n        else {\n          scope.send({ topic: (tranid.val() + topic.val()), qos: qos.val(), retainFlag: retainFlag.val(), payload: { ts: datetime, commandId: Date.now() & 0xFFFFFFF, temperatureList: temperatureList, result: parseInt(result.val()), failedItems: failedItems } })\n          alert(\"success\")\n        }\n      }\n\n    })\n    })(scope)\n  </script>\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":280,"wires":[["230de95d.cbc316"]]},{"id":"934863e6.b6157","type":"debug","z":"2c971d0e.cd4412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":440,"wires":[]},{"id":"c4d49d30.cf8ee","type":"mqtt out","z":"2c971d0e.cd4412","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3196177b.9d03e8","x":910,"y":360,"wires":[]},{"id":"2b8fab64.2fb3d4","type":"comment","z":"2c971d0e.cd4412","name":"OBS Wayside ICD_v0.16","info":"","x":230,"y":140,"wires":[]},{"id":"8ad9b86e.b653c8","type":"comment","z":"2c971d0e.cd4412","name":"Update HVAC Temperature Set Point","info":"The wayside has the ability to update the temperature set point of the saloon through the OBS. The messages shall be retained such that even if an OBS is not subscribed at the time the message is sent, it can be retrieved and used to update the TCMS HVAC set point.\nThe HVAC_STATUS message also sent every time the HVAC set points are updates on the train.\n","x":260,"y":200,"wires":[]},{"id":"11bb6a67.bd73c6","type":"ui_template","z":"2c971d0e.cd4412","group":"3baa4786.23d838","name":"Message send  to Application","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n\n<head>\n  <title>Employment Verification Form</title>\n  <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\">\n  <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n    integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n  <style>\n    table {\n      width: 750px;\n      border-collapse: collapse;\n      margin: 50px auto;\n    }\n\n    /* Zebra striping */\n    tr:nth-of-type(odd) {\n      background: #eee;\n    }\n\n    th {\n      background: #3498db;\n      color: white;\n      font-weight: bold;\n    }\n\n    td,\n    th {\n      padding: 10px;\n      border: 1px solid #ccc;\n      text-align: left;\n      font-size: 18px;\n    }\n\n    /* \nMax width before this PARTICULAR table gets nasty\nThis query will take effect for any screen smaller than 760px\nand also iPads specifically.\n*/\n    @media only screen and (max-width: 760px),\n    (min-device-width: 768px) and (max-device-width: 1024px) {\n\n      table {\n        width: 100%;\n      }\n\n      /* Force table to not be like tables anymore */\n      table,\n      thead,\n      tbody,\n      th,\n      td,\n      tr {\n        display: block;\n      }\n\n      /* Hide table headers (but not display: none;, for accessibility) */\n      thead tr {\n        position: absolute;\n        top: -9999px;\n        left: -9999px;\n      }\n\n      tr {\n        border: 1px solid #ccc;\n      }\n\n      td {\n        /* Behave  like a \"row\" */\n        border: none;\n        border-bottom: 1px solid #eee;\n        position: relative;\n        padding-left: 50%;\n      }\n\n      td:before {\n        /* Now like a table header */\n        position: absolute;\n        /* Top/left values mimic padding */\n        top: 6px;\n        left: 6px;\n        width: 45%;\n        padding-right: 10px;\n        white-space: nowrap;\n        /* Label the data */\n        content: attr(data-column);\n\n        color: #000;\n        font-weight: bold;\n      }\n\n    }\n    th {\n    background: black;\n    color: white;\n    font-weight: bold;\n}\n\n\n  </style>\n</head>\n<body>\n  <h3 style=\" padding: 30px;text-align: center;text-transform: capitalize;\">Message send to Application</h4>\n     <table style=\"width:790px\">\n      <thead>\n        <tr>\n         \n          <th>ts</th>\n          <th>commandId</th>\n          <th>temperatureList</th>\n          <th>result</th>\n          <th>failedItems</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr>\n   \n          <td>{{msg.payload.ts}}</td>\n          <td>{{msg.payload.commandId}}</td>\n          <td>{{msg.payload.temperatureList}}</td>\n          <td>{{msg.payload.result}}</td>\n          <td>{{msg.payload.failedItems}}</td>\n        </tr>\n\n      </tbody>\n    </table>\n</body>\n\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":280,"wires":[[]]},{"id":"722c55be.186c1c","type":"function","z":"2c971d0e.cd4412","name":"","func":"if (msg.auto == \"auto\") {\n\n    var arrayTemperature = msg.payload.temperatureList;\n    var arrayUpdateTemperature = global.get('request').temperatureList;\n    var failedItems = [];\n\n    function check(carIds) {\n        var count = 0;\n        for (let i = 0; i < arrayTemperature.length; i++) {\n            if (arrayTemperature[i].carId == carIds) {\n                count = count + 1;\n            }\n        }\n        return count;\n    }\n\n    for (let i = 0; i < arrayUpdateTemperature.length; i++) {\n        if (arrayUpdateTemperature[i].temperature < 20 || arrayUpdateTemperature[i].temperature > 24) {\n            failedItems.push({\n                carId: arrayUpdateTemperature[i].carId,\n                reason: 2\n            })\n        }\n        else\n        {\n            for (let j = 0; j < arrayTemperature.length; j++) {\n                if (arrayTemperature[j].carId == arrayUpdateTemperature[i].carId) {\n                            arrayTemperature[j].temperature = arrayUpdateTemperature[i].temperature;\n                     }\n            }\n        }\n    \n        // if (check(arrayUpdateTemperature[i].carId) == 0) {\n        //     // node.warn(check(arrayUpdateTemperature[i].carId))\n        //     failedItems.push({\n        //         carId: arrayUpdateTemperature[i].carId,\n        //         reason: 3\n        //     })\n        //     node.warn(arrayUpdateTemperature[i])\n        // } else if (arrayUpdateTemperature[i].temperature == '' || arrayUpdateTemperature[i].temperature == null) {\n        //     failedItems.push({\n        //         carId: arrayUpdateTemperature[i].carId,\n        //         reason: 0\n        //     })\n        //     node.warn(arrayUpdateTemperature[i])\n        // } else if (arrayUpdateTemperature[i].temperature < 20 || arrayUpdateTemperature[i].temperature > 24) {\n        //     failedItems.push({\n        //         carId: arrayUpdateTemperature[i].carId,\n        //         reason: 2\n        //     })\n        //     node.warn(arrayUpdateTemperature[i])\n        // } else {\n        //     for (let j = 0; j < arrayTemperature.length; j++) {\n        //         if (arrayTemperature[j].carId == arrayUpdateTemperature[i].carId) {\n\n        //         }\n        //         if (arrayTemperature[j].temperature == arrayUpdateTemperature[i].temperature && arrayTemperature[j].carId == arrayUpdateTemperature[i].carId) {\n\n        //             failedItems.push({\n        //                 carId: arrayUpdateTemperature[i].carId,\n        //                 reason: 4\n        //             })\n        //             node.warn(arrayUpdateTemperature[i])\n        //         } else {\n        //             if (arrayTemperature[j].carId == arrayUpdateTemperature[i].carId) {\n        //                 arrayTemperature[j].temperature = arrayUpdateTemperature[i].temperature;\n        //             }\n        //         }\n        //     }\n\n\n        // }\n    }\n    msg.payload.temperatureList = arrayTemperature;\n    msg.payload.commandId = Date.now() & 0xFFFFFFF;\n    msg.payload.failedItems = failedItems;\n    node.warn(failedItems.length)\n    if (failedItems.length == 0) {\n        msg.payload.result = 0;\n    } else {\n        msg.payload.result = 1;\n    }\n    return msg;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":280,"wires":[["11bb6a67.bd73c6"]]},{"id":"230de95d.cbc316","type":"function","z":"2c971d0e.cd4412","name":"","func":"\nif(msg.action=='disconnect'||msg.action=='connect')\n{\n    \n}\nelse\n{\n    let date_ob = new Date();\n    let date = (\"0\" + date_ob.getDate()).slice(-2);\n    let month = (\"0\" + (date_ob.getMonth() + 1)).slice(-2);\n    let year = date_ob.getFullYear();\n    let hours = date_ob.getHours();\n    let minutes = date_ob.getMinutes();\n    let seconds = date_ob.getSeconds();\n    let millisecond = date_ob.getMilliseconds();\n    let datetime = (year + \"-\" + month + \"-\" + date + \" \" + hours + \":\" + minutes + \":\" + seconds + \".\" + millisecond)\n    msg.payload.ts=datetime;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":280,"wires":[["722c55be.186c1c","c4d49d30.cf8ee","934863e6.b6157"]]},{"id":"81fa84db.c6f7c8","type":"mqtt in","z":"2c971d0e.cd4412","name":"","topic":"aemr_810001/hvac/command","qos":"2","datatype":"auto","broker":"3196177b.9d03e8","nl":false,"rap":true,"rh":0,"x":200,"y":500,"wires":[["c0c7fb4a.523858"]]},{"id":"c0c7fb4a.523858","type":"function","z":"2c971d0e.cd4412","name":"","func":"msg.payload = JSON.parse(msg.payload);\nglobal.set('request', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":500,"wires":[["1a903794.ebd428"]]},{"id":"1a903794.ebd428","type":"ui_template","z":"2c971d0e.cd4412","group":"1bb21647.fecf2a","name":"Message received from Application","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n\n<head>\n  <title>Employment Verification Form</title>\n  <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\">\n  <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n    integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n  <style>\n    table {\n      width: 750px;\n      border-collapse: collapse;\n      margin: 50px auto;\n    }\n\n    /* Zebra striping */\n    tr:nth-of-type(odd) {\n      background: #eee;\n    }\n\n    th {\n      background: #3498db;\n      color: white;\n      font-weight: bold;\n    }\n\n    td,\n    th {\n      padding: 10px;\n      border: 1px solid #ccc;\n      text-align: left;\n      font-size: 18px;\n    }\n\n    /* \nMax width before this PARTICULAR table gets nasty\nThis query will take effect for any screen smaller than 760px\nand also iPads specifically.\n*/\n    @media only screen and (max-width: 760px),\n    (min-device-width: 768px) and (max-device-width: 1024px) {\n\n      table {\n        width: 100%;\n      }\n\n      /* Force table to not be like tables anymore */\n      table,\n      thead,\n      tbody,\n      th,\n      td,\n      tr {\n        display: block;\n      }\n\n      /* Hide table headers (but not display: none;, for accessibility) */\n      thead tr {\n        position: absolute;\n        top: -9999px;\n        left: -9999px;\n      }\n\n      tr {\n        border: 1px solid #ccc;\n      }\n\n      td {\n        /* Behave  like a \"row\" */\n        border: none;\n        border-bottom: 1px solid #eee;\n        position: relative;\n        padding-left: 50%;\n      }\n\n      td:before {\n        /* Now like a table header */\n        position: absolute;\n        /* Top/left values mimic padding */\n        top: 6px;\n        left: 6px;\n        width: 45%;\n        padding-right: 10px;\n        white-space: nowrap;\n        /* Label the data */\n        content: attr(data-column);\n\n        color: #000;\n        font-weight: bold;\n      }\n\n    }\n  </style>\n</head>\n<body>\n  <h3 style=\" padding: 30px;text-align: center;text-transform: capitalize;\">Message received from Application (1 in ICD Subscribe(\"{trainId}/hvac/command\"))</h4>\n    <table style=\"width:790px\">\n      <thead>\n        <tr>\n         \n          <th>ts</th>\n          <th>commandId</th>\n          <th>temperatureList</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr>\n          \n          <td>{{msg.payload.ts}}</td>\n          <td>{{msg.payload.commandId}}</td>\n          <td>{{msg.payload.temperatureList}}</td>\n         \n        </tr>\n\n      </tbody>\n    </table>\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1000,"y":500,"wires":[[]]},{"id":"433103a0.f4717c","type":"ui_group","name":"PUBLISH Wayside command to update HVAC Temperature set point","tab":"6f165ac9.89c664","order":1,"disp":false,"width":"15","collapse":false},{"id":"3196177b.9d03e8","type":"mqtt-broker","name":"","broker":"${MQTT_SERVER}","port":"${MQTT_PORT}","clientid":"OBS","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3baa4786.23d838","type":"ui_group","name":"Group 2","tab":"6f165ac9.89c664","order":2,"disp":false,"width":"15","collapse":false},{"id":"1bb21647.fecf2a","type":"ui_group","name":"Group 3","tab":"6f165ac9.89c664","order":3,"disp":false,"width":"15","collapse":false},{"id":"6f165ac9.89c664","type":"ui_tab","name":"3.4.9 OBS - Update HVAC Temperarure Set Point","icon":"dashboard","order":3,"disabled":false,"hidden":false}]