OBS/Remote Assistance/OBS-Remote-Assistance-Flow.json
[{"id":"dc38dde8.5375c","type":"tab","label":"OBS - Remote Assistance  ","disabled":false,"info":""},{"id":"6b471bfd.144bb4","type":"ui_template","z":"dc38dde8.5375c","group":"fdccff95.3fb18","name":" PUBLISH Remote Assistance Address from OBS to Wayside","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n\n<head>\n  <title>Employment Verification Form</title>\n  <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\">\n  <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n    integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n  <style>\n    html,\n    body {\n      min-height: 100%;\n    }\n\n    body,\n    div,\n    form,\n    input,\n    label {\n      padding: 0;\n      margin: 0;\n      outline: none;\n      font-family: Roboto, Arial, sans-serif;\n      font-size: 13px;\n      color: #666;\n      line-height: 22px;\n    }\n\n    legend {\n      color: #fff;\n      background-color: #212529;\n      border-color: #32383e;\n      padding: 3px 5px;\n      font-size: 20px;\n    }\n\n    h1 {\n      margin: 0;\n      font-size: 36px;\n      color: #fff;\n      z-index: 2;\n    }\n\n    .testbox {\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: inherit;\n      padding: 20px;\n    }\n\n    form {\n      width: 100%;\n      margin-left: 60px;\n      padding: 20px;\n      border-radius: 6px;\n      background: #fff;\n      box-shadow: 0 0 10px 0 #095484;\n    }\n\n    .banner {\n      position: relative;\n      height: 320px;\n      background-image: url(\"/uploads/media/default/0001/02/19ea6ba00def11fb8f5113a4d7555a97bd58ce3d.jpeg\");\n      background-size: cover;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      text-align: center;\n    }\n\n    .banner::after {\n      content: \"\";\n      background-color: rgba(0, 0, 0, 0.6);\n      position: absolute;\n      width: 100%;\n      height: 100%;\n    }\n\n    input {\n      margin-bottom: 10px;\n      border: 1px solid #ccc;\n      border-radius: 3px;\n    }\n\n    input {\n      width: calc(100% - 10px);\n      padding: 5px;\n    }\n\n    select {\n      width: 100%;\n      padding: 7px 0;\n      background: transparent;\n    }\n\n    input[type=\"date\"] {\n      padding: 4px 5px;\n    }\n\n    .item:hover p,\n    .item:hover i,\n    .question:hover p,\n    .question label:hover,\n    input:hover::placeholder {\n      color: #095484;\n    }\n\n    .item input:hover {\n      border: 1px solid transparent;\n      box-shadow: 0 0 6px 0 #095484;\n      color: #095484;\n    }\n\n    .item {\n      position: relative;\n      margin: 10px 0;\n    }\n\n    .item span {\n      color: red;\n    }\n\n    input[type=\"date\"]::-webkit-inner-spin-button {\n      display: none;\n    }\n\n    .item i,\n    input[type=\"date\"]::-webkit-calendar-picker-indicator {\n      position: absolute;\n      font-size: 20px;\n      color: #095484;\n    }\n\n    .item i {\n      right: 2%;\n      top: 30px;\n      z-index: 1;\n    }\n\n    [type=\"date\"]::-webkit-calendar-picker-indicator {\n      right: 1%;\n      z-index: 2;\n      opacity: 0;\n      cursor: pointer;\n    }\n\n    .question span {\n      margin-left: 30px;\n    }\n\n    .btn-block {\n      margin-top: 10px;\n      text-align: center;\n\n    }\n\n    button {\n      width: 150px;\n      padding: 10px;\n      border: none;\n      border-radius: 5px;\n      background: #095484;\n      font-size: 16px;\n      color: #fff;\n      cursor: pointer;\n      background-color: #28a745;\n      border-color: #28a745;\n    }\n\n    button:hover {\n      background: #28a745;\n    }\n\n    @media (min-width: 568px) {\n\n      .name-item,\n      .city-item {\n        display: flex;\n        flex-wrap: wrap;\n        justify-content: space-between;\n      }\n\n      .name-item input,\n      .city-item input,\n      .name-item div {\n        width: calc(50% - 20px);\n      }\n\n      .name-item div input {\n        width: 97%;\n      }\n\n      .name-item div label {\n        display: block;\n        padding-bottom: 5px;\n      }\n    }\n\n    .input,\n    .textarea {\n      border: 1px solid #ccc;\n      font-family: inherit;\n      font-size: inherit;\n      padding: 1px 6px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"testbox\">\n     \n    <form style=\"width: 80%;\" id=\"myForm\">\n       \n      <fieldset style=\"padding-left: 90px;\">\n        <legend>MQTT</legend>\n        <div class=\"name-item\"> \n          <div>\n            <label for=\"tranid\">Tranid</label>\n            <input style=\"width: 70%;\" id=\"tranid\" type=\"text\" name=\"topic\" required />\n          </div>\n\n          <div>\n            <label for=\"topic\">Topic</label>\n            <input style=\"width: 70%;\" id=\"topic\" type=\"text\" readonly placeholder=\"/remote-assistance/status\" name=\"topic\"\n              required />\n          </div>\n        </div>\n        <div class=\"item\">\n          <div class=\"item\">\n            <div class=\"name-item\">\n              <div>\n                <label for=\"Qos\">Qos</label>\n                <select style=\"width: 72.5%;\" id=\"qos\" name=\"qos\" required>\n                  <option value=\"0\">0</option>\n                  <option selected value=\"1\">1</option>\n                  <option  value=\"2\">2</option>\n                </select>\n              </div>\n              <div>\n                <label for=\"retainFlag\">RetainFlag</label>\n                <select style=\"width: 72.5%;\" id=\"retainFlag\" , name=\"retainFlag\" required>\n                  <option selected value=\"true\">True</option>\n                  <option  value=\"false\">False</option>\n                </select>\n              </div>\n            </div>\n          </div>\n        </div>\n      </fieldset>\n      <br />\n      <fieldset style=\"padding-left: 90px;\">\n        <legend>Payload</legend>\n        <br />\n        <div class=\"name-item\">\n            \n          <div>\n            <label for=\"ipAddress\">IpAddress</label>\n            <input  style=\"width: 70%;\" id=\"ipAddress\" type=\"text\" name=\"ipAddress\" required />\n          </div>\n\n          <div>\n            <label for=\"endpoint\">Endpoint</label>\n            <input  style=\"width: 70%;\" id=\"endpoint\" type=\"text\" name=\"endpoint\" required />\n          </div>\n        </div>\n        <div class=\"name-item\">\n            \n          <div>\n            <label for=\"ipAddress\">Options</label>\n            <select style=\"width: 72.5%;\" id=\"options\" , name=\"retainFlag\" required>\n              <option selected value=\"0\">Publish When OBS Change IP Address</option>\n              <option  value=\"1\">Publish when OBS Connect MQTT</option>\n            </select>\n          </div>\n\n          \n        </div>\n       \n      </fieldset>\n      <div class=\"btn-block\" style=\"float: left; padding-left: 93px;\">\n         <button  style=\"width: 135px;\" id=\"submit\">Publish</button>\n         <button style=\"width: 135px; color: #fff;background-color: #dc3545;\n                    border-color: #dc3545;\" id=\"clear\">Reset</button>\n      </div>\n    </form>\n    <br/>\n   <div>\n        \n  <script src=\"https://code.jquery.com/jquery-3.6.0.js\" integrity=\"sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=\"\n    crossorigin=\"anonymous\">\n    </script>\n  <script type=\"text/javascript\">\n    (function (scope) {\n     localStorage.removeItem('data');\n      var topic = $(\"#topic\");\n      var options = $(\"#options\");\n      var clears = $(\"#clear\");\n      var tranid = $(\"#tranid\");\n      var qos = $(\"#qos\");\n      var retainFlag = $('#retainFlag');\n      var ipAddress = $('#ipAddress');\n      var endpoint = $('#endpoint');\n      let date_ob = new Date();\n      let date = (\"0\" + date_ob.getDate()).slice(-2);\n      let month = (\"0\" + (date_ob.getMonth() + 1)).slice(-2);\n      let year = date_ob.getFullYear();\n      let hours = date_ob.getHours();\n      let minutes = date_ob.getMinutes();\n      let seconds = date_ob.getSeconds();\n      let millisecond = date_ob.getMilliseconds();\n      let datetime = (year + \"-\" + month + \"-\" + date + \" \" + hours + \":\" + minutes + \":\" + seconds + \".\" + millisecond)\n      var submitId = $(\"#submit\");\n      const regexExp = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/gi;\n\n      tranid.keyup(() => {\n        $(\"#topic\").val(tranid.val() + \"/remote-assistance/status\");\n\n      })\n      clears.click(() => {\n       document.getElementById(\"myForm\").reset();\n      })\n      submitId.click(() => {\n        if (topic.val() == '' || qos.val() == '' || retainFlag.val() == '' || ipAddress.val() == '' || endpoint.val() == '') {\n             alert(\"invalid\")\n        }\n        else {\n          // send value\n          if(options.val()==0)\n          {\n            scope.send({ topic: topic.val(), qos: qos.val(), retainFlag: retainFlag.val(), payload: { ts: datetime, ipAddress: ipAddress.val(), endpoint: endpoint.val() } })\n          }\n          else\n          {\n            scope.send({ action: \"disconnect\" })\n            \n            setTimeout(function(){ \n                scope.send({ action: \"connect\" })\n            }, 1000);\n            \n            setTimeout(function(){ \n                  scope.send({ topic: topic.val(), qos: qos.val(), retainFlag: retainFlag.val(), payload: { ts: datetime, ipAddress: ipAddress.val(), endpoint: endpoint.val()}  })\n            }, 2000);\n            \n          \n          }\n         \n          alert(\"success\")\n        }\n\n\n      })\n\n\n    })(scope)\n  </script>\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":280,"y":280,"wires":[["68ea4ce5.851d54","e0c507cb.5fdd18"]]},{"id":"e6ff4ca3.1aa2d","type":"comment","z":"dc38dde8.5375c","name":"OBS Wayside ICD_v0.16","info":"","x":310,"y":140,"wires":[]},{"id":"fc620ee3.b7dca","type":"comment","z":"dc38dde8.5375c","name":"Remote Assistance ","info":"The OBS has a web based maintenance interface to be remotely accessible from the AS. This means there is an HTTP address to send to the wayside. This address is sent to the wayside server every time the OBS starts-up or in case it changes\n\n","x":290,"y":200,"wires":[]},{"id":"68ea4ce5.851d54","type":"mqtt out","z":"dc38dde8.5375c","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3196177b.9d03e8","x":910,"y":280,"wires":[]},{"id":"72763d8b.a859b4","type":"ui_template","z":"dc38dde8.5375c","group":"4f60cc23.1047d4","name":"Message send  to Application","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n\n<head>\n  <title>Employment Verification Form</title>\n  <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\">\n  <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n    integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n  <style>\n    table {\n      width: 750px;\n      border-collapse: collapse;\n      margin: 50px auto;\n    }\n\n    /* Zebra striping */\n    tr:nth-of-type(odd) {\n      background: #eee;\n    }\n\n    th {\n      background: #3498db;\n      color: white;\n      font-weight: bold;\n    }\n\n    td,\n    th {\n      padding: 10px;\n      border: 1px solid #ccc;\n      text-align: left;\n      font-size: 18px;\n    }\n\n    /* \nMax width before this PARTICULAR table gets nasty\nThis query will take effect for any screen smaller than 760px\nand also iPads specifically.\n*/\n    @media only screen and (max-width: 760px),\n    (min-device-width: 768px) and (max-device-width: 1024px) {\n\n      table {\n        width: 100%;\n      }\n\n      /* Force table to not be like tables anymore */\n      table,\n      thead,\n      tbody,\n      th,\n      td,\n      tr {\n        display: block;\n      }\n\n      /* Hide table headers (but not display: none;, for accessibility) */\n      thead tr {\n        position: absolute;\n        top: -9999px;\n        left: -9999px;\n      }\n\n      tr {\n        border: 1px solid #ccc;\n      }\n\n      td {\n        /* Behave  like a \"row\" */\n        border: none;\n        border-bottom: 1px solid #eee;\n        position: relative;\n        padding-left: 50%;\n      }\n\n      td:before {\n        /* Now like a table header */\n        position: absolute;\n        /* Top/left values mimic padding */\n        top: 6px;\n        left: 6px;\n        width: 45%;\n        padding-right: 10px;\n        white-space: nowrap;\n        /* Label the data */\n        content: attr(data-column);\n\n        color: #000;\n        font-weight: bold;\n      }\n\n    }\n    th {\n    background: black;\n    color: white;\n    font-weight: bold;\n}\n\n\n  </style>\n</head>\n<body>\n  <h3 style=\"text-align: center;text-transform: capitalize;\">Message send to Application</h4>\n     <table style=\"width: 970px;margin-left: 130px;\">\n      <thead>\n        <tr>\n         \n          <th>ts</th>\n          <th>ipAddress</th>\n          <th>endpoint</th>\n         \n        </tr>\n      </thead>\n      <tbody>\n        <tr>\n   \n          <td>{{msg.payload.ts}}</td>\n          <td>{{msg.payload.ipAddress}}</td>\n          <td>{{msg.payload.endpoint}}</td>\n        </tr>\n\n      </tbody>\n    </table>\n</body>\n\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":220,"wires":[[]]},{"id":"e0c507cb.5fdd18","type":"function","z":"dc38dde8.5375c","name":"","func":"\nif(msg.action=='disconnect'||msg.action=='connect')\n{\n    \n}\nelse\n{\n    let date_ob = new Date();\n    let date = (\"0\" + date_ob.getDate()).slice(-2);\n    let month = (\"0\" + (date_ob.getMonth() + 1)).slice(-2);\n    let year = date_ob.getFullYear();\n    let hours = date_ob.getHours();\n    let minutes = date_ob.getMinutes();\n    let seconds = date_ob.getSeconds();\n    let millisecond = date_ob.getMilliseconds();\n    let datetime = (year + \"-\" + month + \"-\" + date + \" \" + hours + \":\" + minutes + \":\" + seconds + \".\" + millisecond)\n    msg.payload.ts=datetime;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":280,"wires":[["72763d8b.a859b4"]]},{"id":"fdccff95.3fb18","type":"ui_group","name":"PUBLISH Remote Assistance Address from OBS to Wayside","tab":"a6a3a2be.200e4","order":1,"disp":true,"width":"22","collapse":false},{"id":"3196177b.9d03e8","type":"mqtt-broker","name":"","broker":"${MQTT_SERVER}","port":"${MQTT_PORT}","clientid":"OBS","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4f60cc23.1047d4","type":"ui_group","name":"Group 2","tab":"a6a3a2be.200e4","order":2,"disp":false,"width":"22","collapse":false},{"id":"a6a3a2be.200e4","type":"ui_tab","name":"3.4.13 OBS - Remote Assistance","icon":"dashboard","order":1,"disabled":false,"hidden":false}]