OBS/Real time event/RealtimEventFlow.json
[
    {
        "id": "f711ecaea6cadfe0",
        "type": "tab",
        "label": "3.4.11 OBS - Real Time Event",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d798b413c5151cc",
        "type": "mqtt out",
        "z": "f711ecaea6cadfe0",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e2ca8ae.a41228",
        "x": 1190,
        "y": 100,
        "wires": []
    },
    {
        "id": "72b8cae4bd80f363",
        "type": "comment",
        "z": "f711ecaea6cadfe0",
        "name": "OBS Wayside ICD_v0.16",
        "info": "",
        "x": 210,
        "y": 200,
        "wires": []
    },
    {
        "id": "ec8ef82761876b34",
        "type": "comment",
        "z": "f711ecaea6cadfe0",
        "name": "Real Time Events",
        "info": "The OBS will provide real time events to the wayside. Events are singular occurrences, unlike the real time data, which is time based and continuous.\n",
        "x": 180,
        "y": 260,
        "wires": []
    },
    {
        "id": "526037d80be162f2",
        "type": "debug",
        "z": "f711ecaea6cadfe0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 260,
        "wires": []
    },
    {
        "id": "fb95ded86499fde5",
        "type": "ui_template",
        "z": "f711ecaea6cadfe0",
        "group": "738733ea3fbd6db5",
        "name": "PUBLISH Real Time Event  from OBS to Wayside",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html>\n\n<head>\n  <title>Employment Verification Form</title>\n  <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\">\n  <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n    integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n  <style>\n    html,\n    body {\n      min-height: 100%;\n    }\n\n    body,\n    div,\n    form,\n    input,\n    label {\n      padding: 0;\n      margin: 0;\n      outline: none;\n      font-family: Roboto, Arial, sans-serif;\n      font-size: 13px;\n      color: #666;\n      line-height: 22px;\n    }\n\n    legend {\n      color: #fff;\n      background-color: #212529;\n      border-color: #32383e;\n      padding: 3px 5px;\n      font-size: 20px;\n    }\n    .help-block {\n        display: block;\n        margin-top: 2px;\n        margin-bottom: 10px;\n        color: #a94442;\n        font-size: 15px;\n    }\n    h1 {\n      margin: 0;\n      font-size: 36px;\n      color: #fff;\n      z-index: 2;\n    }\n\n    .testbox {\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: inherit;\n      padding: 20px;\n    }\n\n    form {\n      width: 100%;\n      padding: 20px;\n      border-radius: 6px;\n      background: #fff;\n      box-shadow: 0 0 10px 0 #095484;\n    }\n\n    .banner {\n      position: relative;\n      height: 320px;\n      background-image: url(\"/uploads/media/default/0001/02/19ea6ba00def11fb8f5113a4d7555a97bd58ce3d.jpeg\");\n      background-size: cover;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      text-align: center;\n    }\n\n    .banner::after {\n      content: \"\";\n      background-color: rgba(0, 0, 0, 0.6);\n      position: absolute;\n      width: 100%;\n      height: 100%;\n    }\n\n    input {\n      margin-bottom: 10px;\n      border: 1px solid #ccc;\n      border-radius: 3px;\n    }\n\n    input {\n      width: calc(100% - 10px);\n      padding: 5px;\n    }\n\n    select {\n      width: 100%;\n      padding: 7px 0;\n      background: transparent;\n    }\n\n    input[type=\"date\"] {\n      padding: 4px 5px;\n    }\n\n    .item:hover p,\n    .item:hover i,\n    .question:hover p,\n    .question label:hover,\n    input:hover::placeholder {\n      color: #095484;\n    }\n\n    .item input:hover {\n      border: 1px solid transparent;\n      box-shadow: 0 0 6px 0 #095484;\n      color: #095484;\n    }\n\n    .item {\n      position: relative;\n      margin: 10px 0;\n    }\n\n    .item span {\n      color: red;\n    }\n\n    input[type=\"date\"]::-webkit-inner-spin-button {\n      display: none;\n    }\n\n    .item i,\n    input[type=\"date\"]::-webkit-calendar-picker-indicator {\n      position: absolute;\n      font-size: 20px;\n      color: #095484;\n    }\n\n    .item i {\n      right: 2%;\n      top: 30px;\n      z-index: 1;\n    }\n\n    [type=\"date\"]::-webkit-calendar-picker-indicator {\n      right: 1%;\n      z-index: 2;\n      opacity: 0;\n      cursor: pointer;\n    }\n\n    .question span {\n      margin-left: 30px;\n    }\n\n    .btn-block {\n      margin-top: 10px;\n      text-align: center;\n\n    }\n\n    button {\n      width: 150px;\n      padding: 10px;\n      border: none;\n      border-radius: 5px;\n      background: #095484;\n      font-size: 16px;\n      color: #fff;\n      cursor: pointer;\n      background-color: #28a745;\n      border-color: #28a745;\n    }\n\n    button:hover {\n      background: #28a745;\n    }\n\n    @media (min-width: 568px) {\n\n      .name-item,\n      .city-item {\n        display: flex;\n        flex-wrap: wrap;\n        justify-content: space-between;\n      }\n\n      .name-item input,\n      .city-item input,\n      .name-item div {\n        width: calc(50% - 20px);\n      }\n\n      .name-item div input {\n        width: 97%;\n      }\n\n      .name-item div label {\n        display: block;\n        padding-bottom: 5px;\n      }\n    }\n\n    .input,\n    .textarea {\n      border: 1px solid #ccc;\n      font-family: inherit;\n      font-size: inherit;\n      padding: 1px 6px;\n    }\n\n    .table {\n      width: 100%;\n      max-width: 100%;\n      margin-bottom: 1rem;\n      background-color: transparent;\n    }\n\n    table {\n      border-collapse: collapse;\n    }\n\n    *,\n    ::after,\n    ::before {\n      box-sizing: border-box;\n    }\n\n    table {\n      display: table;\n      border-collapse: separate;\n      box-sizing: border-box;\n      text-indent: initial;\n      border-spacing: 2px;\n      border-color: grey;\n    }\n\n    thead {\n      display: table-header-group;\n      vertical-align: middle;\n      border-color: inherit;\n    }\n\n    table {\n      border-collapse: collapse;\n    }\n\n    table {\n      border-collapse: separate;\n      text-indent: initial;\n      border-spacing: 2px;\n    }\n\n    .table .thead-dark th {\n      color: #fff;\n      background-color: #212529;\n      border-color: #32383e;\n    }\n\n    .table thead th {\n      vertical-align: bottom;\n      border-bottom: 2px solid #dee2e6;\n    }\n\n    .table td,\n    .table th {\n      padding: .75rem;\n      vertical-align: top;\n      border-top: 1px solid #dee2e6;\n    }\n\n    th {\n      text-align: inherit;\n    }\n\n\n\n    .table .thead-dark th {\n      color: #fff;\n      background-color: #212529;\n      border-color: #32383e;\n    }\n\n    .table thead th {\n      vertical-align: bottom;\n      border-bottom: 2px solid #dee2e6;\n    }\n\n    .table td,\n    .table th {\n      padding: .75rem;\n      vertical-align: top;\n      border-top: 1px solid #dee2e6;\n    }\n\n    th {\n      text-align: inherit;\n    }\n\n    *,\n    ::after,\n    ::before {\n      box-sizing: border-box;\n    }\n\n    user agent stylesheet th {\n      display: table-cell;\n      vertical-align: inherit;\n      font-weight: bold;\n      text-align: -internal-center;\n    }\n\n    table {\n      border-collapse: collapse;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"testbox\" style=\"display: flex;\">\n    <form style=\" display: block; height: 800px; overflow: auto;\" id=\"myForm\">\n      <fieldset style=\"padding-left: 90px;\">\n        <legend>MQTT</legend>\n        <div class=\"name-item\">\n          <div>\n            <label for=\"tranid\">Tranid</label>\n            <input style=\"width: 72%;\" id=\"tranid\" type=\"text\" name=\"topic\" required />\n          </div>\n\n          <div>\n            <label for=\"topic\">Topic</label>\n            <input style=\"width: 72%;\" id=\"topic\" type=\"text\" readonly placeholder=\"/real-time/event\" name=\"topic\"\n              required />\n          </div>\n        </div>\n        <div class=\"item\">\n          <div class=\"item\">\n            <div class=\"name-item\">\n              <div>\n                <label for=\"Qos\">Qos</label>\n                <select disabled style=\"width: 72%;\" id=\"qos\" name=\"qos\" required>\n\n                  <option value=\"0\">0</option>\n                  <option value=\"1\">1</option>\n                  <option selected value=\"2\">2</option>\n                </select>\n              </div>\n              <div>\n                <label for=\"retainFlag\">RetainFlag</label>\n                <select disabled style=\"width: 72%;\" id=\"retainFlag\" , name=\"retainFlag\" required>\n\n                  <option value=\"true\">True</option>\n                  <option selected value=\"false\">False</option>\n                </select>\n              </div>\n            </div>\n          </div>\n        </div>\n      </fieldset>\n      <br />\n      <fieldset style=\"padding-left: 90px;\">\n        <legend>Payload</legend>\n        <br />\n        <div class=\"name-item\">\n            <div>\n                <label for=\"tranid\">Event Code</label>\n                <input style=\"width: 72%;\" id=\"eventCode\" type=\"number\" name=\"eventCode\"/>\n                <div style=\"display:flex;width:500px\">\n                    <label class=\"form-check-label\" for=\"flexCheckDisabled\">\n                        Check to publish String value\n                    </label>\n                    <input style=\"width:5%;height:15px;margin:revert\" type=\"checkbox\" value=\"\" id=\"checkPublishStringEventCode\">\n                </div>\n                <h5 class=\"help-block\" id=\"errorEventCode\"></h5>\n              </div>\n              <div>\n                <label for=\"tranid\">Timestamp</label>\n                <input style=\"width: 72%;\" id=\"Timestamp\" type=\"number\" name=\"eventCode\"/>\n                <div style=\"display:flex;width:500px\">\n                    <label class=\"form-check-label\" for=\"flexCheckDisabled\">\n                        Check to publish String value\n                    </label>\n                    <input style=\"width:5%;height:15px;margin:revert\" type=\"checkbox\" value=\"\" id=\"checkPublishStringEventCode\">\n                </div>\n                <h5 class=\"help-block\" id=\"errorEventCode\"></h5>\n              </div>\n         </div>\n        <div class=\"name-item\">\n          <div>\n            <label for=\"tranid\">activationTimestamp</label>\n            <input style=\"width: 72%;\" id=\"activationTimestamp\" type=\"number\" name=\"activationTimestamp\"/>\n            <!--<div style=\"flex\">-->\n            <!--    <label class=\"form-check-label\" for=\"flexCheckDisabled\">-->\n            <!--        Check to publish String value-->\n            <!--    </label>-->\n            <!--    <input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"checkPublishStringActTimeStamp\">-->\n            <!--</div>-->\n            <div style=\"display:flex;width:500px\">\n                <label class=\"form-check-label\" for=\"flexCheckDisabled\">\n                    Check to publish String value\n                </label>\n                <input style=\"width:5%;height:15px;margin:revert\" type=\"checkbox\" value=\"\" id=\"checkPublishStringActTimeStamp\">\n            </div>\n            <h5 class=\"help-block\" id=\"errorACtivationTimestamp\"></h5>\n          </div>\n\n          <div>\n            <label for=\"topic\">recoveryTimestamp</label>\n            <input style=\"width: 72%;\" id=\"recoveryTimestamp\" type=\"number\" name=\"recoveryTimestamp\" />\n            <!--<div style=\"flex\">-->\n            <!--    <label class=\"form-check-label\" for=\"flexCheckDisabled\">-->\n            <!--        Check to publish String value-->\n            <!--    </label>-->\n            <!--    <input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"checkPublishStringRecoveryTimeStamp\">-->\n            <!--</div>-->\n             <div style=\"display:flex;width:500px\">\n                <label class=\"form-check-label\" for=\"flexCheckDisabled\">\n                    Check to publish String value\n                </label>\n                <input style=\"width:5%;height:15px;margin:revert\" type=\"checkbox\" value=\"\" id=\"checkPublishStringRecoveryTimeStamp\">\n            </div>\n            <h5 id=\"errorRecoveryTimestamp\" class=\"help-block\"></h5>\n          </div>\n        </div>\n        \n        <label for=\"tranid\">logClass</label>\n        <br />\n        <label for=\"tranid\" id=\"logClasserros\" style=\"color: red;\"></label>\n        <fieldset style=\"width: 88%; border: 0;\">\n          <div>\n            <label for=\"tranid\">timestampList</label>\n            <br />\n            <fieldset>\n              <div>\n                <i id=\"add\" class=\"fas fa-plus-square\"></i>\n\n              </div>\n              <div id=\"buildyourform\" class=\"name-item\">\n\n              </div>\n              <!--<label id=\"labelCheckNullTimestampList\" class=\"form-check-label\" for=\"flexCheckDisabled\">-->\n              <!--      Check to send null this object -->\n              <!--  </label>-->\n              <!--<input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"checkNullTimestampList\">-->\n            <div style=\"display:flex;width:500px\">\n                <label id=\"labelCheckNullTimestampList\" class=\"form-check-label\" for=\"flexCheckDisabled\">\n                    Check to publish String value\n                </label>\n                <input style=\"width:5%;height:15px;margin:revert\" type=\"checkbox\" value=\"\" id=\"checkNullTimestampList\">\n            </div>\n            </fieldset>\n            <h5 class=\"help-block\" id=\"errorTimestampList\" ></h5>\n            <br />\n            <label for=\"tranid\">signalList</label>\n            <fieldset>\n              <div>\n                <i id=\"add2\" class=\"fas fa-plus-square\"></i>\n\n              </div>\n              \n              <fieldset style=\"border: 0;\" id=\"buildyourform2\">\n              </fieldset>\n              <!--<label id=\"labelCheckNullSignalList\" class=\"form-check-label\" for=\"flexCheckDisabled\">-->\n              <!--      Check to send null this object -->\n              <!--  </label>-->\n              <!--<input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"checkNullSignalList\">-->\n            <div style=\"display:flex;width:500px\">\n                <label id=\"labelCheckNullSignalList\" class=\"form-check-label\" for=\"flexCheckDisabled\">\n                    Check to publish String value\n                </label>\n                <input style=\"width:5%;height:15px;margin:revert\" type=\"checkbox\" value=\"\" id=\"checkNullSignalList\">\n            </div>\n            </fieldset>\n            <h5 class=\"help-block\" id=\"errorSignalList\" ></h5>\n            <br />\n          </div>\n\n        </fieldset>\n        <div class=\"item\">\n          <div class=\"item\">\n            <div class=\"name-item\">\n              <div>\n                <label for=\"vehicleId\">vehicleId</label>\n                <select style=\"width: 72%;\" id=\"vehicleId\" name=\"vehicleId\" required>\n                  <option value=\"0\">0 = events for the whole train </option>\n                  <option value=\"1\">1 = vehicle id 1</option>\n                  <option value=\"2\">2 = vehicle id 2</option>\n                  <option value=\"3\">3 = vehicle id 3</option>\n                  <option value=\"4\">4 = vehicle id 4</option>\n                  <option value=\"5\">5 = vehicle id 5</option>\n                  <option value=\"6\">6 = vehicle id 6</option>\n                  <option value=\"7\">7 = vehicle id 7</option>\n                  <option value=\"8\">8 = vehicle id 8</option>\n                  <option value=\"9\">9 = vehicle id 9</option>\n                  <option value=\"10\">10 = vehicle id 10</option>\n                  <option value=\"11\">11 = vehicle id 11</option>\n                  <option value=\"12\">12 = vehicle id 12</option>\n                </select>\n              </div>\n              <div>\n                <label for=\"subVehicleId\">subVehicleId</label>\n                <select style=\"width: 72%;\" id=\"subVehicleId\" , name=\"subVehicleId\" required>\n                  <option value=\"0\">0 = events for the whole train </option>\n                  <option value=\"1\">1 = subvehicle id 1</option>\n                  <option value=\"2\">2 = subvehicle id 2</option>\n                  <option value=\"3\">3 = subvehicle id 3</option>\n                  <option value=\"4\">4 = subvehicle id 4</option>\n                </select>\n              </div>\n              <div>\n                <label for=\"subVehicleId\">Options</label>\n                <select style=\"width: 72%;\" id=\"op\" , name=\"op\" required>\n                  <option value=\"0\">Manual </option>\n                  <option value=\"1\">Json File</option>\n                </select>\n              </div>\n              <div>\n                <label for=\"maintenanceMode\">maintenanceMode</label>\n                <select style=\"width: 72%;\" id=\"maintenanceMode\" , name=\"maintenanceMode\" required>\n                  <option value=\"0\">0 = train in service</option>\n                  <option value=\"1\">1 = maintenance mode</option>\n                </select>\n              </div>\n            </div>\n          </div>\n        </div>\n        <div>\n          <input type=\"file\" style=\"width: 35%; display: none\" id=\"selectFiles\" required /><br />\n          <button style=\"height: 35px; width: 90px; display: none;\" id=\"import\">Import</button>\n          <div>\n            <br />\n            <textarea style=\"width: 100%; height: 200px; display:none;resize: none; \" id=\"result\" required></textarea>\n          </div>\n          <div id=\"divTable\">\n                    \n          </div>\n        </div>\n      </fieldset>\n      <br />\n      <div class=\"btn-block\" style=\"float: left; padding-left: 93px;\">\n        <button style=\"width: 135px;\" id=\"submit\">Publish</button>\n        <button style=\"width: 135px; color: #fff;background-color: #dc3545;\n                   border-color: #dc3545;\" id=\"delete\">Reset</button>\n      </div>\n      <br />\n      <br />\n\n    </form>\n    <br />\n    <br />\n    <br />\n  </div>\n  <script src=\"https://code.jquery.com/jquery-3.6.0.js\" integrity=\"sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=\"\n    crossorigin=\"anonymous\">\n    </script>\n    <script type=\"text/javascript\">\n        function checkPublishString(idCheck,idInput)\n        {\n            var checkInput = document.getElementById(idCheck);\n            if(checkInput.checked)\n            {\n                document.getElementById(idInput).setAttribute('type', 'text');\n            }else{\n                document.getElementById(idInput).setAttribute('type', 'number');\n            }\n        }\n        function checkPublishStringList(idCheck,idDiv)\n        {\n            var checkInput = document.getElementById(idCheck);\n            console.log(\"checked\")\n            if(checkInput.checked)\n            {\n                document.getElementById(idDiv).children[1].setAttribute('type', 'text');\n            }else{\n                document.getElementById(idDiv).children[1].setAttribute('type', 'number');\n            }\n        }\n    </script>\n  <script>\n    (function (scope) {\n\n    //----------------------------------------------------MQTT Config---------------------------------------------------------------//\n    var topic = $(\"#topic\");\n    var Option = $(\"#op\");\n    var addtimestampList = $(\"#add\");\n    var addsignalList = $(\"#add2\");\n    var tranid = $(\"#tranid\");\n    var payload = $(\"#result\");\n    var qos = $(\"#qos\");\n    var retainFlag = $('#retainFlag');\n    var submitId = $(\"#submit\");\n    var selectFile = $(\"#selectFiles\");\n    var arrays = null;\n    //-----------------------------------------------------Payload for real time evnt--------------------------------------------------------------//\n    var checkPublishStringActTimestamp = $('#checkPublishStringActTimeStamp')\n    var checkPublishStringRecoveryTimestamp = $('#checkPublishStringRecoveryTimeStamp')\n    var activationTimestamps = $(\"#activationTimestamp\");\n    var recoveryTimestamps = $(\"#recoveryTimestamp\");\n    var vehicleIds = $(\"#vehicleId\");\n    var subVehicleIds = $(\"#subVehicleId\");\n    var maintenanceModes = $(\"#maintenanceMode\");\n    let date_ob = new Date();\n    let date = (\"0\" + date_ob.getDate()).slice(-2);\n    let month = (\"0\" + (date_ob.getMonth() + 1)).slice(-2);\n    let year = date_ob.getFullYear();\n    let hours = date_ob.getHours();\n    let minutes = date_ob.getMinutes();\n    let seconds = date_ob.getSeconds();\n    let millisecond = date_ob.getMilliseconds();\n    let datetime = (year + \"-\" + month + \"-\" + date + \" \" + hours + \":\" + minutes + \":\" + seconds + \".\" + millisecond)\n    var eventCode = $(\"#eventCode\");\n    var divTable=$(\"#divTable\")\n    \n    //-----------------------------------------------------DataType---------------------------------------------------------\n    var checkNullTimestampList = $(\"#checkNullTimestampList\");\n    var checkNullSignalList = $(\"#checkNullSignalList\");\n    var labelCheckNullTimestampList = $(\"#labelCheckNullTimestampList\")\n    var labelCheckNullSignalList = $(\"#labelCheckNullSignalList\")\n    var errorACtivationTimestamp = $(\"#errorACtivationTimestamp\")\n    var errorRecoveryTimestamp = $(\"#errorRecoveryTimestamp\")\n    var errorSignalList = $(\"#errorSignalList\")\n    var errorTimestampList = $(\"#errorTimestampList\")\n    var errorEventCode = $(\"#errorEventCode\")\n    var checkPublishStringEventCode = $(\"#checkPublishStringEventCode\")\n    \n    checkPublishStringEventCode.change(()=>{\n        if(checkPublishStringEventCode.is(\":checked\"))\n        {\n            errorEventCode.text(\"Wrong datatype\")\n        }else{\n            errorEventCode.text(\"\")\n        }\n    })\n    \n    \n    checkNullTimestampList.change(()=>{\n        if(checkNullTimestampList.is(':checked'))\n        {\n            errorTimestampList.text(\"TimestampList is required Object\")\n        }else{\n            errorTimestampList.text(\"\")\n        }\n    })\n    \n    checkNullSignalList.change(()=>{\n        if(checkNullSignalList.is(':checked'))\n        {\n            errorSignalList.text(\"SignalList is required Object\")\n        }else{\n            errorSignalList.text(\"\")\n        }\n    })\n    \n\n    checkPublishStringActTimestamp.change(()=>{\n        checkPublishString(\"checkPublishStringActTimeStamp\",\"activationTimestamp\")\n        if($(\"#checkPublishStringActTimeStamp\").is(':checked'))\n        {\n            errorACtivationTimestamp.text(\"Datatype incorrect\")\n        }else{\n            errorACtivationTimestamp.text(\"\")\n        }\n    })\n    checkPublishStringRecoveryTimestamp.change(()=>{\n        checkPublishString(\"checkPublishStringRecoveryTimeStamp\",\"recoveryTimestamp\")\n        if($(\"#checkPublishStringRecoveryTimeStamp\").is(':checked'))\n        {\n            errorRecoveryTimestamp.text(\"Datatype incorrect\")\n        }else{\n            errorRecoveryTimestamp.text(\"\")\n        }\n    })\n\n    //----------------------------------------------Clear form-------------------------------------------------------------------//\n    $(\"#delete\").click(() => {\n      document.getElementById(\"myForm\").reset();\n      document.getElementById('selectFiles').style.display = \"none\";\n      document.getElementById('import').style.display = \"none\";\n\n    })\n\n    //------------------------------------------------------addsignalList--------------------------------------------------------------//\n    addsignalList.click(() => {\n        checkNullSignalList.css(\"display\",\"none\")\n        labelCheckNullSignalList.css(\"display\",\"none\")\n      // add item for signalList\n      var lastField1 = $(\"#buildyourform2 div:last\");\n      var intId = (lastField1 && lastField1.length && lastField1.data(\"idx\") + 1) || 1;\n      \n      console.log(intId)\n      var fieldWrappersignalList = $(\"<div  style=\\\"margin-right: -5%\\\"  class=\\\"fieldwrapper\\\" id=\\\"field\" + intId + \"\\\"/>\");\n      var fName = $(\" <br/> signalId \" + intId + \" <input style=\\\"width: 35%\\\" type=\\\"text\\\" class=\\\"fieldname\\\" />\");\n      var fName2 = $(\" <br/> signalValue \" + intId + \"  <i id=\\\"signal\" + intId + \"\\\" class=\\\"fas fa-plus-square\\\"></i>  <fieldset id=\\\"fieldset\" + intId + \"\\\" style=\\\"margin-left:50px ;width: 90% ; border: 1px;\\\"  ></fieldset>  \");\n      fieldWrappersignalList.data(\"idx\", intId);\n      var removeButton = $(\"<i id=\\\"xoa\\\" class=\\\"fas fa-trash-alt\\\"></i>\");\n        \n      removeButton.click(function () { //delete item for signalList\n        $(this).parent().remove();\n        var signalList = document.getElementById(\"buildyourform2\").childElementCount;\n        console.log(signalList)\n        if(signalList==0)\n        {\n            labelCheckNullSignalList.css(\"display\",\"\")\n            checkNullSignalList.css(\"display\",\"\")\n        }\n      });\n      fieldWrappersignalList.append(fName);\n      fieldWrappersignalList.append(fName2);\n      fieldWrappersignalList.append(removeButton);\n      $(\"#buildyourform2\").append(fieldWrappersignalList);\n\n      // add item for signalValue\n      $(\"#signal\" + intId).click(() => {\n        var lastFields = $(\"#fieldset\" + intId + \" \" + \"fieldset:last\")\n        var intIds = (lastFields && lastFields.length && lastFields.data(\"idxs\") + 1) || 1;\n        var fieldWrapper = $(\"<fieldset  style=\\\"border: 0;\\\" id=\\\"field\" +intId+intIds + \"\\\"/>\");\n        // var fieldWrappers = $(\"<fieldset  style=\\\"border: 0;\\\">\");\n        fieldWrapper.data(\"idxs\", intIds);\n        var divCheck = $(\"<div style=\\\"display:flex;width:500px\\\"/>\")\n        var fName = $(\" <br/> value \" + intIds + \" <input style=\\\"width: 76%\\\" type=\\\"number\\\" class=\\\"fieldname\\\" />\");\n        var removeButton = $(\"<i id=\\\"xoa\\\" class=\\\"fas fa-trash-alt\\\"></i>\");\n        var labelCheck = $(\"<label class=\\\"form-check-label\\\" id=\\\"labelSignalList\"+intId+\"\\\" for=\\\"flexCheckDisabled\\\">Check to publish String value</label>\")\n        var checkBox = $(\"<input style=\\\"width:5%;height:15px;margin:revert\\\" class=\\\"form-check-input\\\" onchange=\\\"checkPublishStringList(this.id,'field\"+intId+intIds+\"'\"+\")\\\" type=\\\"checkbox\\\" value=\\\"\\\" id=\\\"checkPublishStringSignalvalue\"+intId+intIds+\"\\\">\")\n        var errorMessage = $(\"<h5 class=\\\"help-block\\\" id=\\\"errorSignalValue\"+intId+\"\\\" ></h5>\")\n        divCheck.append(labelCheck)\n        divCheck.append(checkBox)\n        fieldWrapper.append(fName);\n        fieldWrapper.append(removeButton);\n        fieldWrapper.append(errorMessage);\n        fieldWrapper.append(divCheck)\n        // fieldWrapper.append(fieldWrappers);\n        $(\"#fieldset\" + intId).append(fieldWrapper);\n        \n        removeButton.click(function () { //delete item for signalValue\n          $(this).parent().remove();\n        });\n        checkBox.change(function(){\n          if(checkBox.is(\":checked\"))\n          {\n              errorMessage.text(\"Datatype incorrect\")\n          }else{\n              errorMessage.text(\"\")\n          }\n      })\n      })\n\n\n    })\n\n    //------------------------------------------------------addtimestampList--------------------------------------------------------------//\n    \n    addtimestampList.click(() => {\n      \n      checkNullTimestampList.css(\"display\",\"none\")\n      labelCheckNullTimestampList.css(\"display\",\"none\")\n      var lastField = document.getElementById(\"buildyourform\").childElementCount;\n      var intId = lastField+1;\n      var fieldWrapper = $(\"<div  style=\\\"margin-right: -5%\\\"  class=\\\"fieldwrapper\\\" id=\\\"field\" + intId + \"\\\"/>\");\n      var divCheck = $(\"<div style=\\\"display:flex;width:500px\\\"/>\")\n      var fName = $(\" <br/> value \" + intId + \" <input style=\\\"width: 76%\\\" type=\\\"number\\\" class=\\\"fieldname\\\" />\");\n      fieldWrapper.data(\"idx\", intId);\n      var removeButton = $(\" <i class=\\\"fas fa-trash-alt\\\"></i>\");\n      var checkBox = $(\"<input  style=\\\"width:5%;height:15px;margin:revert\\\" class=\\\"form-check-input\\\" onchange=\\\"checkPublishStringList(this.id,'field\"+intId+\"'\"+\")\\\" type=\\\"checkbox\\\" value=\\\"\\\" id=\\\"checkPublishStringTimestamp\"+intId+\"\\\">\")\n      var labelCheck = $(\"<label class=\\\"form-check-label\\\" id=\\\"labelTimestampList\"+intId+\"\\\" for=\\\"flexCheckDisabled\\\">Check to publish String value</label>\")\n      var errorMessage = $(\"<h5 class=\\\"help-block\\\" id=\\\"errorValueTimestamp\"+intId+\"\\\" ></h5>\")\n      divCheck.append(labelCheck)\n      divCheck.append(checkBox)\n      removeButton.click(function () {\n        $(this).parent().remove();\n        var timestampList = document.getElementById(\"buildyourform\").childElementCount;\n        if(timestampList==0)\n        {\n            checkNullTimestampList.css(\"display\",\"\")\n            labelCheckNullTimestampList.css(\"display\",\"\")\n        }\n      });\n      checkBox.change(function(){\n          if(checkBox.is(\":checked\"))\n          {\n              errorMessage.text(\"Datatype incorrect\")\n          }else{\n              errorMessage.text(\"\")\n          }\n      })\n      fieldWrapper.append(fName);\n      fieldWrapper.append(removeButton);\n      fieldWrapper.append(divCheck);\n      fieldWrapper.append(errorMessage);\n      $(\"#buildyourform\").append(fieldWrapper);\n\n    })\n\n    //------------------------------------------------------insert topic--------------------------------------------------------------//\n    tranid.keyup(() => {\n      $(\"#topic\").val(tranid.val() + \"/real-time/event\");\n\n    })\n\n    $(\"#op\").change(() => {\n      if (Option.val() == 0) {\n\n        document.getElementById('selectFiles').style.display = \"none\";\n        document.getElementById('import').style.display = \"none\";\n      }\n      else {\n        document.getElementById('selectFiles').style.display = \"\";\n        document.getElementById('import').style.display = \"\";\n      }\n\n    })\n    //--------------------------------------------------------------------------------------------------------------------//\n    // $(\"#import\").click(() => {\n    //   var files = document.getElementById('selectFiles').files;\n\n    //   console.log(files);\n    //   if (files.length <= 0) {\n    //     return false;\n    //   }\n    //   var fr = new FileReader();\n\n    //   fr.onload = function (e) {\n    //     try {\n    //       var result = JSON.parse(e.target.result);\n    //       var formatted = JSON.stringify(result, null, 2);\n    //       alert(\"Import success \");\n    //       arrays = formatted;\n    //     } catch (error) {\n    //       console.log(e);\n    //       alert(error);\n    //     }\n\n    //   }\n\n    //   fr.readAsText(files.item(0));\n\n    // })\n    document.getElementById('import').onclick = function () {\n      var files = document.getElementById('selectFiles').files;\n\n      if (files.length <= 0) {\n        return false;\n      }\n      document.getElementById('result').style.display = \"block\";\n      var fr = new FileReader();\n\n      fr.onload = function (e) {\n        try {\n          var invalidObj = [];\n          var result = JSON.parse(e.target.result);\n            // \"Numeric value\"\n            if(activationTimestamp==null)\n            {\n                invalidObj.push({Field:\"activationTimestamp\",Message:\"activationTimestamp is required object\"}) \n            }else{\n                if(typeof result.activationTimestamp != \"number\"){\n            \t    invalidObj.push({Field:\"activationTimestamp\",Message:\"activationTimestamp must be number\"}) \n                }\n            }\n            \n            if(typeof result.recoveryTimestamp != \"number\")\n            {\n                invalidObj.push({Field:\"recoveryTimestamp\",Message:\"recoveryTimestamp must be number\"})\n            }\n            if(result.logClass.timestampList==null)\n            {\n                invalidObj.push({Field:\"timestampList\",Message:\"timestampList is required object\"})\n            }else{\n                for(var i=0;i<result.logClass.timestampList.length ;i++)\n                {\n                    if(typeof result.logClass.timestampList[i] != \"number\")\n                    {\n                        invalidObj.push({Field:\"timestampList\",Message:\"value \"+i+\" in timestampList must be number\"})\n                    }\n                }\n            }\n            if(result.eventCode==null)\n            {\n                invalidObj.push({Field:\"eventCode\",Message:\"eventCode is required object\"})\n            }else{\n                if(typeof result.eventCode != \"number\"){\n                    invalidObj.push({Field:\"eventCode\",Message:\"eventCode must be number\"})\n                }\n            }\n            if(result.logClass.signalList==null)\n            {\n                invalidObj.push({Field:\"signalList\",Message:\"signalList is required object\"})\n            }else{\n                for(var i=0;i<result.logClass.signalList.length;i++)\n                {\n                    for(var j=0;j<result.logClass.signalList[i].signalValue.length;j++)\n                    {\n                        if(typeof result.logClass.signalList[i].signalValue[j] != \"number\")\n                        {\n                            invalidObj.push({Field:\"signalList\",Message:\"value \"+i+\" in signalList must be number\"})\n                        }\n                    }\n                }\n            }\n            if(result.logClass.signalList!=null && result.logClass.timestampList!=null)\n            {\n               for(var i =0 ;i <result.logClass.signalList.length;i++)\n                {\n                    if(result.logClass.timestampList.length!=result.logClass.signalList[i].signalValue.length)\n                    {\n                        invalidObj.push({Field:\"signalList\",Message:\"value \"+i+\" in signalList must have same entries with timestampList\"})\n                    }\n                } \n            }\n            \n            var tableInvalid = `\n                                <table style=\"margin-right:250px;width:85%\">\n                                    <thead style=\"background: #212529\">\n                                        <tr>\n                                            <th scope=\"col\">#</th>\n                                            <th scope=\"col\">Field</th>\n                                            <th scope=\"col\">Message</th>\n                                        </tr>\n                                    </thead>\n                                    <tbody id=\"bodyResult\">\n                                       \n                                    </tbody>\n                                </table>\n                            `\n            divTable.html(tableInvalid)\n            var bodyResult=$('#bodyResult')\n            var resultbody =\"\";\n            for(var i=0;i<invalidObj.length;i++)\n            {\n                resultbody+=`\n                         <tr>\n                            <td scope=\"row\">${i + 1}</td>\n                            <td >${invalidObj[i].Field}</td>\n                            <td>${invalidObj[i].Message}</td>\n                        </tr>\n                    `;\n            }\n            bodyResult.html(resultbody)\n          var formatted = JSON.stringify(result, null, 2);        \n          document.getElementById('result').style.display = \"\"\n          document.getElementById('result').value = formatted;\n          alert(\"Import success \");\n        } catch (error) {\n          document.getElementById('result').style.display = \"none\"\n          console.log(e);\n          alert(error);\n        }\n\n      }\n\n      fr.readAsText(files.item(0));\n\n    };\n    //-------------------------------------------publish----------------------------------------------------------------------//\n    submitId.click(() => {\n      var timestampLists = [];\n      var signalIdList = [];\n      // var logclasss = [];\n\n      //  get signalId \n      $(\"#buildyourform .fieldwrapper\").each(function () {\n        var temp = $(this).find(\"input.fieldname\").first().val()\n        var divchecked = $(this).children().eq(3)\n        var checked = divchecked.children().eq(1).is(':checked')\n        if(!checked)\n        {\n            if(temp!='')\n            {\n                temp=parseInt(temp)\n            }else{\n                temp=null\n            }\n            \n        }\n        timestampLists.push(temp)\n      });\n      \n      //  get list signalValue  \n      $(\"#buildyourform2 .fieldwrapper\").each(function () {\n        var fieldsetid = $(this).find(\"fieldset\").first().attr('id') // get id fieldset\n        \n        var tam = [] \n       // $(\"#\" + fieldsetid).find(\"input.fieldname\").each(function () {\n       $(\"#\" + fieldsetid).find(\"fieldset\").each(function () {\n        var temp = $(this).find(\"input.fieldname\").first().val()\n        var divChecked = $(this).children().eq(4)\n        var checked = divChecked.children().eq(1).is(':checked')\n        console.log($(this))\n        if(!checked)\n        {\n            if(temp!='')\n            {\n                temp=parseInt(temp) \n            }else{\n                temp=null\n            }\n        }\n        tam.push(temp)\n        \n        //   console.log($(this))\n        //   if (this.value != '') {\n        //     tam.push(parseInt(this.value));\n        //   }\n          // push value input text for array\n        \n        });\n        // if ($(this).find(\"input.fieldname\").first().val() != '') {\n          signalIdList.push({ signalId: $(this).find(\"input.fieldname\").first().val(), signalValue: tam })\n        // }\n      });\n      if(checkNullTimestampList.is(':checked') || checkNullSignalList.is(':checked'))\n      {\n          if(checkNullTimestampList.is(':checked'))\n          {\n              timestampLists=null;\n          }\n          if(checkNullSignalList.is(':checked'))\n          {\n              signalIdList=null;\n          }\n      }else{\n          for(var i=0;i<signalIdList.length;i++)\n          {\n            if (timestampLists.length != signalIdList[i].signalValue.length) {\n             $(\"#logClasserros\").empty();\n             $(\"#logClasserros\").append(\"List of values of the signal. Must contain the same number of entries as the list of timestamps in LOG_CLASS\");\n            }\n            else {\n             $(\"#logClasserros\").empty();\n            }  \n          }\n      }\n      \n      var logclasss = { timestampList: timestampLists, signalList: signalIdList }\n      \n      \n\n      if (tranid.val() == '' || activationTimestamps.val() == '') {\n       errorACtivationTimestamp.text(\"activationTimestamp is required object\")\n      }\n        if (Option.val() == 0) {\n          var activationTimestampTemp=null;\n          var recoveryTimestampTemp=null;\n          var eventCodeTemp=null;\n          if(eventCode.val()=='')\n          {\n                errorEventCode.text(\"Event code is required object\")\n          }else{\n              eventCodeTemp=parseInt(eventCode.val())\n          }\n          if(checkPublishStringEventCode.is(\":checked\"))\n          {\n              eventCodeTemp=String(eventCodeTemp)\n              errorEventCode.text(\"Event code is required object\")\n          }\n          \n          if(activationTimestamps.val()!='')\n          {\n              if(checkPublishStringActTimestamp.is(':checked'))\n              {\n                  activationTimestampTemp=activationTimestamps.val();\n              }else{\n                  activationTimestampTemp=parseInt(activationTimestamps.val());\n              }\n          }\n          //activationTimestamp check datatype\n          \n          if(recoveryTimestamps.val()!='')\n          {\n              //recoveryTimestamp check datatype\n              if(checkPublishStringRecoveryTimestamp.is(':checked'))\n              {\n                recoveryTimestampTemp=recoveryTimestamps.val();\n              }else{\n                  recoveryTimestampTemp=parseInt(recoveryTimestamps.val());\n              }\n          }\n          if(timestampLists.length==0)\n          {\n              errorTimestampList.text(\"timestampList is required object\")\n          }\n          if(signalIdList.length==0)\n          {\n              errorSignalList.text(\"signalList is required object\")\n          }\n          console.log({ topic: topic.val(), qos: qos.val(), retainFlag: retainFlag.val(), payload: { ts: datetime, eventCode: eventCodeTemp, activationTimestamp: activationTimestampTemp\n          , recoveryTimestamp: recoveryTimestampTemp, logClass: logclasss, vehicleId: parseInt(vehicleIds.val()), subVehicleId: parseInt(subVehicleIds.val()), maintenanceMode: parseInt(maintenanceModes.val()) } })\n          scope.send({ topic: topic.val(), qos: qos.val(), retainFlag: retainFlag.val(), payload: { ts: datetime, eventCode: eventCodeTemp, activationTimestamp: activationTimestampTemp\n          , recoveryTimestamp: recoveryTimestampTemp, logClass: logclasss, vehicleId: parseInt(vehicleIds.val()), subVehicleId: parseInt(subVehicleIds.val()), maintenanceMode: parseInt(maintenanceModes.val()) } })\n          alert(\"success\")\n        }\n        else {\n          if(arrays==null)\n          {\n            alert(\"import JSON File\")\n          }\n          else\n          {\n            var result = document.getElementById('result').value\n            scope.send({ topic: topic.val(), qos: qos.val(), retainFlag: retainFlag.val(), payload: JSON.parse(result)})\n            alert(\"success\")\n          }\n       \n        }\n     \n      })\n    })(scope)\n  </script>\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "28ea651081fecd1c"
            ]
        ]
    },
    {
        "id": "f3ea414d59d01053",
        "type": "function",
        "z": "f711ecaea6cadfe0",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 420,
        "wires": [
            [
                "4baab782c44951c5"
            ]
        ]
    },
    {
        "id": "4baab782c44951c5",
        "type": "ui_template",
        "z": "f711ecaea6cadfe0",
        "group": "78224d8b24d152df",
        "name": "Message send  to Application",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html>\n\n<head>\n  <title>Employment Verification Form</title>\n  <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\">\n  <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n    integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n  <style>\n    table {\n      width: 750px;\n      border-collapse: collapse;\n      margin: 50px auto;\n    }\n\n    /* Zebra striping */\n    tr:nth-of-type(odd) {\n      background: #eee;\n    }\n\n    th {\n      background: #3498db;\n      color: white;\n      font-weight: bold;\n    }\n\n    td,\n    th {\n      padding: 10px;\n      border: 1px solid #ccc;\n      text-align: left;\n      font-size: 18px;\n    }\n\n    /* \nMax width before this PARTICULAR table gets nasty\nThis query will take effect for any screen smaller than 760px\nand also iPads specifically.\n*/\n    @media only screen and (max-width: 760px),\n    (min-device-width: 768px) and (max-device-width: 1024px) {\n\n      table {\n        width: 100%;\n      }\n\n      /* Force table to not be like tables anymore */\n      table,\n      thead,\n      tbody,\n      th,\n      td,\n      tr {\n        display: block;\n      }\n\n      /* Hide table headers (but not display: none;, for accessibility) */\n      thead tr {\n        position: absolute;\n        top: -9999px;\n        left: -9999px;\n      }\n\n      tr {\n        border: 1px solid #ccc;\n      }\n\n      td {\n        /* Behave  like a \"row\" */\n        border: none;\n        border-bottom: 1px solid #eee;\n        position: relative;\n        padding-left: 50%;\n      }\n\n      td:before {\n        /* Now like a table header */\n        position: absolute;\n        /* Top/left values mimic padding */\n        top: 6px;\n        left: 6px;\n        width: 45%;\n        padding-right: 10px;\n        white-space: nowrap;\n        /* Label the data */\n        content: attr(data-column);\n\n        color: #000;\n        font-weight: bold;\n      }\n\n    }\n    th {\n    background: black;\n    color: white;\n    font-weight: bold;\n}\n\n\n  </style>\n</head>\n<body>\n  <h3 style=\"text-align: center;text-transform: capitalize;\">Message send to Application</h4>\n     <table style=\"width:790px\">\n      <thead>\n        <tr>\n         \n          <th>ts</th>\n          <th>eventCode</th>\n          <th>activationTimestamp</th>\n          <th>recoveryTimestamp</th>\n          <th>logClass</th>\n           <th>vehicleId</th>\n          <th>subVehicleId</th>\n           <th>maintenanceMode</th>\n          \n        </tr>\n      </thead>\n      <tbody>\n        <tr>\n   \n          <td>{{msg.payload.ts}}</td>\n          <td>{{msg.payload.eventCode}}</td>\n          <td>{{msg.payload.activationTimestamp}}</td>\n          <td>{{msg.payload.recoveryTimestamp}}</td>\n          <td>{{msg.payload.logClass}}</td>\n          <td>{{msg.payload.vehicleId}}</td>\n          <td>{{msg.payload.subVehicleId}}</td>\n          <td>{{msg.payload.maintenanceMode}}</td>\n        </tr>\n\n      </tbody>\n    </table>\n</body>\n\n</html>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1100,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "28ea651081fecd1c",
        "type": "function",
        "z": "f711ecaea6cadfe0",
        "name": "",
        "func": "let date_ob = new Date();\nlet date = (\"0\" + date_ob.getDate()).slice(-2);\nlet month = (\"0\" + (date_ob.getMonth() + 1)).slice(-2);\nlet year = date_ob.getFullYear();\nlet hours = date_ob.getHours();\nlet minutes = date_ob.getMinutes();\nlet seconds = date_ob.getSeconds();\nlet millisecond = date_ob.getMilliseconds();\nlet datetime = (year + \"-\" + month + \"-\" + date + \" \" + hours + \":\" + minutes + \":\" + seconds + \".\"+millisecond)\nmsg.payload.ts=datetime;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "f3ea414d59d01053",
                "5d798b413c5151cc",
                "526037d80be162f2"
            ]
        ]
    },
    {
        "id": "6e2ca8ae.a41228",
        "type": "mqtt-broker",
        "name": "",
        "broker": "${MQTT_SERVER}",
        "port": "${MQTT_PORT}",
        "clientid": "OBSfdsafsdfsda",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "738733ea3fbd6db5",
        "type": "ui_group",
        "name": "PUBLISH Real time event",
        "tab": "8b2379ca84a1da97",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "78224d8b24d152df",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "8b2379ca84a1da97",
        "order": 2,
        "disp": false,
        "width": "22",
        "collapse": false
    },
    {
        "id": "8b2379ca84a1da97",
        "type": "ui_tab",
        "name": "3.4.11  OBS - Real Time Events",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]