OBS/Send TMS Command/OBS-Send-Command-to-TMS.json
[{"id":"ce278ea4dec1f18d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3a69752713efce9b","type":"ui_template","z":"ce278ea4dec1f18d","group":"8bc443491247b688","name":"Publish","order":2,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n\n<head>\n    <title>Employment Verification Form</title>\n    <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n        integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n\n    <style>\n        html,\n        body {\n            min-height: 100%;\n        }\n\n        body,\n        div,\n        form,\n        input,\n        label {\n            padding: 0;\n            margin: 0;\n            outline: none;\n            font-family: Roboto, Arial, sans-serif;\n            font-size: 13px;\n            color: #666;\n            line-height: 22px;\n        }\n\n        legend {\n            color: #fff;\n            background-color: #212529;\n            border-color: #32383e;\n            padding: 3px 5px;\n            font-size: 20px;\n        }\n\n        h1 {\n            position: absolute;\n            margin: 0;\n            font-size: 36px;\n            color: #fff;\n            z-index: 2;\n        }\n\n        .testbox {\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: inherit;\n            padding: 20px;\n        }\n\n        form {\n            width: 100%;\n            padding: 20px;\n            border-radius: 6px;\n            background: #fff;\n            box-shadow: 0 0 20px 0 #095484;\n        }\n\n        .banner {\n            position: relative;\n            height: 320px;\n            background-image: url(\"/uploads/media/default/0001/02/19ea6ba00def11fb8f5113a4d7555a97bd58ce3d.jpeg\");\n            background-size: cover;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            text-align: center;\n        }\n\n        .banner::after {\n            content: \"\";\n            background-color: rgba(0, 0, 0, 0.6);\n            position: absolute;\n            width: 100%;\n            height: 100%;\n        }\n\n        input {\n            margin-bottom: 10px;\n            border: 1px solid #ccc;\n            border-radius: 3px;\n        }\n\n        input {\n            width: calc(100% - 10px);\n            padding: 5px;\n        }\n\n        select {\n            width: 100%;\n            padding: 7px 0;\n            background: transparent;\n        }\n\n        input[type=\"date\"] {\n            padding: 4px 5px;\n        }\n\n        .item:hover p,\n        .item:hover i,\n        .question:hover p,\n        .question label:hover,\n        input:hover::placeholder {\n            color: #095484;\n        }\n\n        .item input:hover {\n            border: 1px solid transparent;\n            box-shadow: 0 0 6px 0 #095484;\n            color: #095484;\n        }\n\n        .item {\n            position: relative;\n            margin: 10px 0;\n        }\n\n        .item span {\n            color: red;\n        }\n\n        input[type=\"date\"]::-webkit-inner-spin-button {\n            display: none;\n        }\n\n        .item i,\n        input[type=\"date\"]::-webkit-calendar-picker-indicator {\n            position: absolute;\n            font-size: 20px;\n            color: #095484;\n        }\n\n        .item i {\n            right: 2%;\n            top: 30px;\n            z-index: 1;\n        }\n\n        [type=\"date\"]::-webkit-calendar-picker-indicator {\n            right: 1%;\n            z-index: 2;\n            opacity: 0;\n            cursor: pointer;\n        }\n\n        .question span {\n            margin-left: 30px;\n        }\n\n        .btn-block {\n            margin-top: 10px;\n            text-align: center;\n\n        }\n\n        button {\n            width: 150px;\n            padding: 10px;\n            border: none;\n            border-radius: 5px;\n            background: #095484;\n            font-size: 16px;\n            color: #fff;\n            cursor: pointer;\n            background-color: #28a745;\n            border-color: #28a745;\n        }\n\n        button:hover {\n            background: #28a745;\n        }\n\n        @media (min-width: 568px) {\n\n            .name-item,\n            .city-item {\n                display: flex;\n                flex-wrap: wrap;\n                justify-content: space-between;\n            }\n\n            .name-item input,\n            .city-item input,\n            .name-item div {\n                width: calc(50% - 20px);\n            }\n\n            .name-item div input {\n                width: 97%;\n            }\n\n            .name-item div label {\n                display: block;\n                padding-bottom: 5px;\n            }\n        }\n\n        .input,\n        .textarea {\n            border: 1px solid #ccc;\n            font-family: inherit;\n            font-size: inherit;\n            padding: 1px 6px;\n        }\n\n        .table {\n            width: 100%;\n            max-width: 100%;\n            margin-bottom: 1rem;\n            background-color: transparent;\n        }\n\n        table {\n            border-collapse: collapse;\n        }\n\n        *,\n        ::after,\n        ::before {\n            box-sizing: border-box;\n        }\n\n        table {\n            display: table;\n            border-collapse: separate;\n            box-sizing: border-box;\n            text-indent: initial;\n            border-spacing: 2px;\n            border-color: grey;\n        }\n\n        thead {\n            display: table-header-group;\n            vertical-align: middle;\n            border-color: inherit;\n        }\n\n        table {\n            border-collapse: collapse;\n        }\n\n        table {\n            border-collapse: separate;\n            text-indent: initial;\n            border-spacing: 2px;\n        }\n\n        .table .thead-dark th {\n            color: #fff;\n            background-color: #212529;\n            border-color: #32383e;\n        }\n\n        .table thead th {\n            vertical-align: bottom;\n            border-bottom: 2px solid #dee2e6;\n        }\n\n        .table td,\n        .table th {\n            padding: .75rem;\n            vertical-align: top;\n            border-top: 1px solid #dee2e6;\n        }\n\n        th {\n            text-align: inherit;\n        }\n\n\n\n        .table .thead-dark th {\n            color: #fff;\n            background-color: #212529;\n            border-color: #32383e;\n        }\n\n        .table thead th {\n            vertical-align: bottom;\n            border-bottom: 2px solid #dee2e6;\n        }\n\n        .table td,\n        .table th {\n            padding: .75rem;\n            vertical-align: top;\n            border-top: 1px solid #dee2e6;\n        }\n\n        th {\n            text-align: inherit;\n        }\n\n        *,\n        ::after,\n        ::before {\n            box-sizing: border-box;\n        }\n\n        user agent stylesheet th {\n            display: table-cell;\n            vertical-align: inherit;\n            font-weight: bold;\n            text-align: -internal-center;\n        }\n\n        table {\n            border-collapse: collapse;\n        }\n    </style>\n</head>\n\n<body>\n    <div style=\"display: flex;\">\n        <form style=\" display: block; overflow: auto;\" id=\"myForm\">\n            <h3>Publish TMS status</h3>\n            <fieldset>\n                <legend>MQTT</legend>\n                <div class=\"name-item\">\n                    <div>\n                        <label for=\"tranid\">Tranid</label>\n                        <input style=\"width: 70%;\" id=\"tranid\" type=\"text\" name=\"topic\" required />\n                    </div>\n                    <div>\n                        <label for=\"topic\">Topic</label>\n                        <input style=\"width: 70%;\" id=\"topic\" type=\"text\" readonly placeholder=\"tms/status\" name=\"topic\"\n                            required />\n                    </div>\n                </div>\n                <div class=\"item\">\n                    <div class=\"item\">\n                        <div class=\"name-item\">\n                            <div>\n                                <label for=\"Qos\">Qos</label>\n                                <select style=\"width: 73%;\" id=\"qos\" name=\"qos\" required>\n                                    <option value=\"\"></option>\n                                    <option value=\"0\">0</option>\n                                    <option selected value=\"1\">1</option>\n                                    <option value=\"2\">2</option>\n                                </select>\n                            </div>\n                            <div>\n                                <label for=\"retainFlag\">RetainFlag</label>\n                                <select style=\"width: 73%;\" id=\"retainFlag\" , name=\"retainFlag\" required>\n                                    <option value=\"\"></option>\n                                    <option selected value=\"true\">True</option>\n                                    <option value=\"false\">False</option>\n                                </select>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </fieldset>\n            <br />\n            <fieldset>\n                <legend>Payload</legend>\n                <br />\n                <div class=\"name-item\">\n                    <div>\n                        <label for=\"result\">Result</label>\n                        <!-- <input id=\"endpoint\" type=\"text\" name=\"endpoint\" required /> -->\n                        <select style=\"width: 73%;\" id=\"result\" , name=\"result\" required>\n                            <option value=\"\"></option>\n                            <option value=\"0\">0</option>\n                            <option selected value=\"1\">1</option>\n                            <option value=\"2\">2</option>\n                            <option value=\"3\">3</option>\n                        </select>\n                    </div>\n                </div>\n                <br />\n                <div>\n                    <label for=\"detail\">Detail</label>\n                    <div>\n                        <input type=\"checkbox\" id=\"checked\" checked style=\"width: 20px;\">\n                        <label for=\"detail\">Check to send detail</label>\n                        <table class=\"table\">\n                            <thead class=\"thead-dark\">\n                                <tr>\n                                    <th scope=\"col\">variableName</th>\n                                    <th scope=\"col\">value</th>\n                                </tr>\n                            </thead>\n                            <tbody id=\"table-id\">\n\n                            </tbody>\n                        </table>\n                    </div>\n                    <div>\n                        <fieldset>\n                            <div id=\"buildyourform2\">\n                                <br />\n                                variableName\n                                <input type=\"text\" class=\"fieldname\" id=\"variableName\">\n                                <br />\n                                value\n                                <input type=\"text\" class=\"fieldname1\" id=\"value\">\n                                <button id=\"save\">Add to Detail</button>\n                                <br />\n                            </div>\n                        </fieldset>\n                        <br />\n                    </div>\n                </div>\n            </fieldset>\n            <div class=\"btn-block\">\n                <button id=\"submit\">Publish</button>\n            </div>\n        </form>\n    </div>\n    <script src=\"https://code.jquery.com/jquery-3.6.0.js\"\n        integrity=\"sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=\" crossorigin=\"anonymous\">\n        </script>\n    <script type=\"text/javascript\">\n        (function (scope) {\n        var topic = $(\"#topic\");\n        var tranid = $(\"#tranid\");\n        var qos = $(\"#qos\");\n        var retainFlag = $('#retainFlag');\n\n        var commandId = $('#commandId');\n        var result = $('#result');\n        var variableName = $('#variableName');\n        var value = $('#value');\n\n        let date_ob = new Date();\n        let date = (\"0\" + date_ob.getDate()).slice(-2);\n        let month = (\"0\" + (date_ob.getMonth() + 1)).slice(-2);\n        let year = date_ob.getFullYear();\n        let hours = date_ob.getHours();\n        let minutes = date_ob.getMinutes();\n        let seconds = date_ob.getSeconds();\n        let millisecond = date_ob.getMilliseconds();\n        let datetime = (year + \"-\" + month + \"-\" + date + \" \" + hours + \":\" + minutes + \":\" + seconds + \".\" + millisecond)\n        var submitId = $(\"#submit\");\n\n        var saveButtonId = $(\"#save\");\n        var tableBodyId = $(\"#table-id\");\n        var checkBox = $(\"#checked\");\n        var detailLists = JSON.parse(localStorage.getItem(\"payloadTMS\")) || [];\n        console.log(detailLists);\n\n\n        var handleSaveClick = () => {\n            var newParamList = {};\n\n            $(\"#buildyourform2 :input\").each(function () {\n                var input = $(this);\n                var key = input.attr('id');\n                console.log(key);\n                var value = input.val();\n                console.log(value);\n                if (value != \"\") {\n                    newParamList[key] = value;\n                    console.log(newParamList);\n                } else {\n                    newParamList = \"\";\n                    console.log(newParamList);\n                }\n\n            });\n            if (newParamList == \"\") {\n                alert(\"fail\")\n            } else {\n                detailLists.push(newParamList);\n                console.log(detailLists)\n\n                localStorage.setItem(\"payloadTMS\", JSON.stringify(detailLists));\n                addLastValueToTable(newParamList);\n                alert(\"success\")\n            }\n\n        }\n        \n        var addLastValueToTable = (value) => {\n            var tableBodyValue = `\n                <tr >\n                    <td>${value.variableName}</td>\n                    <td>${value.value}</td>\n                </tr>\n                `\n            tableBodyId.append(tableBodyValue);\n        }\n        var reLoadAllTable = function () {\n            var tableBody = '';\n            detailLists.forEach((v, i) => {\n                tableBody += `\n                <tr >\n                    <td>${v.variableName}</td>\n                    <td>${v.value}</td>\n                </tr>\n                `\n            });\n            tableBodyId.html(tableBody);\n        }\n        saveButtonId.on(\"click\", handleSaveClick);\n        $(document).ready(() => {\n            // localStorage.setItem(\"configPayload\", JSON.stringify(payload));\n            reLoadAllTable()\n        })\n\n\n        tranid.keyup(() => {\n            $(\"#topic\").val(tranid.val() + \"/tms/status\");\n\n        })\n\n        checkBox.click(function () {\n            if ($(this).is(\":checked\")) {\n                tableBodyId.show();\n                $(\"#buildyourform2\").show();\n            } else {\n                tableBodyId.hide();\n                $(\"#buildyourform2\").hide();\n            }\n        });\n\n        submitId.click(() => {\n\n            // var myJson = { ts: datetime, commandId: Date.now() & 0xFFFFFFF, result: parseInt(result.val()) }\n\n            if (topic.val() == \"\" || qos.val() == \"\" || retainFlag.val() == \"\" || result.val() == \"\") {\n                alert(\"fail\")\n            }\n            else {\n                var myJson = { ts: datetime, commandId: Date.now() & 0xFFFFFFF, result: parseInt(result.val()) }\n                if (checkBox.is(\":checked\")) {\n                    myJson.detail = detailLists;\n                    scope.send({ topic: topic.val(), qos: qos.val(), retainFlag: retainFlag.val(), payload: myJson })\n                    alert(\"success\")\n                } else {\n                    myJson.detail = [];\n                    scope.send({ topic: topic.val(), qos: qos.val(), retainFlag: retainFlag.val(), payload: myJson })\n                    alert(\"success\")\n                }\n\n\n            }\n\n        })\n\n            // scope.$watch('msg', function (msg) {\n            //     if (msg) {\n            //         console.log(msg)\n            //     }\n            // });\n\n        })(scope)\n    </script>\n</body>\n\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":520,"y":120,"wires":[["8f4d3d8666ec5a32","2134aa40ff09a52c"]]},{"id":"5ae135aa6d644dd8","type":"debug","z":"ce278ea4dec1f18d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":120,"wires":[]},{"id":"9917c1d771d7dbd2","type":"mqtt in","z":"ce278ea4dec1f18d","name":"tms/command","topic":"aemr_810001/tms/command","qos":"1","datatype":"auto","broker":"d74a4da66f6c32d1","nl":false,"rap":true,"rh":0,"x":110,"y":220,"wires":[["3a19a9efba728605"]]},{"id":"9634fbb655acd37e","type":"debug","z":"ce278ea4dec1f18d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":200,"wires":[]},{"id":"3a19a9efba728605","type":"function","z":"ce278ea4dec1f18d","name":"","func":"msg.tmscommand =JSON.parse(msg.payload);\nglobal.set('payloadTMSCommand', msg.tmscommand);\nnode.warn(msg.tmscommand);\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":220,"wires":[["9634fbb655acd37e","08d9e5467f198803"]]},{"id":"08d9e5467f198803","type":"ui_template","z":"ce278ea4dec1f18d","group":"8bc443491247b688","name":"Subscribe from Wayside","order":2,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n\n<head>\n    <title>Employment Verification Form</title>\n    <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n        integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n\n    <style>\n        html,\n        body {\n            min-height: 100%;\n        }\n\n        body,\n        div,\n        form,\n        input,\n        label {\n            padding: 0;\n            margin: 0;\n            outline: none;\n            font-family: Roboto, Arial, sans-serif;\n            font-size: 13px;\n            color: #666;\n            line-height: 22px;\n        }\n\n        legend {\n            color: #fff;\n            background-color: #212529;\n            border-color: #32383e;\n            padding: 3px 5px;\n            font-size: 20px;\n        }\n\n        h1 {\n            position: absolute;\n            margin: 0;\n            font-size: 36px;\n            color: #fff;\n            z-index: 2;\n        }\n\n        .testbox {\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: inherit;\n            padding: 20px;\n        }\n\n        form {\n            width: 100%;\n            padding: 20px;\n            border-radius: 6px;\n            background: #fff;\n            box-shadow: 0 0 20px 0 #095484;\n        }\n\n        .banner {\n            position: relative;\n            height: 320px;\n            background-image: url(\"/uploads/media/default/0001/02/19ea6ba00def11fb8f5113a4d7555a97bd58ce3d.jpeg\");\n            background-size: cover;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            text-align: center;\n        }\n\n        .banner::after {\n            content: \"\";\n            background-color: rgba(0, 0, 0, 0.6);\n            position: absolute;\n            width: 100%;\n            height: 100%;\n        }\n\n        input {\n            margin-bottom: 10px;\n            border: 1px solid #ccc;\n            border-radius: 3px;\n        }\n\n        input {\n            width: calc(100% - 10px);\n            padding: 5px;\n        }\n\n        select {\n            width: 100%;\n            padding: 7px 0;\n            background: transparent;\n        }\n\n        input[type=\"date\"] {\n            padding: 4px 5px;\n        }\n\n        .item:hover p,\n        .item:hover i,\n        .question:hover p,\n        .question label:hover,\n        input:hover::placeholder {\n            color: #095484;\n        }\n\n        .item input:hover {\n            border: 1px solid transparent;\n            box-shadow: 0 0 6px 0 #095484;\n            color: #095484;\n        }\n\n        .item {\n            position: relative;\n            margin: 10px 0;\n        }\n\n        .item span {\n            color: red;\n        }\n\n        input[type=\"date\"]::-webkit-inner-spin-button {\n            display: none;\n        }\n\n        .item i,\n        input[type=\"date\"]::-webkit-calendar-picker-indicator {\n            position: absolute;\n            font-size: 20px;\n            color: #095484;\n        }\n\n        .item i {\n            right: 2%;\n            top: 30px;\n            z-index: 1;\n        }\n\n        [type=\"date\"]::-webkit-calendar-picker-indicator {\n            right: 1%;\n            z-index: 2;\n            opacity: 0;\n            cursor: pointer;\n        }\n\n        .question span {\n            margin-left: 30px;\n        }\n\n        .btn-block {\n            margin-top: 10px;\n            text-align: center;\n\n        }\n\n        button {\n            width: 150px;\n            padding: 10px;\n            border: none;\n            border-radius: 5px;\n            background: #095484;\n            font-size: 16px;\n            color: #fff;\n            cursor: pointer;\n            background-color: #28a745;\n            border-color: #28a745;\n        }\n\n        button:hover {\n            background: #28a745;\n        }\n\n        @media (min-width: 568px) {\n\n            .name-item,\n            .city-item {\n                display: flex;\n                flex-wrap: wrap;\n                justify-content: space-between;\n            }\n\n            .name-item input,\n            .city-item input,\n            .name-item div {\n                width: calc(50% - 20px);\n            }\n\n            .name-item div input {\n                width: 97%;\n            }\n\n            .name-item div label {\n                display: block;\n                padding-bottom: 5px;\n            }\n        }\n\n        .input,\n        .textarea {\n            border: 1px solid #ccc;\n            font-family: inherit;\n            font-size: inherit;\n            padding: 1px 6px;\n        }\n\n        .table {\n            width: 100%;\n            max-width: 100%;\n            margin-bottom: 1rem;\n            background-color: transparent;\n        }\n\n        table {\n            border-collapse: collapse;\n        }\n\n        *,\n        ::after,\n        ::before {\n            box-sizing: border-box;\n        }\n\n        table {\n            display: table;\n            border-collapse: separate;\n            box-sizing: border-box;\n            text-indent: initial;\n            border-spacing: 2px;\n            border-color: grey;\n        }\n\n        thead {\n            display: table-header-group;\n            vertical-align: middle;\n            border-color: inherit;\n        }\n\n        table {\n            border-collapse: collapse;\n        }\n\n        table {\n            border-collapse: separate;\n            text-indent: initial;\n            border-spacing: 2px;\n        }\n\n        .table .thead-dark th {\n            color: #fff;\n            background-color: #212529;\n            border-color: #32383e;\n        }\n\n        .table thead th {\n            vertical-align: bottom;\n            border-bottom: 2px solid #dee2e6;\n        }\n\n        .table td,\n        .table th {\n            padding: .75rem;\n            vertical-align: top;\n            border-top: 1px solid #dee2e6;\n        }\n\n        th {\n            text-align: inherit;\n        }\n\n\n\n        .table .thead-dark th {\n            color: #fff;\n            background-color: #212529;\n            border-color: #32383e;\n        }\n\n        .table thead th {\n            vertical-align: bottom;\n            border-bottom: 2px solid #dee2e6;\n        }\n\n        .table td,\n        .table th {\n            padding: .75rem;\n            vertical-align: top;\n            border-top: 1px solid #dee2e6;\n        }\n\n        th {\n            text-align: inherit;\n        }\n\n        *,\n        ::after,\n        ::before {\n            box-sizing: border-box;\n        }\n\n        user agent stylesheet th {\n            display: table-cell;\n            vertical-align: inherit;\n            font-weight: bold;\n            text-align: -internal-center;\n        }\n\n        table {\n            border-collapse: collapse;\n            table-layout: fixed;\n            /* width: 310px; */\n        }\n\n\n\n        table td {\n            /* width: 100px; */\n            word-wrap: break-word;\n            overflow: hidden;\n        }\n    </style>\n</head>\n\n<body>\n    <div style=\"display: flex;\">\n        <form style=\" display: block; overflow: auto;\" id=\"myForm\">\n            <div>\n            <h3>Subscribe TMS command</h3>\n            <p>topic : <span style=\"font-weight: bold;\">{{msg.topic}}</span></p>\n            <table class=\"table table-bordered\">\n                <thead class=\"thead-dark\">\n                    <tr>\n                        <th scope=\"col\">ts</th>\n                        <th scope=\"col\">commandId</th>\n                        <th scope=\"col\">commandType</th>\n                    </tr>\n                </thead>\n                <tbody>\n                    <tr>\n                        <th scope=\"row\">{{msg.tmscommand.ts}}</th>\n                        <td>{{msg.tmscommand.commandId}}</td>\n                        <td>{{msg.tmscommand.commandType}}</td>\n                    </tr>\n                </tbody>\n            </table>   \n            </div>\n        </form>\n    </div>\n</body>\n\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":530,"y":240,"wires":[[]]},{"id":"8f4d3d8666ec5a32","type":"function","z":"ce278ea4dec1f18d","name":"","func":"global.set('payloadTMSStatus', msg.payload);\nmsg.tmsstatus=msg.payload; \nnode.warn(msg.tmsstatus)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":100,"wires":[["5ae135aa6d644dd8","00512ee0522710dc"]]},{"id":"00512ee0522710dc","type":"ui_template","z":"ce278ea4dec1f18d","group":"8bc443491247b688","name":"Subscribe from Wayside","order":2,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n\n<head>\n    <title>Employment Verification Form</title>\n    <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n        integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n\n    <style>\n        html,\n        body {\n            min-height: 100%;\n        }\n\n        body,\n        div,\n        form,\n        input,\n        label {\n            padding: 0;\n            margin: 0;\n            outline: none;\n            font-family: Roboto, Arial, sans-serif;\n            font-size: 13px;\n            color: #666;\n            line-height: 22px;\n        }\n\n        legend {\n            color: #fff;\n            background-color: #212529;\n            border-color: #32383e;\n            padding: 3px 5px;\n            font-size: 20px;\n        }\n\n        h1 {\n            position: absolute;\n            margin: 0;\n            font-size: 36px;\n            color: #fff;\n            z-index: 2;\n        }\n\n        .testbox {\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: inherit;\n            padding: 20px;\n        }\n\n        form {\n            width: 100%;\n            padding: 20px;\n            border-radius: 6px;\n            background: #fff;\n            box-shadow: 0 0 20px 0 #095484;\n        }\n\n        .banner {\n            position: relative;\n            height: 320px;\n            background-image: url(\"/uploads/media/default/0001/02/19ea6ba00def11fb8f5113a4d7555a97bd58ce3d.jpeg\");\n            background-size: cover;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            text-align: center;\n        }\n\n        .banner::after {\n            content: \"\";\n            background-color: rgba(0, 0, 0, 0.6);\n            position: absolute;\n            width: 100%;\n            height: 100%;\n        }\n\n        input {\n            margin-bottom: 10px;\n            border: 1px solid #ccc;\n            border-radius: 3px;\n        }\n\n        input {\n            width: calc(100% - 10px);\n            padding: 5px;\n        }\n\n        select {\n            width: 100%;\n            padding: 7px 0;\n            background: transparent;\n        }\n\n        input[type=\"date\"] {\n            padding: 4px 5px;\n        }\n\n        .item:hover p,\n        .item:hover i,\n        .question:hover p,\n        .question label:hover,\n        input:hover::placeholder {\n            color: #095484;\n        }\n\n        .item input:hover {\n            border: 1px solid transparent;\n            box-shadow: 0 0 6px 0 #095484;\n            color: #095484;\n        }\n\n        .item {\n            position: relative;\n            margin: 10px 0;\n        }\n\n        .item span {\n            color: red;\n        }\n\n        input[type=\"date\"]::-webkit-inner-spin-button {\n            display: none;\n        }\n\n        .item i,\n        input[type=\"date\"]::-webkit-calendar-picker-indicator {\n            position: absolute;\n            font-size: 20px;\n            color: #095484;\n        }\n\n        .item i {\n            right: 2%;\n            top: 30px;\n            z-index: 1;\n        }\n\n        [type=\"date\"]::-webkit-calendar-picker-indicator {\n            right: 1%;\n            z-index: 2;\n            opacity: 0;\n            cursor: pointer;\n        }\n\n        .question span {\n            margin-left: 30px;\n        }\n\n        .btn-block {\n            margin-top: 10px;\n            text-align: center;\n\n        }\n\n        button {\n            width: 150px;\n            padding: 10px;\n            border: none;\n            border-radius: 5px;\n            background: #095484;\n            font-size: 16px;\n            color: #fff;\n            cursor: pointer;\n            background-color: #28a745;\n            border-color: #28a745;\n        }\n\n        button:hover {\n            background: #28a745;\n        }\n\n        @media (min-width: 568px) {\n\n            .name-item,\n            .city-item {\n                display: flex;\n                flex-wrap: wrap;\n                justify-content: space-between;\n            }\n\n            .name-item input,\n            .city-item input,\n            .name-item div {\n                width: calc(50% - 20px);\n            }\n\n            .name-item div input {\n                width: 97%;\n            }\n\n            .name-item div label {\n                display: block;\n                padding-bottom: 5px;\n            }\n        }\n\n        .input,\n        .textarea {\n            border: 1px solid #ccc;\n            font-family: inherit;\n            font-size: inherit;\n            padding: 1px 6px;\n        }\n\n        .table {\n            width: 100%;\n            max-width: 100%;\n            margin-bottom: 1rem;\n            background-color: transparent;\n        }\n\n        table {\n            border-collapse: collapse;\n        }\n\n        *,\n        ::after,\n        ::before {\n            box-sizing: border-box;\n        }\n\n        table {\n            display: table;\n            border-collapse: separate;\n            box-sizing: border-box;\n            text-indent: initial;\n            border-spacing: 2px;\n            border-color: grey;\n        }\n\n        thead {\n            display: table-header-group;\n            vertical-align: middle;\n            border-color: inherit;\n        }\n\n        table {\n            border-collapse: collapse;\n        }\n\n        table {\n            border-collapse: separate;\n            text-indent: initial;\n            border-spacing: 2px;\n        }\n\n        .table .thead-dark th {\n            color: #fff;\n            background-color: #212529;\n            border-color: #32383e;\n        }\n\n        .table thead th {\n            vertical-align: bottom;\n            border-bottom: 2px solid #dee2e6;\n        }\n\n        .table td,\n        .table th {\n            padding: .75rem;\n            vertical-align: top;\n            border-top: 1px solid #dee2e6;\n        }\n\n        th {\n            text-align: inherit;\n        }\n\n\n\n        .table .thead-dark th {\n            color: #fff;\n            background-color: #212529;\n            border-color: #32383e;\n        }\n\n        .table thead th {\n            vertical-align: bottom;\n            border-bottom: 2px solid #dee2e6;\n        }\n\n        .table td,\n        .table th {\n            padding: .75rem;\n            vertical-align: top;\n            border-top: 1px solid #dee2e6;\n        }\n\n        th {\n            text-align: inherit;\n        }\n\n        *,\n        ::after,\n        ::before {\n            box-sizing: border-box;\n        }\n\n        user agent stylesheet th {\n            display: table-cell;\n            vertical-align: inherit;\n            font-weight: bold;\n            text-align: -internal-center;\n        }\n\n        table {\n            border-collapse: collapse;\n            table-layout: fixed;\n            /* width: 310px; */\n        }\n\n\n\n        table td {\n            /* width: 100px; */\n            word-wrap: break-word;\n            overflow: hidden;\n        }\n    </style>\n</head>\n\n<body>\n    <div style=\"display: flex;\">\n\n        <form style=\" display: block; overflow: auto;\" id=\"myForm\">\n                        <div>\n            <h3>Publish TMS Status</h3>\n            <p>topic : <span style=\"font-weight: bold;\">{{msg.topic}}</span></p>\n            <table class=\"table table-bordered\">\n                <thead class=\"thead-dark\">\n                    <tr>\n                        <th scope=\"col\">ts</th>\n                        <th scope=\"col\">commandId</th>\n                        <th scope=\"col\">result</th>\n                        <th scope=\"col\">detail</th>\n                    </tr>\n                </thead>\n                <tbody>\n                    <tr>\n                        <th scope=\"row\">{{msg.tmsstatus.ts}}</th>\n                        <td>{{msg.tmsstatus.commandId}}</td>\n                        <td>{{msg.tmsstatus.result}}</td>\n                        <td>{{msg.tmsstatus.detail}}</td>\n                    </tr>\n                </tbody>\n            </table>\n            </div>\n        </form>\n    </div>\n</body>\n\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":950,"y":80,"wires":[[]]},{"id":"2134aa40ff09a52c","type":"mqtt out","z":"ce278ea4dec1f18d","name":"tms/status","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d74a4da66f6c32d1","x":720,"y":160,"wires":[]},{"id":"8bc443491247b688","type":"ui_group","name":"Default","tab":"66df011be87dd00e","order":1,"disp":true,"width":"23","collapse":false},{"id":"d74a4da66f6c32d1","type":"mqtt-broker","name":"","broker":"${MQTT_SERVER}","port":"${MQTT_PORT}","clientid":"OBSSSSS","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"66df011be87dd00e","type":"ui_tab","name":"OBS TMS Command","icon":"dashboard","disabled":false,"hidden":false}]