OBS/download/DownloadDataFlows.json
[
    {
        "id": "6d235430526e4091",
        "type": "tab",
        "label": "3.4.8 OBS-Download Interface",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "478298a33f81b739",
        "type": "mqtt in",
        "z": "6d235430526e4091",
        "name": "",
        "topic": "aemr_810001/data-download/avaiable",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e2ca8ae.a41228",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 380,
        "wires": [
            [
                "e499bb06ee4de2b0"
            ]
        ]
    },
    {
        "id": "e499bb06ee4de2b0",
        "type": "function",
        "z": "6d235430526e4091",
        "name": "",
        "func": "msg['dataDownloadAvailable']=JSON.parse(msg.payload);\nmsg['topicDataDownloadAvailable']=msg.topic\nglobal.set('payloadDownloadAvailable', JSON.parse(msg.payload));\nglobal.set('topicDownloadAvailable',msg.topic)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 380,
        "wires": [
            [
                "555e5b022e5d5cc0",
                "821ff572484bafbc"
            ]
        ]
    },
    {
        "id": "555e5b022e5d5cc0",
        "type": "ui_template",
        "z": "6d235430526e4091",
        "group": "7fce73c040737ad1",
        "name": "Message received",
        "order": 1,
        "width": "22",
        "height": "22",
        "format": "<!DOCTYPE html>\n<html>\n\n<head>\n    <title>Title</title>\n    <!-- Required meta tags -->\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n\n    <!-- Bootstrap CSS -->\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\"\n        integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n\n    <!-- my javascript -->\n\n    <!-- front awesome -->\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css\"\n        integrity=\"sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==\"\n        crossorigin=\"anonymous\" referrerpolicy=\"no-referrer\" />\n    <style>\n        .help-block {\n            display: block;\n            margin-top: 2px;\n            margin-bottom: 10px;\n            color: #a94442;\n            font-size: 15px;\n        }\n        .or-seperator {\n            margin-top: 20px;\n            text-align: center;\n            border-top: 1px solid #ccc;\n        }\n\n        .or-seperator i {\n            cursor: pointer;\n            padding: 0 10px;\n            background: #f7f7f7;\n            position: relative;\n            top: -11px;\n            z-index: 1;\n            transition: 0.4s;\n\n        }\n\n        .or-seperator i:hover {\n            background: #dbdada;\n\n\n        }\n\n        .or-seperator i.arrow {\n            padding: 0 10px;\n            background: #f7f7f7;\n            position: relative;\n            top: -11px;\n            z-index: 1;\n\n        }\n\n        .border-line::before {\n            width: 100%;\n            content: \"\";\n            border-top: 1px solid rgb(87, 86, 86);\n            margin-bottom: 20px;\n        }\n\n        .error-border {\n            border-color: red;\n        }\n\n        .error-notification {\n            font-size: 13px;\n            color: #d93025;\n            visibility: hidden;\n\n        }\n\n        .error-notification.is-visible {\n            visibility: visible;\n        }\n\n        /*      table css  */\n        table {\n            border-collapse: collapse;\n            table-layout: fixed;\n            /* width: 310px; */\n        }\n\n        table td {\n\n            /* width: 100px; */\n            word-wrap: break-word;\n            overflow: hidden;\n        }\n\n        table th {\n            overflow: hidden;\n            /* border: solid 1px #fab; */\n            /* width: 100px; */\n            /* word-wrap: break-word; */\n        }\n\n        /* .my-custom-scrollbar {\n            position: relative;\n            width: 100%;\n            overflow-x: auto;\n        }\n\n        .table-wrapper-scroll-x {\n            display: block;\n        } */\n\n        .setting-icon {\n            cursor: pointer;\n        }\n\n        /* pop up */\n        /* 1. Ensure this sits above everything when visible */\n        .modals {\n            background-color: #0807077d;\n            position: absolute;\n            z-index: 10000;\n            /* 1 */\n            top: 0;\n            left: 0;\n            visibility: hidden;\n            width: 100%;\n            height: 100%;\n        }\n\n        .modals.is-visible {\n            visibility: visible;\n\n        }\n\n        .modals-overlay {\n            position: fixed;\n            z-index: 10;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            background: hsla(0, 0%, 0%, 0.5);\n            visibility: hidden;\n            opacity: 0;\n            transition: visibility 0s linear 0.3s, opacity 0.3s;\n        }\n\n        .modals.is-visible .modals-overlay {\n            opacity: 1;\n            visibility: visible;\n            transition-delay: 0s;\n        }\n\n        .modals-wrapper {\n            position: absolute;\n            z-index: 9999;\n            top: 6em;\n            left: 40%;\n            width: 50%;\n            height: 400px;\n            margin-left: -16em;\n            background-color: #fff;\n            box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);\n        }\n\n        .modals-transition {\n            transition: all 0.3s 0.12s;\n            transform: translateY(-10%);\n            opacity: 0;\n        }\n\n        .modals.is-visible .modals-transition {\n            transform: translateY(0);\n            opacity: 1;\n        }\n\n        .modals-header,\n        .modals-content {\n            padding: 1em;\n        }\n\n        .modals-header {\n            position: relative;\n            background-color: #fff;\n            box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);\n            border-bottom: 1px solid #e8e8e8;\n        }\n\n        .modals-close {\n            position: absolute;\n            top: 0;\n            right: 0;\n            padding: 1em;\n            color: #aaa;\n            background: none;\n            border: 0;\n        }\n\n        .modals-close:hover {\n            color: #777;\n        }\n\n        .modals-heading {\n            font-size: 1.125em;\n            margin: 0;\n            -webkit-font-smoothing: antialiased;\n            -moz-osx-font-smoothing: grayscale;\n        }\n\n        .modals-content>*:first-child {\n            margin-top: 0;\n        }\n\n        .modals-content>*:last-child {\n            margin-bottom: 0;\n        }\n\n        div.wrap {\n            padding: 0 10px 0 10px;\n        }\n\n        div.wrap div {\n\n            position: relative;\n        }\n\n\n        div.wrap div label {\n\n            position: absolute;\n            top: 0;\n            font-size: 15px;\n            margin: 10px;\n            padding: 0 10px;\n            -webkit-transition: top .2s ease-in-out,\n                font-size .2s ease-in-out;\n            transition: top .2s ease-in-out,\n                font-size .2s ease-in-out;\n        }\n\n        div.wrap div input[type=number] {\n            width: 100%;\n            padding: 5px;\n\n            /* font-size: 20px; */\n\n\n        }\n\n        div.wrap div input[type=number]:focus {\n            outline: none;\n        }\n\n        .active {\n            top: -25px !important;\n            font-size: 12px !important;\n            background-color: white;\n        }\n\n       \n\n        .custom-file-upload {\n            border: 1px solid #ccc;\n            display: inline-block;\n            padding: 6px 10px;\n            cursor: pointer;\n        }\n        .custom-file-upload input[type=\"file\"] {\n            display: none;\n        }\n    </style>\n</head>\n\n<body>\n<div class=\"container table-responsive\">\n        <div class=\"row\">\n            <div class=\"col-sm-12\">\n                <div class=\"or-seperator\">\n                    <i id=\"config-label\">Require Config\n                        <span class=\"arrow\">&#8659;</span>\n                    </i>\n\n\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <!-- config area -->\n    <div class=\"container\" id=\"config-form\">\n        <!-- Publish data upload avaiable  -->\n        <div class=\"row\">\n            <div class=\"col-sm-12\">\n                <h3>Config payload topic data-download/Downloading</h3>\n                <p>Description : <span style=\"font-weight: bold;\">Step 5 in figure 11 Wayside request download data to OBS</span></p>\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table table-bordered table-hover\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">#</th>\n                            <th scope=\"col\">downloadProgress</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <td scope=\"row\">1</td>\n                            <td class=\"d-flex\" style=\"border: none;\">\n                                <input max=\"100\" min=\"0\" id=\"downloadProgress\" value=\"100\" class=\"form-control \" type=\"number\">\n                                <i id=\"settingFetchProgress\" href=\"#popup1\"\n                                    class=\"fas fa-cog setting-icon settingFetchProgress\"\n                                    style=\"/* padding-left: 5px; */margin-left: 5px;align-self: center;\"></i>\n                            </td>\n                        </tr>\n                    </tbody>\n                </table>\n                <div class=\"form-group form-check\">\n                    <input type=\"checkbox\" class=\"form-check-input\" id=\"isPublishDownloading\">\n                    <label class=\"form-check-label\" for=\"isPublishDownloading\">Check to publish message</label>\n                </div>\n            </div>\n        </div>\n        <!--End Publish data upload avaiable  -->\n        <!--Publish data upload sent  -->\n        <div class=\"row border-line\">\n            <div class=\"col-sm-12\">\n                <h3>Config payload topic data-download/received</h3>\n                <p>Description : <span style=\"font-weight: bold;\">Step 6 in figure 11 Wayside request download data to OBS</span></p>\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table table-bordered table-hover\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">#</th>\n                            <th scope=\"col\">fileDownloadResult</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <th scope=\"row\">1</th>\n                            <td>\n                                <div class=\"form-group\">\n                                    <select id=\"selectFileDownloadResult\" class=\"form-control \">\n                                        <option value=\"0\"> 0 : N/A</option>\n                                        <option selected value=\"1\"> 1 : Download OK</option>\n                                        <option value=\"2\"> 2 : Checksum Failures</option>\n                                        <option value=\"3\"> 3 : File not received</option>\n                                        <option value=\"4\"> 4 : FTP server not available</option>\n                                    </select>\n                                </div>\n                            </td>\n                    </tbody>\n                </table>\n            </div>\n        </div>\n        <!--End Publish data upload sent  -->\n\n        <div class=\"row\">\n            <div class=\"col-sm-12\">\n                <button type=\"button\" id=\"btnSave\" class=\"btn btn-success w-100\">Save</button>\n            </div>\n        </div>\n\n    </div>\n    <!-- setting pop-up -->\n    <div class=\"modals\">\n\n        <div class=\"modals-wrapper modals-transition\">\n            <div class=\"modals-header\">\n                <i class=\"fas fa-times\" id=\"closeSettingFetchProgress\" style=\"float: right;cursor: pointer;\"></i>\n                <h2 class=\"modals-heading text-center\">Setting Fetch Progess</h2>\n            </div>\n\n            <div class=\"row wrap mt-3\" id=\"settingDataUploadAvailableForm\">\n                <div class=\"col-sm-6\">\n                    <label class=\"active\" for=\"maxProgress\">Max progess</label>\n                    <input id=\"maxProgress\" value=\"100\" type=\"number\" />\n                    <h5 class=\"help-block\" id=\"inMaxProgressErr\"></h5>\n                </div>\n                <div class=\"col-sm-6\">\n                    <label class=\"active\" for=\"timePublish\">Time publish per payload (Ms)</label>\n                    <input id=\"timePublish\" value=\"1000\" type=\"number\" />\n                    <h5 class=\"help-block\" id=\"inTimePublishErr\"></h5>\n                </div>\n\n                <div class=\"col-sm-12 mt-5\">\n                    <label class=\"active\" for=\"percentIncerment\">Percent increment per time</label>\n                    <input id=\"percentIncerment\" value=\"10\" type=\"number\" />\n                    <h5 class=\"help-block\" id=\"inPercentIncrementErr\"></h5>\n                </div>\n            </div>\n            <div class=\"btn btn-info w-25\" id=\"btnSaveSettingUplodaAvaiable\" style=\"position: absolute;\n            bottom: 5px; left: calc(50% - 12%);\">Save</div>\n        </div>\n    </div>\n    <!-- flow detail -->\n    <div class=\"container table-responsive\">\n        <div class=\"row\">\n            <div class=\"col-sm-12\">\n                <div class=\"or-seperator\">\n                    <i id=\"flow-detail-config-label\">Flow Detail\n                        <span class=\"arrow\">&#8659;</span>\n                    </i>\n                </div>\n            </div>\n        </div>\n    </div>\n\n\n    <div class=\"container\" style=\"display: none;\" id=\"flow-detail\">\n        <div class=\"row\">\n            <div class=\"col-sm-12\">\n                <h3>Message received from data-download/available</h3>\n                <p>topic : <span style=\"font-weight: bold;\">{{msg.topicDataDownloadAvailable}}</span></p>\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table table-bordered table-hover  table-wrapper-scroll-x my-custom-scrollbar\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">ts</th>\n                            <th scope=\"col\">fileTransferUid</th>\n                            <th scope=\"col\">storageURL</th>\n                            <th scope=\"col\">filename</th>\n                            <th scope=\"col\">fileType</th>\n                            <th scope=\"col\">fileSize</th>\n                            <th scope=\"col\">fileChecksum</th>\n                            <th scope=\"col\">recipe</th>\n                            <th scope=\"col\">error</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <td scope=\"row\">{{msg.dataDownloadAvailable.ts}}</td>\n                            <td>{{msg.dataDownloadAvailable.fileTransferUid}}</td>\n                            <td>{{msg.dataDownloadAvailable.storageURL}}</td>\n                            <td>{{msg.dataDownloadAvailable.filename}}</td>\n                            <td>{{msg.dataDownloadAvailable.fileType}}</td>\n                            <td>{{msg.dataDownloadAvailable.fileSize}}</td>\n                            <td>{{msg.dataDownloadAvailable.fileChecksum}}</td>\n                            <td>{{msg.dataDownloadAvailable.recipe}}</td>\n                            <td>{{msg.dataDownloadAvailable.error}}</td>\n                        </tr>\n                    </tbody>\n                </table>\n            </div>\n        </div>\n\n        <!-- Publish data upload avaiable  -->\n        <div class=\"row border-line\">\n            <div class=\"col-sm-12\">\n                <h3>Message send to data-download/downloading</h3>\n                <p>topic : <span style=\"font-weight: bold;\">{{msg.topicDataDownloading}}</span></p>\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table table-bordered table-hover\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">#</th>\n                            <th scope=\"col\">ts</th>\n                            <th scope=\"col\">fileTransferUid</th>\n                            <th scope=\"col\">downloadProgress</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <td>1</td>\n                            <td scope=\"row\">{{msg.dataDownloading.ts}}</td>\n                            <td>{{msg.dataDownloading.fileTransferUid}}</td>\n                            <td>{{msg.dataDownloading.downloadProgress}}</td>\n                        </tr>\n                    </tbody>\n                </table>\n            </div>\n        </div>\n        <!--End Publish data upload avaiable  -->\n\n        <!--Subscribe data upload send  -->\n        <div class=\"row border-line\">\n            <div class=\"col-sm-12\">\n                <h3>Message send to data-download/received</h3>\n                <p>topic : <span style=\"font-weight: bold;\">{{msg.topicDataReceived}}</span></p>\n            </div>\n            <div class=\"col-sm-12\">\n                <table class=\"table table-bordered table-hover\">\n                    <thead class=\"thead-dark\">\n                        <tr>\n                            <th scope=\"col\">#</th>\n                            <th scope=\"col\">ts</th>\n                            <th scope=\"col\">fileTransferUid</th>\n                            <th scope=\"col\">fileDownloadResult</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        <tr>\n                            <td>1</td>\n                            <th scope=\"row\">{{msg.dataReceived.ts}}</th>\n                            <td>{{msg.dataReceived.fileTransferUid}}</td>\n                            <td>{{msg.dataReceived.fileDownloadResult}}</td>\n\n                    </tbody>\n                </table>\n            </div>\n        </div>\n    </div>\n    <!-- Optional JavaScript -->\n    <!-- jQuery first, then Popper.js, then Bootstrap JS -->\n    <script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\"\n        integrity=\"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo\"\n        crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"\n        integrity=\"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1\"\n        crossorigin=\"anonymous\"></script>\n    <script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"\n        integrity=\"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM\"\n        crossorigin=\"anonymous\"></script>\n\n\n    <!-- Latest compiled and minified CSS -->\n    <link rel=\"stylesheet\"\n        href=\"https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css\">\n\n    <!-- Latest compiled and minified JavaScript -->\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js\"></script>\n\n\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js\"></script>\n    <script>\n           (function (scope) {\n               var configLabel = $(\"#config-label\");\n               var flowdetailLabel = $(\"#flow-detail-config-label\")\n               var configContainer = $(\"#config-form\")\n               var flowdetailContainer =$(\"#flow-detail\")\n               var btnSave = $(\"#btnSave\")\n               var maxProgress = $(\"#maxProgress\")\n               var timePublish = $(\"#timePublish\")\n               var percentIncerment = $(\"#percentIncerment\")\n               var closeSettingFetchProgressIconId = $(\"#closeSettingFetchProgress\");\n               var settingFetchProgressIconClass = $(\".settingFetchProgress\");\n               var saveButtonSettingDataUploadAvaiavleId = $(\"#btnSaveSettingUplodaAvaiable\");\n               var downloadProgress = $(\"#downloadProgress\")\n               var isPublishDownloading = document.getElementById(\"isPublishDownloading\")\n               var selectFileDownloadResult = $(\"#selectFileDownloadResult\")\n               var showInvalidInput = (field, errorContent) => {\n                    $(field).text(errorContent);\n                }\n                var hideInvalidInput = (field) => {\n                    $(field).text(\"\");\n                }\n               configLabel.click(()=>{\n                    // check if is open\n                    if (configContainer.css(\"display\") == \"none\") {\n                        configContainer.css(\"display\", \"\")\n                    } else {\n                        configContainer.css(\"display\", \"none\")\n                    }\n               })\n               flowdetailLabel.click(()=>{\n                    // check if is open\n                    if (flowdetailContainer.css(\"display\") == \"none\") {\n                        flowdetailContainer.css(\"display\", \"\")\n                    } else {\n                        flowdetailContainer.css(\"display\", \"none\")\n                    }\n               })\n               settingFetchProgressIconClass.click(()=>{\n                    $('.modals').addClass('is-visible');\n               })\n               btnSave.click(() => {\n                   console.log(isPublishDownloading.checked)\n                    scope.send({\n                            isPublishDownloading:isPublishDownloading.checked,\n                            maxProgress:downloadProgress.val(),\n                            downloadResult:selectFileDownloadResult.val(),\n                            increment:percentIncerment.val(),\n                            timeout:timePublish.val()\n                        })\n                })\n            saveButtonSettingDataUploadAvaiavleId.click(()=>{\n                if(maxProgress.val()>100||maxProgress.val()<0 || percentIncerment.val()>100||percentIncerment.val()<0\n                || timePublish.val()<0 || parseInt(percentIncerment.val()) > parseInt(maxProgress.val()))\n                {\n                    \n                    if(maxProgress.val()>100||maxProgress.val()<0)\n                    {\n                        showInvalidInput('#inMaxProgressErr','Progress must between 0 and 100');\n                    }\n                    if(percentIncerment.val()>100||percentIncerment.val()<0 || parseInt(percentIncerment.val()) > parseInt(maxProgress.val()))\n                    {\n                        showInvalidInput('#inPercentIncrementErr','Increment must between 0 and 100 and lesser than maxProgress value');\n                        \n                    }\n                    if(timePublish.val()<0)\n                    {\n                        showInvalidInput('#inPublishTimeErr','Timeout must greater than 0');\n                    }\n                }else{\n                    console.log(\"Success!\")\n                    hideInvalidInput('#inMaxProgressErr')\n                    hideInvalidInput('#inPercentIncrementErr')\n                    hideInvalidInput('#inPublishTimeErr')\n                    alert('Save config success!');\n                    downloadProgress.val(maxProgress.val())\n                    \n                }\n            })\n            closeSettingFetchProgressIconId.click(()=>{\n                        // set last value if incorrect\n                // maxProgressInputId.val(fetchProgress);\n                // timePublishInputId.val(timePublish);\n                // percentIncermentInputId.val(percentIncerment);\n    \n                //clear border error in input\n                // $(\"#settingDataUploadAvailableForm :input\").each(function (i, e) {\n                //     var key = $(this).removeClass(CLASS_ERROR_BORDER);\n                // })\n                // close modal\n                $('.modals').removeClass('is-visible');\n            })\n            \n           })(scope) \n        </script>\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1010,
        "y": 480,
        "wires": [
            [
                "fc3c00ce5127452d",
                "ca62965b8f157407"
            ]
        ]
    },
    {
        "id": "62f26b91ab772408",
        "type": "ui_template",
        "z": "6d235430526e4091",
        "d": true,
        "group": "f49e2c43788fdf80",
        "name": "Save Config",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<!DOCTYPE html>\n<html>\n<head>\n    <title>Employment Verification Form</title>\n    <link href=\"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.5.0/css/all.css\"\n        integrity=\"sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU\" crossorigin=\"anonymous\">\n</head>\n\n<body>\n    <div style=\"margin-left:20px\">\n        <button id=\"btnSaveConfig\">Save config</button>\n    </div>\n    <script src=\"https://code.jquery.com/jquery-3.6.0.js\"\n        integrity=\"sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=\" crossorigin=\"anonymous\">\n        </script>\n    <script>\n        var tranid = $(\"#inUnit\");\n        var saveBtn = $(\"#btnSaveConfig\");\n        var maxDownloadProgress=$(\"#inMaxProgress\");\n        var downloadResult = $(\"#selectDownloadResult\");\n        var qosDownloading = $(\"#qosDownloading\");\n        var retainFlagDownloading = $('#retainFlagDownloading');\n        var qosReceived = $(\"#qosReceived\");\n        var retainFlagReceived = $('#retainFlagReceived');\n        var increment = $('#inIncrement')\n        var timeout=$('#inTimeout')\n        var isPublishDownloading =document.getElementById('isPublish');\n        var showInvalidInput = (field, errorContent) => {\n            $(field).text(errorContent);\n        }\n        var hideInvalidInput = (field) => {\n            $(field).text(\"\");\n        }\n        (function (scope) {\n            saveBtn.click(() => {\n                if(maxDownloadProgress.val()>100||maxDownloadProgress.val()<0 || increment.val()>100||increment.val()<0\n                || timeout.val()<0 || parseInt(increment.val()) > parseInt(maxDownloadProgress.val()))\n                {\n                    \n                    if(maxDownloadProgress.val()>100||maxDownloadProgress.val()<0)\n                    {\n                        showInvalidInput('#inMaxProgressErr','Progress must between 0 and 100');\n                    }\n                    if(increment.val()>100||increment.val()<0 || parseInt(increment.val()) > parseInt(maxDownloadProgress.val()))\n                    {\n                        showInvalidInput('#inIncrementError','Increment must between 0 and 100 and lesser than maxProgress value');\n                        \n                    }\n                    if(timeout.val()<0)\n                    {\n                        showInvalidInput('#inTimeoutError','Timeout must greater than 0');\n                    }\n                }else{\n                    console.log(\"Success!\")\n                    hideInvalidInput('#inIncrementError')\n                    hideInvalidInput('#inTimeoutError')\n                    hideInvalidInput('#inMaxProgressErr')\n                    alert('Save config success!');\n                    scope.send({\n                    isPublishDownloading:isPublishDownloading.checked,\n                    qosDownloading:qosDownloading.val(),\n                    retainFlagDownloading:retainFlagDownloading.val(),\n                    qosReceived:qosReceived.val(),\n                    retainFlagReceived:retainFlagReceived.val(),\n                    maxProgress:maxDownloadProgress.val(),\n                    downloadResult:downloadResult.val(),\n                    topicDownloading:tranid.val()+\"/data-download/downloading\",\n                    topicReceived:tranid.val()+\"/data-download/received\",\n                    increment:increment.val(),\n                    timeout:timeout.val()\n                    })\n                    \n                }\n            })\n        })(scope)\n    </script>\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 370,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fc3c00ce5127452d",
        "type": "function",
        "z": "6d235430526e4091",
        "name": "Store Config to global Variable",
        "func": "// global.set('topicDownloading', msg.topicDownloading);\n// global.set('topicReceived',msg.topicReceived);\n// global.set('qosDownloading',msg.qosDownloading);\n// global.set('retainFlagDownloading',msg.retainFlagDownloading);\n// global.set('qosReceived',msg.qosReceived);\n// global.set('retainFlagReceived',msg.retainFlagReceived)\nglobal.set('maxProgress',msg.maxProgress);\nglobal.set('downloadResult',msg.downloadResult);\nglobal.set('isPublishDownloading',msg.isPublishDownloading)\nglobal.set('increment',msg.increment)\nglobal.set('timeout',msg.timeout)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "3612d661dcd7d9bb",
        "type": "mqtt out",
        "z": "6d235430526e4091",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e2ca8ae.a41228",
        "x": 1110,
        "y": 100,
        "wires": []
    },
    {
        "id": "821ff572484bafbc",
        "type": "function",
        "z": "6d235430526e4091",
        "name": "Publish Message",
        "func": "var maxProgress = global.get('maxProgress');\nvar topicDownloadAvailable = global.get('topicDownloadAvailable');\nvar trainId=topicDownloadAvailable.split(\"/\")[0];\nvar topicDownloading=trainId+\"/data-download/downloading\"\nvar topicReceived=trainId+\"/data-download/received\"\nvar downloadResult=global.get('downloadResult');\nvar payloadAvailable = global.get('payloadDownloadAvailable')\nvar isPublishDownloading=global.get('isPublishDownloading');\nvar increment = global.get('increment');\nvar timeout = global.get('timeout');\nvar proGress=0;\n\nfunction test()\n{\n    if(proGress<=maxProgress&&isPublishDownloading==true)\n    {\n        setTimeout(function(){\n        var myDate= new Date()\n        var curDate=myDate.getFullYear() + '-' \n        +('0' + (myDate.getMonth()+1)).slice(-2)+ '-' \n        +  ('0' + myDate.getDate()).slice(-2) + ' '+myDate.getHours()\n        + ':'+('0' + (myDate.getMinutes())).slice(-2)+ ':'+myDate.getSeconds()\n        var payloadDownloading = {ts:curDate\n        ,fileTransferUid:payloadAvailable.fileTransferUid\n        ,downloadProgress:proGress};\n        msg['payload'] =payloadDownloading;\n        msg['dataDownloading']= payloadDownloading;\n        msg['topic']=topicDownloading\n        msg['topicDataDownloading']=topicDownloading;\n        node.send([msg,null]);\n        \n        if(proGress==maxProgress)\n        {\n        \n        var payloadReceived = {ts:curDate\n        ,fileTransferUid:payloadAvailable.fileTransferUid\n        ,fileDownloadResult:downloadResult};\n        msg['payload'] = payloadReceived;\n        msg['dataReceived']= payloadReceived;\n        msg['topic']=topicReceived\n        msg['topicDataReceived']=topicReceived\n        node.send([null,msg]);\n        }\n        proGress+=parseInt(increment);\n        test()\n        \n        },timeout) \n    }\n    if(isPublishDownloading==false)\n    {\n        var myDate= new Date()\n        var curDate=myDate.getFullYear() + '-' \n        +('0' + (myDate.getMonth()+1)).slice(-2)+ '-' \n        +  ('0' + myDate.getDate()).slice(-2) + ' '+myDate.getHours()\n        + ':'+('0' + (myDate.getMinutes())).slice(-2)+ ':'+myDate.getSeconds()\n        var payloadReceived = {ts:curDate\n        ,fileTransferUid:payloadAvailable.fileTransferUid\n        ,fileDownloadResult:downloadResult};\n        msg['payload'] = payloadReceived;\n        msg['dataReceived']= payloadReceived;\n        msg['topic']=topicReceived\n        msg['topicDataReceived']=topicReceived\n        node.send([null,msg]);\n    }\n}\ntest()\n\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 240,
        "wires": [
            [
                "3612d661dcd7d9bb",
                "555e5b022e5d5cc0",
                "a936bca56fe5503c"
            ],
            [
                "3612d661dcd7d9bb",
                "555e5b022e5d5cc0",
                "a936bca56fe5503c"
            ]
        ]
    },
    {
        "id": "a936bca56fe5503c",
        "type": "debug",
        "z": "6d235430526e4091",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 200,
        "wires": []
    },
    {
        "id": "ca62965b8f157407",
        "type": "debug",
        "z": "6d235430526e4091",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 460,
        "wires": []
    },
    {
        "id": "6e2ca8ae.a41228",
        "type": "mqtt-broker",
        "name": "",
        "broker": "${MQTT_SERVER}",
        "port": "${MQTT_PORT}",
        "clientid": "${MQTT_CLIENTID}",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "aemr_810001/disconnect",
        "birthQos": "2",
        "birthRetain": "false",
        "birthPayload": "connect",
        "birthMsg": {},
        "closeTopic": "aemr_810001/disconnect",
        "closeQos": "2",
        "closeRetain": "false",
        "closePayload": "disconnect",
        "closeMsg": {},
        "willTopic": "aemr_810001/disconnect",
        "willQos": "2",
        "willRetain": "false",
        "willPayload": "unexpected disconnection",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7fce73c040737ad1",
        "type": "ui_group",
        "name": "",
        "tab": "a148638faa8a534b",
        "order": 5,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "f49e2c43788fdf80",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "27",
        "collapse": false
    },
    {
        "id": "a148638faa8a534b",
        "type": "ui_tab",
        "name": "3.4.8 OBS - Downloads File Flow",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]